﻿@model CGM.Models.MyModels.FiltroViewModel


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header mb-2 text-center"><h2>Filtro de @ViewBag.Tipo</h2></div>
            <div class="card-body">

                @using (Html.BeginForm("Create", "Filtros"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(f => f.filtro.destination_id)
                    @Html.HiddenFor(f => f.filtro.market_id)

                    if ((Model.boundaries != null) && (Model.boundaries.Any()))
                    {
                        @selectButtons()
                        <div class="row m-lg-3">
                            <div class="table-responsive">
                                <select multiple="multiple" id="selectList" name="selectList" class="searchable" style="width: 100%;">
                                    @foreach (var item in Model.boundaries)
                                    {
                                        <option value='@item.id'>@item.code - @item.name</option>
                                    }
                                </select>
                                @Counter()
                                @Submit()

                            </div>
                        </div>
                    }
                    else if (Model.meters != null && Model.meters.Any())
                    {
                        @selectButtons()
                        <div class="row m-lg-3">
                            <div class="table-responsive">
                                <select multiple="multiple" id="selectList" name="selectList" class="searchable" style="width: 100%;">
                                    @foreach (var item in Model.meters)
                                    {
                                        if (item.Boundary == null)
                                        {
                                            <option value='@item.id'>@item.serial - @item.Model_Meter.brand </option>}
                                        else
                                        {
                                            <option value='@item.id'>#@item.serial - @item.Model_Meter.brand -- @item.Boundary.code - @item.Boundary.name </option>}
                                    }
                                </select>
                                @Counter()
                                @Submit()
                            </div>
                        </div>

                    }
                    else
                    {
                        @ViewHelpers.NoElements()
                    }

                }
            </div>
        </div>
    </div>
</div>

@helper selectButtons()
{
<div class="row">
    <div class="col-6 "><button id="btnSelect" type="button"class="small btn btn-light">Seleccionar todos</button></div>
    <div class="col-6 text-right"><button id="btnDeselect" type="button" class="small btn btn-light">Borrar todos</button></div>
</div>    
}
@helper Counter()
{
<div class="row">
    <div class="col-6 "><label id="elem-not-included" class="text-gray"></label></div>
    <div class="col-6 text-right"><label id="elem-included" class="text-gray"></label></div>
</div>     
}

@helper Submit()
{
    <hr />
    <div class="row mr-lg-3 ml-lg-3 mb-0">
        <div class="col-lg-12">
            <div class="form-group">
                @Html.LabelFor(model => model.filtro.Name, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.filtro.Name, "", new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre de filtro", Value = ViewBag.suggestedName } })
                @Html.ValidationMessageFor(model => model.filtro.Name, "", new { @class = "text-danger small" })
            </div>
        </div>
    </div>

    @Html.Partial("_BtnSubmit", "Crear")
}

<script>
    $('#btnSelect').click(function () {
        $('#selectList').multiSelect('select_all')
    })
    $('#btnDeselect').click(function () {
        $('#selectList').multiSelect('deselect_all')
    })

    $('.ms-elem-selectable').addClass("smallfontsize")
</script>
