﻿@model CGM.Models.MyModels.FiltroViewModel

@{
    string width = "12";
    string tipo = ViewBag.tipo;
}
<div class="row">
    <div class="col-lg-@(width)">
        <div class="card text-center">
            <div class="card-header mb-2"><h3>Tipo de filtro - Fronteras</h3></div>
            <div class="card-body">
                @* La siguiente pieza de código se utilizaba cuando se distinguía entre fronteras y medidores *@
                @*<div class="form-group">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-3">
                            <div class="i-checks">
                                <input id="radioTipo0" type="radio" value="1" name="radioTipo" class="form-control-custom radio-custom TipoPick">
                                <label class="h1" for="radioTipo0" style="font-size:large">Fronteras</label>
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="i-checks">
                                <input id="radioTipo1" type="radio" value="0" name="radioTipo" class="form-control-custom radio-custom TipoPick">
                                <label class="h1" for="radioTipo1" style="font-size:large">Medidores</label>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div id="mercado" class="row">
                    <div class="col-lg-3"><h4>Mercado:</h4></div>
                    <div class="col-lg-3">
                        <div class="i-checks">
                            <input id="radioMarket0" type="radio" value="0" name="radioMarket" class="form-control-custom radio-custom MarketPick">
                            <label for="radioMarket0">Generación</label>
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="i-checks">
                            <input id="radioMarket1" type="radio" value="1" name="radioMarket" class="form-control-custom radio-custom MarketPick">
                            <label for="radioMarket1">Comercialización</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_TempResult")

<div class="row">
    <div class="col-lg-@(width)" id="filtroWrapper"></div>

</div>
    @*Scripts para la vista Create *@
<script src="@Url.Content("~")Content/vendor/multiselect/js/jquery.multi-select.js"></script>
<script src="@Url.Content("~")Content/vendor/jquery.quicksearch.js"></script>
<script src="@Url.Content("~")Scripts/Helpers.js"></script>

<script>
    function fireMulti() {
        multiSelectListSearchable('#selectList');
        $('.ms-container').css("width", "100%")

        $(".ms-list").click(function () {
            var xin = $(".ms-selectable").children().children().filter(function () {
                return $(this).css('display') == 'none';
            })
            var xout = $(".ms-selection").children().children().filter(function () {
                return $(this).css('display') == 'none';
            })

            $("#elem-included").text(xin.length)
            $("#elem-not-included").text(xout.length)
        })
        $(".ms-list").click()
        $('.ms-elem-selectable').css("font-size", "11px") // Did not work to add the class, idk why
        $('.ms-elem-selection').css("font-size", "11px") // Did not work to add the class, idk why
    }
</script>
<script>

    @* La siguiente pieza de código se utilizaba cuando se distinguía entre fronteras y medidores. Se deja en caso de requerirse después *@

        @*$(".TipoPick").change(function () {
          $("#mercado").hide()
            idfil = $(this).val();
            if (idfil == 0) {
                $("#mercado").slideUp();

                $.ajax({
                    url: "@Url.Content("~")Filtros/CreatePartial/",
                    type: 'GET',
                    data: { id : idfil},
                    success: function (result) {
                        $("#filtroWrapper").empty();
                        $("#filtroWrapper").html(result);
                        fireMulti()
                    }
                })
            }
            else {
                $("#mercado").slideDown();
                $("#filtroWrapper").empty();
            }
        })*@

    $(".MarketPick").change(function () {
        var market_id = $(this).val();
        var idfil = 1; // 1 es para fronteras. 0 para medidores. 
        console.log(market_id)
            $.ajax({
                url: "@Url.Content("~")Filtros/CreatePartial/",
                type: 'GET',
                //data: { id: idfil, market: market_id},
                data: { id: idfil, market: market_id},
                success: function (result) {
                    $("#filtroWrapper").empty();
                    $("#filtroWrapper").html(result);
                    fireMulti()
                }
            })
    })
    $("#radioMarket1").click() //Activa la lista de fronteras de comercialización para inicialización

</script>

