﻿@model CGM.Models.CGMModels.Filtro

@{
    ViewBag.Title = "Eliminar";
    String ctrl=ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";

}

<header>
    <div class="row align-content-center">
        <div class="pr-4 fa fa-2x fa-trash"></div>
        <h1>Realmente quiere eliminar este elemento?</h1>
    </div>
</header>
<hr />
<div class="row">
    <div class="col-lg-5">
        <div class="card">
            <div class="card-header">
                <h4>@ViewBag.ControllerName</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
															        
							<tr>
								<td scope="row">@Html.DisplayNameFor(model => model.Name)</td>
								<th><label>@Html.DisplayFor(model => model.Name)</label></th>
							</tr>        
										        
							<tr>
								<td scope="row">@Html.DisplayNameFor(model => model.destination_id)</td>
								<th><label>@Html.DisplayFor(model => model.Destination.name)</label></th>
							</tr>        
				        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row-6">
        <div><div id="loader" style="display:none" class="lds-ellipsis p-4"><div></div><div></div><div></div><div></div></div></div>
        <div id="elementsWrapper" class=""></div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-danger">
        <span class="fa fa-times"></span>
        Eliminar
    </button>

    <button type="button" class="btn btn-default back">
        <span class="fa fa-arrow-left "></span>
        Volver
    </button>
}

@section scriptsbody{
    <script>
    $(".back").click(function (e) {
        document.location = "@Url.Action("Index")";
    });
    </script>
    <script>
        $(function () {
            $('#loader').show();
            $.ajax({
                    type: 'GET',
                    url: "@Url.Content("~")Filtros/Details",
                    data: { id: @(Model.Id), display: 0 },
                    success: function (data) {
                        $("#elementsWrapper").html(data);
                        $('#elementsWrapper').css({ "max-height": "550px","overflow-y":"scroll"})
                        $('#loader').hide();
                    }
                })
            }
        )
    </script>
}
