﻿@model List<CGM.Areas.Telemetry.Models.MyModels.StateView>
@{
    int cont = Model.Count+1;
}
<div class="row justify-content-center">
    <div class="col-12">
        <div class="row">
            <div class="col-3"><h5>Frontera</h5></div>
            <div class="col-3"><h5>Código</h5></div>
        </div>
        <div class="row">
            <div class="col-3"><label class="small">@ViewBag.name</label></div>
            <div class="col-3"><label class="small">@ViewBag.code</label></div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="container-fluid">
        <table class="table table-striped table-sm table-responsive">
            <thead>
                <tr>
                    <th width="10%">#</th>
                    <th width="20%">Hora</th>
                    <th>Mensaje de error</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderByDescending(m => m.Time))
                {
                    { cont--; }
                    <tr>
                        <td>@cont</td>
                        <td>@item.Time.ToString("dd/MM/yyyy - hh:mm tt")</td>
                        <td style="white-space:pre-line;">
                            <div class="boxNoScrollBar2">@item.message</div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


