﻿@model IEnumerable<CGM.Areas.Telemetry.Models.VReport> 
@using CGM.Helpers
@{
    int? dest = ViewBag.dest; //Se produce un error cuando es nulo.
    bool fBool = ViewBag.dest == 1; //Fronteras
    bool mBool = ViewBag.dest == 0; //Medidores
}

<div class="card">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col-6">
                <h2 class="display"> <i class="fa fa-circle mr-1 text-warning"></i>  En cola para ejecución</h2>
            </div>
            <div class="col-6 text-right">
                <button class="btn btn-outline-danger small btnState" value="700"><i class="fa fa-trash"></i>  Cancelar operación</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (Model.Count() != 0)
        {

            <div class="table-responsive small">

                    <table id="tblFrontera" class="table tblCustom">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.id)</th>
                                <th>@Html.DisplayNameFor(model => model.code)</th>
                                <th>@Html.DisplayNameFor(model => model.name)</th>
                                @*<th>@Html.DisplayNameFor(model => model.source)</th>*@
                                <th>@Html.DisplayNameFor(model => model.brand)</th>
                                <th>@Html.DisplayNameFor(model => model.is_backup)</th>
                                <th>@Html.DisplayNameFor(model => model.priority)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderByDescending(p => p.priority))
                            {
                                <tr>
                                    <td>@item.id</td>
                                    <td><div>@Html.DisplayFor(modelItem => item.code)</div></td>
                                    <td><div>@Html.DisplayFor(modelItem => item.name)</div></td>
                                    <td><div class="small"> @Html.DisplayFor(modelItem => item.brand) - #@Html.DisplayFor(modelItem => item.serial) </div></td>
                                    <td>@ViewHelpers.backupHelper(item.is_backup)</td>
                                    <td><div>@ViewHelpers.priorityHelper(item.priority) </div></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                
            </div>
        }
        else
        {
            <div class="col-6"><h6 class="alert alert-secondary">No hay tareas por ejecutar.</h6></div>
        }
    </div>
</div>

@Scripts.Render("~/bundles/dataTablesScript")
<script src="@Url.Content("~")Content/vendor/datatablesCHK/dataTables.checkboxes.min.js"></script>

<script>
    $(function () {
        var params = {};
         table = $('#tblFrontera').DataTable(
            {
                "language": {
                    "url": "@Url.Content("~")Scripts/es-CO.txt"
                 }
                 ,
                 "pageLength": 15,
                 'columnDefs': [
                     {
                         'targets': 0,
                         "width": "10%",
                         'checkboxes': {
                             'selectRow': true,
                         }
                     },
                     {
                         'targets': 5,
                         "className": "text-center",
                     }
                 ],
                 'select': {
                     'style': 'multi'
                 }
                 ,
                 'order': [[1, 'asc']]
                //    ,
                //"columnDefs": [
                //     {
                //         "targets": 1, // your case first column
                //         "className": "text-center",
                //         "width": "4%"
                //     },
                //     {
                //         "targets": 0,
                //         "width": "15%"
                //

            }
         );
    })

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>