﻿@model IEnumerable<CGM.Models.CGMModels.VMeasure>  

<div class="card">
    <div class="card-header">
        <h4>Reporte preliminar</h4>        
    </div>
    <div class="card-body"> 
      
                <div class="table-responsive"> 
                    <table id="tblBoundaries" class="table small"> 
                        <thead>
                            <tr>
                                <th>CODIGO SIC</th>
                                <th>USUARIO</th>
                                <th>FECHA</th>
                                <th>PERIODO</th>
                                <th>ACTIVA +</th>
                                <th>REACTIVA +</th>
                                <th>ACTIVA -</th>
                                <th>REACTIVA -</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var boundary in Model.GroupBy(m => (name: m.name, code: m.code, backup: m.is_backup, periodo: m.hour)))
                            {
                            <tr>
                                <td>@Html.DisplayFor(model => boundary.Key.code)</td>
                                <td>@Html.DisplayFor(model => boundary.Key.name)</td>
                                <td>@boundary.Key.periodo.Year / @boundary.Key.periodo.Month / @boundary.Key.periodo.Day</td>
                                <td>@boundary.Key.periodo.ToString("hh:mm tt") </td>

                                @foreach (var measure in boundary.Where(m => m.unit == "kWh").OrderBy(m => m.hour))
                                {
                                    <td class="text-center">@Math.Round(@measure.measure, 3).ToString().Replace(",", ".")</td>
                                }

                                @foreach (var measure in boundary.Where(m => m.unit == "kVARh").OrderBy(m => m.hour))
                                {
                                    <td class="text-center">@Math.Round(@measure.measure, 3).ToString().Replace(",", ".")</td>
                                }

                                <td>-</td>
                                <td>-</td>
                            </tr>
                            }
                        </tbody> 
                        <tfoot>
                            <tr>
                                <th>-</th>
                                <th>-</th>
                                <th>-</th>
                                <th>TOTALES </th>

                                <th class="text-center">@Math.Round(Model.Where(m => m.unit == "kWh").Sum(m => m.measure), 3).ToString().Replace(",", ".")</th>
                                <th class="text-center">@Math.Round(Model.Where(m => m.unit == "kVARh").Sum(m => m.measure), 3).ToString().Replace(",", ".")</th>

                                <th>-</th>
                                <th>-</th>
                            </tr>
                        </tfoot>
                    </table> 
                </div>
                <script>
                    $(function () {
                          var table = $('#tblBoundaries').DataTable(
                          {
                             dom:`<'row'<'col-sm-9 text-left'B><'col-sm-3'f>>
                                  <'row'<'col-sm-12'tr>>
                                  <'row'<'col-sm-5'i><'col-sm-7'p>>`
                                  ,
                            lengthChange: false,
                              buttons: [
                                  {
                                      extend: 'csv',
                                      title: 'CONSUMO INDIVIDUAL VERTICAL'
                                  },
                                  {
                                      extend: 'excel',
                                      title: 'Titulo de Reporte',
                                      footer: true
                                  }
                              ],
                               "language": {
                                    "url": "@Url.Content("~")Scripts/es-CO.txt"
                            },
                            "columnDefs": [
                                { "width": "100px", "targets": 0 },
                                { "width": "150px", "targets": 1 },
                                { "width": "60px", "targets": 3 }
                            ],
                              scrollY: "500px",
                              scrollX: true,
                              scrollCollapse: true,
                              paging: false,
                              fixedColumns: {
                                  leftColumns: 4
                              },
                              "order": [[0, "desc"], [2, "asc"]]
                          })

                        table.buttons().container()
                            .appendTo($('.col-md-6:eq(0)', table.table().container()));                       
                    })
                </script>        
        <hr />
    </div>
</div>
