﻿@model IEnumerable<CGM.Models.CGMModels.VMeasure>  

<div class="card">
    <div class="card-header">
        <h4>Reporte preliminar</h4>        
    </div>
    <div class="card-body"> 
      
                <div class="table-responsive"> 
                    <table id="tblBoundaries" class="table small"> 
                        <thead>
                            <tr>
                                <th>CODIGO SIC</th>
                                <th>USUARIO</th>
                                <th >TIPO CONSUMO</th>
                                <th>FECHA</th>
                                @for (int i = 1; i <= 24; i++)
                                {
                                    <th>H@(i)</th>
                                }
                                <th>MES</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int cant = @Model.GroupBy(m => new Tuple<string, DateTime, string, bool?>( m.name,  m.operation_date, m.code, m.is_backup)).Count();
                            }

                            @*ACTIVA +*@

                            @{int index = 1;}
                            @foreach (var boundary in Model.GroupBy(m => new Tuple<string, DateTime, string, bool?>(m.name, m.operation_date, m.code, m.is_backup)).OrderBy(m => m.Key.operation))
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => boundary.Key.code)</td>
                                    <td>@Html.DisplayFor(model => boundary.Key.name)</td>
                                    <td>ACTIVA + </td>
                                    <td>@boundary.Key.operation.Value.Year / @boundary.Key.operation.Value.Month / @boundary.Key.operation.Value.Day</td>

                                    @{ int contKwh = boundary.Where(m => m.unit == "kWh").Count(); }
                                    @foreach (var measure in boundary.Where(m => m.unit == "kWh").OrderBy(m => m.hour))
                                    {
                                        <td class="text-center">@Math.Round(@measure.measure, 3).ToString().Replace(",", ".")</td>
                                    }

                                    @if (contKwh != 24)
                                    {
                                        for (var i = contKwh; i < 24; i++)
                                        {
                                            <td class="text-center">0</td>
                                        }
                                    }

                                    @if (index++ == cant)
                                    {
                                        <td> @Math.Round(@Model.Where(m => m.unit == "kWh").Sum(m => m.measure), 3).ToString().Replace(",", ".") </td>
                                    }
                                    else
                                    {
                                        <td> - </td>
                                    }
                                </tr>
                            }

                            @*ACTIVA +*@

                            @{index = 1;}
                            @foreach (var boundary in Model.GroupBy(m => (name: m.name, operation: m.operation_date, code: m.code, backup: m.is_backup)).OrderBy(m => m.Key.operation))
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => boundary.Key.code)</td>
                                    <td>@Html.DisplayFor(model => boundary.Key.name)</td>
                                    <td>REACTIVA + </td>
                                    <td>@boundary.Key.operation.Value.Year / @boundary.Key.operation.Value.Month / @boundary.Key.operation.Value.Day</td>

                                    @{ int contKwh = boundary.Where(m => m.unit == "kVARh").Count(); }
                                    @foreach (var measure in boundary.Where(m => m.unit == "kVARh").OrderBy(m => m.hour))
                                    {
                                        <td class="text-center">@Math.Round(@measure.measure, 3).ToString().Replace(",", ".")</td>
                                    }

                                    @if (contKwh != 24)
                                    {
                                        for (var i = contKwh; i < 24; i++)
                                        {
                                            <td class="text-center">0</td>
                                        }
                                    }

                                    @if (index++ == cant)
                                    {
                                        <td> @Math.Round(@Model.Where(m => m.unit == "kVARh").Sum(m => m.measure), 3).ToString().Replace(",", ".") </td>
                                    }
                                    else
                                    {
                                        <td> - </td>
                                    }
                                </tr>
                            }
                        </tbody> 
                    </table> 
                </div>
                <script>
                    $(function () {
                          var table = $('#tblBoundaries').DataTable(
                          {
                             dom:`<'row'<'col-sm-9 text-left'B><'col-sm-3'f>>
                                  <'row'<'col-sm-12'tr>>
                                  <'row'<'col-sm-5'i><'col-sm-7'p>>`
                                  ,
                            lengthChange: false,
                              buttons: [
                                  {
                                      extend: 'csv',
                                      title: 'CONSUMO INDIVIDUAL HORIZONTAL'
                                  },
                                  {
                                      extend: 'excel',
                                      title: 'CONSUMO INDIVIDUAL HORIZONTAL'
                                  }
                              ],
                               "language": {
                                    "url": "@Url.Content("~")Scripts/es-CO.txt"
                            },
                            "columnDefs": [
                                { "width": "100px", "targets": 0 },
                                { "width": "150px", "targets": 1 },
                                { "width": "60px", "targets": 3 }
                            ],
                              scrollY: "500px",
                              scrollX: true,
                              scrollCollapse: true,
                              paging: false,
                              fixedColumns: {
                                  leftColumns: 4
                                  },
                               "order": [[0, "desc"], [2, "asc"],[3, "desc"]]
                          })

                        table.buttons().container()
                            .appendTo($('.col-md-6:eq(0)', table.table().container()));                       
                    })
                </script>        
        <hr />
    </div>
</div>
