﻿@model IEnumerable<CGM.Models.CGMModels.VMeasure>  

<div class="card">
    <div class="card-header">
        <h4>Reporte preliminar</h4>        
    </div>
    <div class="card-body"> 
      
                <div class="table-responsive"> 
                    <table id="tblBoundaries" class="table small">
                        <thead>
                            <tr>
                                <th style="width:150px;">USUARIOS</th>
                                <th>CODIGO SIC</th>
                                @foreach (var boundary in Model.GroupBy(m => m.operation_date).OrderBy(m => m.Key))
                                {
                                    <th style="width:80px;">@boundary.Key.Year / @boundary.Key.Month / @boundary.Key.Day</th>
                                }
                                <th>TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var boundary in Model.GroupBy(m => new Tuple<string, string, bool?>(m.name, m.code, m.is_backup)))
                            {
                            <tr>
                                <td>@Html.DisplayFor(model => boundary.Key.Item1)</td>
                                <td>@Html.DisplayFor(model => boundary.Key.Item2)</td>

                                @foreach (var boundaryDate in Model.GroupBy(m => m.operation_date).OrderBy(m => m.Key))
                                {
                                    var valor = boundary.Where(m => m.unit == "kWh" && m.operation_date == boundaryDate.Key).Sum(m => m.measure);

                                    if (valor > 0)
                                    { 
                                        <td class="text-center" style="width:80px;">@Math.Round(@valor,3).ToString().Replace(",", ".")</td>
                                    }
                                    else
                                    {
                                        <td class="text-center" style="width:80px;">0</td>
                                    }
                                }                             

                                <td>@Math.Round(@boundary.Where(m => m.unit == "kWh").Sum(m => m.measure), 3).ToString().Replace(",", ".")</td>

                            </tr>
                            }
                        </tbody>
                    </table> 
                </div>
                <script>
                    $(function () {
                          var table = $('#tblBoundaries').DataTable(
                          {
                             dom:`<'row'<'col-sm-9 text-left'B><'col-sm-3'f>>
                                  <'row'<'col-sm-12'tr>>
                                  <'row'<'col-sm-5'i><'col-sm-7'p>>`
                                  ,
                            lengthChange: false,
                              buttons: [
                                  {
                                      extend: 'csv',
                                      title: 'REPORTE DIARIO CGM'
                                  },
                                  {
                                      extend: 'excel',
                                      title: 'Titulo de Reporte'
                                  }
                              ],
                               "language": {
                                    "url": "@Url.Content("~")Scripts/es-CO.txt"
                                  },
                            "columnDefs": [
                                { "width": "90px", "targets": 1 }
                            ],
                              scrollY: "500px",
                              scrollX: true,
                              scrollCollapse: true,
                              paging: false,
                              fixedColumns: {
                                  leftColumns: 2
                            },
                              "order": [[2, "desc"], [3, "desc"], [4, "desc"]]
                          })

                        table.buttons().container()
                            .appendTo($('.col-md-6:eq(0)', table.table().container()));                       
                    })
                </script>        
        <hr />
    </div>
</div>
