﻿<div class="col-lg-6">
    @try
    {
        if (!ViewBag.Result.Equals(default(KeyValuePair<string, string>))) //En este caso entrega true, pero si no es de este tipo, genera excepción y se va al catch
        {
            KeyValuePair<string, string> result = ViewBag.Result;
            <span id="resultMsg" style="display:none">@result.Value.ToString()</span>
            if (result.Key == "true")
            {
                <div id="alertmsg" class="alert alert-success alert-dismissible fade show fadeauto">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="fa fa-check success"></i>
                </div>
            }
            if (result.Key == "truemsg")
            {
                <script>
                Messenger().post({
                    message: "@result.Value",
                    type: 'success',
                    showCloseButton: true
                });
                </script>
            }

            if (result.Key == "false")
            {
                <div id="alertmsg" class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="fa fa-times danger"></i>
                </div>
            }
            if (result.Key == "warning")
            {
                <div id="alertmsg" class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="fa fa-warning warning"></i>
                </div>
            }
            if (result.Key == "error")
            {
                <div id="alertmsg" class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="fa fa-warning danger"></i>
                </div>
            }
            <script>
                $(function () {
                    var alertBox = $("#alertmsg");
                    var strAlertMsg = $("#resultMsg").text()
                    var strSplit = strAlertMsg.split('\n')
                    for (var i = 0; i < strSplit.length; i++) {
                        alertBox.append(strSplit[i] + "<br>")
                    }
                })
                $("#alertmsg")
            </script>
        }
    }
    catch (Exception ex) //No se muestra nada, pues simplemente no existe el KeyValuePair. Solo que este no se puede comparar con null
    {

    }

</div>
