﻿@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div class="centeredAcross"><img src="~/Images/Error404.png" style="width:700px; height:auto"/></div>
<br />
<br />
<h3>Hubo un problema en el proceso.</h3>
@if (ViewBag.ErrorMessage != null)
{
    <h4>Mensaje de Error: @ViewBag.ErrorMessage</h4>
}
<h4>Por favor regrese inicio</h4>

<button class="shortcut-button bg-cyan bg-active-darkBlue fg-white" style="margin:20px" onclick="location.href='@Url.Action("Index","ReportInforms")'">
    <span class="icon mif-home"></span>
</button>



