﻿@using CGM.Models.MyModels;
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json;

@helper alarm1Parameters()
{
    <div class="form-group row">
        <label class="col-lg-3 form-control-label">Valores de comparación </label>
        <div class="col-lg-9">
            <div class="i-checks mb-3">
                <input id="radioValueSource2" type="radio" value="1" name="compareTo" class="form-control-custom radio-custom">
                <label for="radioValueSource2">Curva típica (Definida por defecto para esta unidad de medida)</label>
            </div>
            <div class="i-checks">
                <input id="radioValueSource1" type="radio" value="0" checked="" name="compareTo" class="form-control-custom radio-custom">
                <label for="radioValueSource1">Valor máximo por defecto de cada frontera.</label>
            </div>
        </div>
    </div>
    <hr />

    <div class="form-group row">
        <label class="col-lg-3 form-control-label">Valor de exceso<br><small class="text-secondary"> con respecto al valor de comparación.</small></label>
        <div class="col-lg-9">
            <div class="form-group row pb-0">
                <div class="col-lg-6 pb-0">
                    <div class="i-checks">
                        <input id="radioExcessValue1" type="radio" value="0" checked="" name="excessValuePick" class="form-control-custom radio-custom">
                        <label for="radioExcessValue1">Valor fijo.</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <input type="number" value="10" name="excessValue" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <div class="i-checks">
                        <input id="radioExcessValue2" type="radio" value="1" name="excessValuePick" class="form-control-custom radio-custom">
                        <label for="radioExcessValue2">Porcentaje (%)</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@helper printAlarmParameters(string parameters)
{// Prints the parameter table in a single row, to show in the index and details view of the Alarms controller
    <table class="m-0 table-borderless">
        <tbody>
            <tr>
                @* Converts the string into a List<JObject> object. It has a list of name/value pairs, parsed into a Dictionary-like class *@
                @foreach (var parameter in JsonConvert.DeserializeObject<List<JObject>>(parameters).OrderBy(p => p["name"].ToString()))
                {
                    <td>
                        <p class="h6"> @CriticSummary.parameterReadableNames(parameter["name"].ToString(), "") </p>
                        <p> @CriticSummary.parameterReadableNames(parameter["name"].ToString(), parameter["value"].ToString()) </p>
                    </td>
                }
            </tr>
        </tbody>
    </table>

}

@helper basicModal(string id, string title)
{
    <!-- Modal -->
    <div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">@title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="@(id)_body"></div>
                </div>
            </div>
        </div>
    </div>
}

@helper detailsMonitor()
{
    <div class="modal fade" id="detailsMonitor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalles de reintentos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center"><div id="loaderModal" style="display:none" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
                    <div id="detailsWrapper"></div>
                </div>
            </div>
        </div>
    </div>
}

@helper retryBadge(long id, string retries)
{
    if (retries.StartsWith("\"")) //Cuando comienza con "es-US" o "es-ES"
    {
        <span>0</span>
    }
    else
    {
        if (int.Parse(retries) > 0)
        {<h3> <a id="@id" class="badge badge-warning retryBadge" data-target="#detailsMonitor" data-toggle="modal" href="#">@retries</a></h3> }
    else
    { <span>@retries</span>}
}
}