﻿@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using System.Web.Helpers;
@using System.Linq.Expressions;

@helper backupHelper(bool? backup)
{
    switch (backup)
    {
        case true:<label class="text-primary small">Respaldo</label> break;
        case false: <label class="text-success small">Principal</label> break;
        case null: <label class="small">No asignado</label>break;
        default:
            break;
    }
}

@helper backupHelperSimple(bool? backup)
{
    switch (backup)
    {
        case true:<label class="text-primary m-0">R</label> break;
        case false: <label class="text-success m-0">P</label> break;
        case null: <label class="small m-0">No asignado</label>break;
        default:
            break;
    }
}

@helper AbiertoOCerrado(bool? item, string itemvalue)
{
    if (!item.HasValue)
    {
        <span class="text-warning">Abierto</span>
    }
    else if (!item.Value)
    {
        <span class="text-warning">Abierto</span>
    }
    else
    {
        <span class="text-success">@itemvalue</span>
    }
}
@*@helper statusHelper(int? status)
    {
        try
        {
            switch (status)
            {
                case 1:<div class="fa fa-2x fa-square text-secondary" data-toggle="tooltip" data-placement="right" title="Pendiente"></div><div class="small whiteRight">@status</div>break; //Pendiente
                case 2:<div class="fa fa-2x fa-caret-right text-primary" data-toggle="tooltip" data-placement="right" title="En proceso" /> <div class="small whiteRight">@status</div>break; //En proceso
                case 3:<div class="fa fa-2x fa-times-rectangle text-danger" data-toggle="tooltip" data-placement="right" title="Error" /> <div class="small whiteRight">@status</div>break; //Error
                case 4:<div class="fa fa-2x fa-minus-square text-warning" data-toggle="tooltip" data-placement="right" title="Advertencia" /><div class="small whiteRight">@status</div>break; //Advertencia
                case 5:<div class="fa fa-2x fa-check-square text-success" data-toggle="tooltip" data-placement="right" title="Exitoso" /> <div class="small whiteRight">@status</div>break; //Exitoso
                case 6:<div class="fa fa-2x fa-caret-right text-primary" data-toggle="tooltip" data-placement="right" title="En cola" /> <div class="small whiteRight">@status</div>break; //En cola
                default:
                break;
           }
       }
        catch (Exception ex)
        {
        <script>console.log("status error")</script>
        //throw;
        }
    }*@


@helper priorityHelper(int? p)
{
    try
    {
        switch (p.Value)
        {
            case 1:<div class="fa fa-square text-gray" data-toggle="tooltip" data-placement="left" title="Regular" /> <div class="whiteRight small">1</div> break; //Pendiente
            case 2:<div class="fa fa-square text-info" data-toggle="tooltip" data-placement="left" title="Media" /> <div class="whiteRight small">2</div> break; //En proceso
            case 3:<div class="fa fa-square text-warning" data-toggle="tooltip" data-placement="left" title="Alta" /> <div class="whiteRight small">3</div> break; //Error
            case 4:<div class="fa fa-square text-danger" data-toggle="tooltip" data-placement="left" title="Muy Alta" /> <div class="whiteRight small">4</div> break; //Advertencia
            default:
                break;
        }
    }
    catch (Exception ex)
    {
        <script>console.log("status error")</script>
        //throw;
    }
}

@helper NoElements()
{
    <div class="col-6"><h6 class="alert alert-secondary">No se registra elementos.</h6></div>
}

@helper MarketHelper(int? market_id)
{
    if (market_id != null)
    {
        if (market_id == 0)
        {<span>Generación</span>}
        if (market_id == 1)
        {<span>Comercialización</span>}

    }
}

@helper IsActive(bool is_active)
{
    if (is_active == true)
    {
        <span><i class="fa fa-check pr-1 text-success"> </i><span class="text-success"> Sí</span></span>
    }
    else
    {
        <span><i class="fa fa-times pr-1 text-danger"> </i><span class="text-danger"> No</span></span>
    }
}

@helper IsBackup(bool? is_backup)
{
    if (is_backup != null)
    {
        if (is_backup == true)
        {
            <strong class="text-info"> Respaldo </strong>
        }
        else
        {
            <strong class="text-success"> Principal </strong>
        }
    }
    else
    {
        <strong class="text-secondary"> No asignado</strong>

    }
}

@helper StatusResult(int id)
{
    switch (id)
    {
        case 1:<span><span class="text-gray"> Programado</span></span> break;
        case 2:<span><span class="text-info"> En proceso</span></span> break;
        case 3:<span><span class="text-danger"> Error</span></span> break;
        case 4:<span><span class="text-warning"> Advertencia</span></span> break;
        case 5:<span><span class="text-success"> Exitoso</span></span> break;
        case 6:<span><span class="text-info"> En cola de ejecución</span></span> break;
        case 7:<span><span class="text-danger"> Eliminado</span></span>break;

        default:
            break;
    }
}

@*//$$$$$$$$$$$$$$$$$$$$$$$$ Navbar section*@
@*Sirve para poner las barras de navegación en cada sección. Se llama el helper NavBar donde area="Telemetría" o "Reports"; page=the current page ie "Monitor", y urlContent siempre es el mismo Url.Content(~)*@

@functions
{
    private static string[,] Telemetry;
    private static string[,] General;
    private static string[,] Mercado;
    private static int pick;
    private static List<string[,]> Navs;
}

@helper NavBar(string area, string page, string urlContent)
{
    {
        Navs = new List<string[,]>() {
new string[,] {{ "Inicio", "" },                          //General
{ "Filtros", "Filtros"},
{ "Programación", "Programs"} },

new string[,] {{ "Programación", "Programs" },             //Telemetry
{ "Medidores", "Telemetry/Meter" },
{ "Monitor", "Telemetry/Monitor" },
{ "Perfiles de Adquisición", "Telemetry/Acquisitions" }
},

new string[,] { { "Fronteras", "Boundaries" },             //Reports
{ "Programación", "Programs" },
{ "Reporte manual", "Reports/Manual" }},

new string[,] { { "Casos de alarmas", "AlarmCases" },             //Alarms
{ "Alarmas establecidas", "Alarms" },
{ "Alarmas disparadas", "AlarmFires" }},

new string[,] {
{ "Medidas", "Measures/Index" },
{ "Curvas típicas", "CurvaTips" },
{ "Alumbrado público", "CurvaTips/IndexAP" }
},

};
    }
    <nav class="navbar navbar-expand-lg navbar-light border-bottom bg-transparent">
        <a class="navbar-brand text-info" style="pointer-events:none">@area  |<span class="sr-only">(current)</span></a>
        <div class="text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul id="navbar-list" class="navbar-nav">
                @switch (area)
                {
                    case "General": pick = 0; break;
                    case "Telemetría": pick = 1; break;
                    case "Mercado": pick = 2; break;
                    case "Alarmas": pick = 3; break;
                    case "Medidas": pick = 4; break;
                    default:
                        break;
                }
                @for (int i = 0; i < Navs[pick].Length / 2; i++) //Se divide entre dos porque son elementos de a dos (Length cuenta todos los elementos totales)
                {
                    <li class="nav-item"><a class="nav-link" href='@(urlContent + Navs[pick][i,1])'>@Navs[pick][i, 0]<span class="sr-only">(current)</span></a></li>
                }
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Configuración
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@(urlContent)Settings">General</a>
                        <a class="dropdown-item" href="@(urlContent)Settings/Telemetry">Telemetría</a>
                        <a class="dropdown-item" href="@(urlContent)Settings/Reports">Mercado</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <script>
        // This method is located in custom.js, buut I had to include it here as well 'cause it wasn't loading
        function parseViewBagStringData(viewbag_str) { 
            var replacements = [
                [/&quot;/g, '"'],

                [/&#193;/g, 'Á'],
                [/&#201;/g, 'É'],
                [/&#205;/g, 'Í'],
                [/&#211;/g, 'Ó'],
                [/&#218;/g, 'Í'],

                [/&#225;/g, 'á'],
                [/&#233;/g, 'é'],
                [/&#237;/g, 'í'],
                [/&#243;/g, 'ó'],
                [/&#250;/g, 'ú'],

            ]

            replacements.forEach(function (item, index) {
                viewbag_str = viewbag_str.replace(item[0], item[1])
            })

            return viewbag_str
        }

        activeElement = parseViewBagStringData("@(page)")// When rendering, the quotation marks change, so they have to be fized accordingly
        $('a.nav-link:contains(' + activeElement + ')')[0].classList.add("active");
    </script>
}


@helper MonthES(string month)
{
    if (month == "Monday")
    {<strong class="text-info"> Lunes </strong>}
    else if (month == "Tuesday")
    {<strong class="text-info"> Martes </strong>}
    else if (month == "Wednesday")
    {<strong class="text-info"> Miércoles </strong>}
    else if (month == "Thursday")
    {<strong class="text-info"> Jueves </strong>}
    else if (month == "Friday")
    {<strong class="text-info"> Viernes </strong>}
    else if (month == "Saturday")
    {<strong class="text-info"> Sábado </strong>}
    else
    {<strong class="text-info"> Domingo </strong>}
}

@helper DeleteButton(string buttonCaption)
{
    <button class="btn btn-outline-danger small" data-toggle="modal" data-target="#modalDelete"><i class="fa fa-trash"></i> @buttonCaption</button>

    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="modalDeleteTitle">Confirmación</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align:left">¿Confirma la eliminación de la selección?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="deleteButtonModal" class="btn btn-block btn-warning btnStateDelete" value="700">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.btnStateDelete').click(function () {
            //console.log(this)
            var ids = table.column(0).checkboxes.selected().join(',')
            if (ids == "") { alert("Favor seleccione elementos"); }
            else {
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    url: ROOT + "api/Monitor/ToState",
                    data: { ids: ids, value: $(this).val() },
                    success: function (res) {
                        console.log(res)
                        location.reload();
                    }
                }
                )
            }
        })
    </script>
}

@helper modal_cargando()
{
    @* Small modal that blocks the page while the data is loading*@
    <div id="modal_cargando" class="modal" backdrop="static" keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Por favor espere, cargando datos...</p>
                </div>
            </div>
        </div>
    </div>
}
