﻿@model CGM.Areas.Telemetry.Models.Meter


<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.Model_Meter.brand)</td>
                                <th><h5>@Html.DisplayFor(model => model.Model_Meter.brand)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.serial)</td>
                                <th><h5>@Html.DisplayFor(model => model.serial)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.multiplicative_factor)</td>
                                <th><h5>@Html.DisplayFor(model => model.multiplicative_factor)</h5></th>
                            </tr>
                            @if (Model.Boundary != null)
                            {
                                <tr>
                                    <td scope="row">Frontera </td>
                                    <th><h5>@Html.DisplayFor(model => model.Boundary.code) - @Html.DisplayFor(model => model.Boundary.name) </h5></th>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td scope="row">Frontera </td>
                                    <th>-- No registra --</th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <p>
            <button type="submit" class="btn btn-info edit">
                <div class="fa fa-pencil"></div>
                @Html.ActionLink("Editar", "Edit", "Meter", new { id = Model.id }, new { @class = "", @style = "text-decoration: none; color:white", id = "nuevoElemento" })
            </button>
        <p />
    </div>
</div>
