﻿@model CGM.Areas.SurveyApp.Models.Response
<div class="card">
    <div class="card-header">
        <h3>@string.Format("{0} - Pregunta número {1}", Model.Question.SurveyTemplate.Name, Model.Question.EnumLabel)</h3>
        <p>@Model.Question.Title</p>
        @*<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>*@
    </div>
    <div class="card-body">
        <div class="col-sm-6 col-md-8">
            <div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td scope="row"> @Html.DisplayNameFor(model => model.Question.EnumLabel)</td>
                            <th><h5>@Html.DisplayFor(model => model.Question.EnumLabel)</h5></th>
                        </tr>
                        <tr>
                            <td scope="row">@Html.Label("Tipo de respuesta")</td>
                            <th><h5>@Html.DisplayFor(model => model.Response_Types.Name)</h5></th>
                        </tr>

                        <tr>
                            <td scope="row">@Html.DisplayNameFor(model => model.Title)</td>
                            <th><h5>@Html.DisplayFor(model => model.Title)</h5></th>
                        </tr>
                        <tr>
                            <td scope="row">@Html.DisplayNameFor(model => model.OrderResponse)</td>
                            <th><h5>@Html.DisplayFor(model => model.OrderResponse)</h5></th>
                        </tr>
                        <tr>
                            <td scope="row">@Html.DisplayNameFor(model => model.EnumLabel)</td>
                            <th><h5>@Html.DisplayFor(model => model.EnumLabel)</h5></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
