﻿@model CGM.Models.CGMModels.Program

@{
    ViewBag.Title = "Edit";
    String ctrl=ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";    
}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Editar elemento</h1>
        </div>
    </div>
    <hr />
</header>
<div>
    @Html.ActionLink(" ", "Index", null, new { @class = "mif-arrow-left  mif-2x", data_role = "hint", data_hint_background = "bg-blue", data_hint_color = "fg-white", data_hint_mode = "2", data_hint = "Agregar|Agregar registro.", data_hint_position = "right" })
</div>

<div class="col-sm-6">
    <div class="card">
        <div class="card-header mb-2"><h2>Program</h2></div>
        <div class="card-body">

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

            <div class="form-group-material">
              
  							@Html.EditorFor(model => model.Name, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
              
  							@Html.EditorFor(model => model.Destination, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
            @Html.LabelFor(model => model.Destination, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.Destination, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
              
  							@Html.EditorFor(model => model.ExecutionTime, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
            @Html.LabelFor(model => model.ExecutionTime, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.ExecutionTime, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
                @Html.DropDownList("IdFiltro", null, htmlAttributes: new { @class = "js-select full-size", @style = "width: 100%"})
            @Html.LabelFor(model => model.IdFiltro, "IdFiltro", htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.IdFiltro, "", new { @class = "text-danger small" })
            </div>
        @Html.Partial("_BtnSubmit","Guardar")

}
        </div>
    </div>
</div>

        
