﻿@model IEnumerable<CGM.Models.CGMModels.Program>

@{
    String ctrl = ViewBag.ControllerName;
    ViewBag.Title = "Programas";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
    TimeSpan rt = new TimeSpan();
    DateTime freqDate = new DateTime();
    List<CGM.Models.CGMModels.Program> multi = Model.Where(p => p.multiple == true && p.filed == false).ToList();
    List<CGM.Models.CGMModels.Program> single = Model.Where(p => p.multiple == false).ToList();

    var activos = single.Where(p => p.execution_time.Value.CompareTo(DateTime.Now) >= 0);
    var noActivos = single.Where(p => p.execution_time.Value.CompareTo(DateTime.Now) < 0);
}
@ViewHelpers.NavBar("General", "Configuración", Url.Content("~"))


<header>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="fa fa-2x fa-clock-o pr-2 pl-2"></div>
                <h1 class="display">
                    Programas
                </h1>
            </div>
        </div>
        <div class="col-lg-6 text-right">
            <div class="btn-group">
                @Html.ActionLink("Ir a Monitor", "Index", "Monitor", new { area = "Telemetry" }, new { @class = "btn btn-success" })
                @Html.ActionLink("+ Añadir nuevo elemento", "Create", null, new { @class = "btn btn-primary", data_toggle = "tooltip", data_placement = "top", title = "Agregar elemento" })
            </div>
        </div>
    </div>
</header>

@Html.Partial("_TempResult")

<div class="row">
    <div class="col-7">
        <div class="row">
            <div class="col-lg-12">
                <div id="multiprograms" class="card updates activities">
                    <div id="activites-header" class="card-header d-flex justify-content-between align-items-center">
                        <h2 class="h2 display">
                            <i class="fa fa-clock-o mr-3 text-success"></i>
                            <a data-toggle="collapse" data-parent="#multiPrograms" href="#program-box0" aria-expanded="true" aria-controls="program-box" class="">
                                Múltiples  <i class="small fa fa-info-circle text-info" data-toggle="tooltip" data-placement="right" title="." data-html="true"></i>
                            </a>
                        </h2><a data-toggle="collapse" data-parent="#multiPrograms" href="#program-box0" aria-expanded="true" aria-controls="program-box" class=""><i class="fa fa-2x fa-angle-down"></i></a>
                    </div>
                    <div id="program-box0" role="tabpanel" class="collapse show container" style="">
                        @if (multi.Count() != 0)
                        {
                            <div class="table-responsive">
                                <table id="tableProgram" class="table activities">
                                    <thead>
                                        <tr>
                                            <th>Fecha y hora</th>
                                            <th>Nombre</th>
                                            <th>Elementos</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in multi.Where(p => p.filed == false))
                                        {
                                            {
                                                TimeSpan freq = item.frequency.Value;
                                                DateTime fakeDate = DateTime.Now; //Solo para calcular remaining time. moment.js highly recommended.
                                                freqDate = new DateTime(2050, fakeDate.Month, fakeDate.Day, freq.Hours, freq.Minutes, freq.Seconds);
                                                rt = freqDate.Subtract(fakeDate); //RemainingTime
                                            }
                                            <tr>
                                                <td class="p-0">
                                                    <div class="date-holder">
                                                        <div class="icon"><i class="icon-clock"></i></div>
                                                        <div class="date">
                                                            <span class="h4 display" style="line-height: 1.2em"><label style="font-size: 1rem">@string.Format("{0:hh\\:mm\\:ss tt}", freqDate)</label></span>
                                                            <span class="text-info small" style="line-height: 1em">Faltan @rt.Hours horas, @rt.Minutes minutos</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="content"><h5>@item.name</h5></td>
                                                <td><a class="filtroitem text-primary" href="#" id="@item.IdFiltro">@item.Filtro.Name</a></td>
                                                <td>
                                                    @Ajax.ActionLink(" ", "TriggerProgram", "api/Programs", new { id = item.id }, new AjaxOptions
                                               {
                                                   Confirm = "Confirma la ejecución de esta instrucción? Tenga en cuenta que si ya se tiene medidas para la fecha de operación, no se sobreescribirán.",
                                                   HttpMethod = "POST"
                                               }, new { @class = "fa fa-forward", data_toggle = "tooltip", data_placement = "top", title = "Ejecutar" }) &nbsp;
                                                    @*@Html.ActionLink(" ", "Details", new { id = item.id, }, new { @class = "fa fa-list", data_toggle = "tooltip", data_placement = "top", title = "Detalles" }) &nbsp;*@
                                                    @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "fa fa-trash", data_toggle = "tooltip", data_placement = "top", title = "Archivar" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="row p-3"> <div class="col-12">@ViewHelpers.NoElements()</div></div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div id="activePrograms" class="card updates activities">
                    <div id="activites-header" class="card-header d-flex justify-content-between align-items-center">
                        <h2 class="h2 display">
                            <i class="fa fa-angle-double-right mr-3 text-success"></i>
                            <a data-toggle="collapse" data-parent="#activePrograms" href="#program-box" aria-expanded="true" aria-controls="program-box" class="">
                                Activos
                            </a>
                        </h2><a data-toggle="collapse" data-parent="#activePrograms" href="#program-box" aria-expanded="true" aria-controls="program-box" class=""><i class="fa fa-2x fa-angle-down"></i></a>
                    </div>
                    <div id="program-box" role="tabpanel" class="collapse show container" style="">
                        @if (activos.Count() != 0)
                        {
                            <div class="table-responsive">
                                <table id="tableProgram" class="table activities">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in activos)
                                        {
                                            {
                                                rt = item.execution_time.Value.Subtract(DateTime.Now); //RemainingTime
                                            }
                                            <tr>
                                                <td class="p-0">
                                                    <div class="date-holder">
                                                        <div class="icon"><i class="icon-clock"></i></div>
                                                        <div class="date">
                                                            <span class="h4 display" style="line-height: 1.2em"><label style="font-size: 1rem">@item.execution_time.Value.ToString("dd/MM/yyyy - hh:mm:ss tt")</label></span>
                                                            <span class="text-info small" style="line-height: 1em">Faltan @rt.Days días, @rt.Hours horas, @rt.Minutes minutos, @rt.Seconds segundos</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="content">
                                                    <strong>@item.name</strong>
                                                </td>
                                                <td>
                                                    @if (item.multiple == true)
                                                    {<label>Diariamente</label>}
                                                    @if (item.multiple == false)
                                                    {<label>Una sola ejecución</label>}
                                                </td>
                                                <td>
                                                    @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "fa fa-edit", data_toggle = "tooltip", data_placement = "top", title = "Editar" }) &nbsp;
                                                    @Html.ActionLink(" ", "Details", new { id = item.id, }, new { @class = "fa fa-list", data_toggle = "tooltip", data_placement = "top", title = "Detalles" }) &nbsp;
                                                    @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "fa fa-trash", data_toggle = "tooltip", data_placement = "top", title = "Archivar" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="row p-3"> <div class="col-12">@ViewHelpers.NoElements()</div></div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div id="nonActivePrograms" class="card updates activities ">
                    <div id="activites-header" class="card-header d-flex justify-content-between align-items-center">
                        <h2 class="h2 display">
                            <i class="fa fa-archive mr-3 text-secondary"></i>
                            <a data-toggle="collapse" data-parent="#nonActivePrograms" href="#program-box2" aria-expanded="true" aria-controls="program-box2" class="">
                                No activos
                            </a>
                        </h2>
                        <a data-toggle="collapse" data-parent="#nonActivePrograms" href="#program-box2" aria-expanded="true" aria-controls="program-box2" class=""><i class="fa fa-2x fa-angle-down"></i></a>
                    </div>
                    <div id="program-box2" role="tabpanel" class="collapse show container" style="">
                        @if (noActivos.Count() != 0)
                        {
                            <div class="table-responsive">
                                <table id="tableProgram" class="table activities">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in noActivos)
                                        {
                                            {
                                                rt = item.execution_time.Value.Subtract(DateTime.Now); //RemainingTime
                                            }
                                            <tr>
                                                <td class="p-0">
                                                    <div class="date-holder">
                                                        <div class="icon"><i class="icon-clock"></i></div>
                                                        <div class="date">
                                                            <span class="h4 display" style="line-height: 1.2em"><label style="font-size: 1rem">@item.execution_time.Value.ToString("dd/MM/yyyy - hh:mm:ss tt")</label></span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="content">
                                                    <strong>@item.name</strong>
                                                </td>
                                                <td>
                                                    @if (item.multiple == true)
                                                    {<label>Diariamente</label>}
                                                    @if (item.multiple == false)
                                                    {<label>Una sola ejecución</label>}
                                                </td>
                                                <td>
                                                    @Html.ActionLink(" ", "Details", new { id = item.id, }, new { @class = "fa fa-list", data_toggle = "tooltip", data_placement = "top", title = "Detalles" }) &nbsp;
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="row p-3"> <div class="col-12">@ViewHelpers.NoElements()</div></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div><div id="loader" style="display:none" class="lds-ellipsis p-4"><div></div><div></div><div></div><div></div></div></div>
        <div id="elementsWrapper"></div>
    </div>
</div>

@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")
    <script>
     $(function () {
         $('.table.activities').DataTable(
            {
                "language": {
                    "url": "@Url.Content("~")Scripts/es-CO.txt"
                 },
                "columnDefs": [
                     {
                         "targets": 0,
                         "className": "text-right",
                         "width": "30%",

                     },
                     {
                         "targets": 1,
                         "width": "30%"
                     }],
                  "order": [[0, "desc"]]
            }
        );
        })

        $('.filtroitem').click(function () {
            var filId = $(this).prop("id");
            $('#loader').show();
            if (filId != 0) {
                $.ajax({
                    type: 'GET',
                    url: "@Url.Content("~")Filtros/Details",
                    data: { id: filId },
                    success: function (data) {
                        $("#elementsWrapper").html(data)
                        $('#loader').hide();
                    }
                })
            }
            else {
                $("#elementsWrapper").empty()
            }
        })
    </script>
}

@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}


