﻿@model CGM.Areas.SurveyApp.Models.MyModels.ShareModel
@{
    ViewBag.Title = "Editar información";
}
<div>
    <div class="alert" >
        @Html.ActionLink("Editar identificador", "Edit", "ShareSurveys", new { @id = Model.Id_ShareQuestion }, null)|
        @Html.ActionLink("Eliminar", "Delete", "ShareSurveys", new { @id = Model.Id_ShareQuestion }, null)|
        @Html.ActionLink("Clonar", "Clone", "SurveyManager", new { @id = Model.Id_ShareQuestion }, null)
    </div>
</div>

<div style="text-align:center" class="card ml-lg-5 mr-lg-5">
@*<h2>@Model.Name</h2>*@
    <div class="card-header ">
        <h1 class="title">@string.Format("Hoja de vida: {0}", Model.ContactName)</h1>
        <button id="btn_last" class="btn btn-default">< Anterior</button>
        <div class="btn" style="visibility:hidden">
            <div id="box_loader" class="sk-wave">
                <div class="sk-rect sk-rect1"></div>
                <div class="sk-rect sk-rect2"></div>
                <div class="sk-rect sk-rect3"></div>
                <div class="sk-rect sk-rect4"></div>
                <div class="sk-rect sk-rect5"></div>
            </div>
        </div>
        <button id="btn_next" class="btn btn-default">Siguiente ></button>
    </div>
</div>

<div>
    <div class="ml-lg-5 mr-lg-5 justify-content-lg-center">
        <div id="box_question">
            <form id="question_survey" method="post">
                <input type="hidden" name="Id_ShareQuestion" value="@Model.Id_ShareQuestion" />
                <input type="hidden" name="Id_Question" value="@Model.FirstQuestion" />
            </form>
        </div>
    </div>
</div>

@section scriptsbody{
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script>
        $(function () {
            $("#box_loader").css("visibility", "visible");
            $.post("@Url.Action("QuestionSurveyNext", "SurveyManager")", $("#question_survey").serialize(), function (data) {
                $("#question_survey").html(data);
                $("#box_loader").css("visibility","hidden");
            });

            $("#btn_next").click(function (v) {
                $("#box_loader").css("visibility", "visible");
                $.post("@Url.Action("QuestionSurveyNext", "SurveyManager")", $("#question_survey").serialize(), function (data) {
                    $("#question_survey").html(data);
                    $("#box_loader").css("visibility", "hidden");

                });
            });
            $("#btn_last").click(function (v) {
                $("#box_loader").css("visibility", "visible");
                $.post("@Url.Action("QuestionSurveyLast", "SurveyManager", new { Area = "SurveyApp" })", $("#question_survey").serialize(), function (data) {
                    $("#question_survey").html(data);
                    $("#box_loader").css("visibility", "hidden");

                });
            });
            $("#question_survey").on("click", ".btn_file", function () {
                alert("Ok" + $(this).text());
                var s = $(this).siblings('input');
                SendFile(s.get(0).files);
            });
        });

        function SendFile(myfiles) {
            var data = new FormData();
            var files = myfiles;

            // Add the uploaded image content to the form data collection
            if (files.length > 0) {
                data.append("UploadedFile", files[0]);
                data.append("Id_Question", 1);
                data.append("Id_Response", 2);
                data.append("Id_ShareQuestion", "3465ab88-c951-41fe-b6cc-b26b80238aae");
            }
            var xcn = sessionStorage.getItem('token_type') + ' ' + sessionStorage.getItem('access_token');
            // Make Ajax request with the contentType = false, and procesDate = false
            $.ajax({
                type: "POST",
                url: "@Url.Content("~")api/FileResponse/UploadFile",
                contentType: false,
            processData: false,
            data: data,
            xhrFields: {
                withCredentials: true
            },
            headers: {
                'Authorization': xcn
            },
            success: function (responseData, textStatus) {
                if (textStatus == 'success') {
                    if (responseData != null) {
                        if (responseData.Key) {
                            alert(responseData.Value);
                            $("#fileUpload").val('');
                        } else {
                            alert(responseData.Value);
                        }
                    }
                } else {
                    alert(responseData.Value);
                }
            }
        });


        }
    </script>

}