﻿@model CGM.Areas.SurveyApp.Models.MyModels.MySurveyMaster
@{
    ViewBag.Title = "Surveys";
    string ctrldisabled = "disabled";
}

<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map_canvas {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 97%;
        margin-top: 20px;
        padding: 0;
    }

    .thumbnail {
        margin-bottom: 6px;
    }

    .carousel-control.left, .carousel-control.right {
        background-image: none;
        margin-top: 10%;
        width: 5%;
    }
</style>


<div class="modal" id="modal-gallery" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">×</button>
                    <h3 class="modal-title"></h3>
                </div>
                <div class="modal-body">
                    <div id="modal-carousel" class="carousel">

                        <div class="carousel-inner">
                        </div>

                        <a class="carousel-control left" href="#modal-carousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                        <a class="carousel-control right" href="#modal-carousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <header class="pb-0">
        <div class="row">
            <div class="pr-4">@Html.ActionLink(" ", "SurveyManagerList", "SurveyManager", new { id = ViewBag.Id_Template }, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
            <div>
                <h2> Hoja de vida: @ViewBag.sheetname</h2>
            </div>
        </div>
        <hr />
    </header>
    <div id="Grid" class="container-smooth">
        <div class="btn-group ml-2">
            <button id="btn_show" class="btn btn-primary">Mostrar todo</button>
            <button id="btn_hide" class="btn btn-primary">Ocultar todo</button>
            <button id="btn_download" type="submit" class="btn fa fa-download"></button>
        </div>
        <div class="" id="accordion">

                @*@for (int iterador = 0; iterador <= 20; iterador++)*@
            @foreach (var question in Model.Questions)
            {
                @*var question = Model.Questions.ElementAt(iterador);*@

                <div class="card m-2 col-lg-8">
                    <div class="card-header">
                        <h4 class="card-title">
                            @if (question.Is_Images)
                            {

                                <a data-toggle="collapse" data-parent="#accordion" href="@string.Format("#collapse_{0}",question.Id)">
                                    @string.Format("{0} {1}", question.EnumLabel, question.Title)
                                </a>
                                <a style="font-size:x-large;cursor:pointer;float:right" onclick="callimages(@Model.Id,@question.Id)"><span class="glyphicon glyphicon-camera"></span></a>
                            }
                            else
                            {
                                <a data-toggle="collapse" data-parent="#accordion" href="@string.Format("#collapse_{0}",question.Id)">
                                    @string.Format("{0} {1}", question.EnumLabel, question.Title)
                                </a>
                            }
                        </h4>
                    </div>
                    <div id="@string.Format("collapse_{0}",question.Id)" class="collapse vista">
                        <div class="card-body">
                            @if (question.Is_Images)
                            {
                                <div class="col-lg-12">
                                    <button class="btn btn-danger btn-lg" onclick="callimages(@Model.Id,@question.Id)" style="float:right"><span class="glyphicon glyphicon-camera"></span>&nbsp;&nbsp; imagenes</button>
                                </div>
                            }
                            @switch (question.Id_ControlGroup)
                            {
                                case 1:

                                    foreach (var response in question.Responses)
                                    {
                                        string selectect = "";

                                        switch (response.Id_Response_Type)
                                        {
                                            case 0:
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-12 control-label">@response.Title</label>
                                                </div>
                                                break;
                                            case 2:
                                                if (string.IsNullOrEmpty(response.ValueSelect))
                                                {
                                                    selectect = "";
                                                }
                                                else
                                                {
                                                    selectect = "checked";
                                                }
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="radio" @ctrldisabled>
                                                            <label>
                                                                <input type="radio" name="@string.Format("rdg_{0}",question.Id)" id="@string.Format("rd_{0}",response.Id)" value="@response.Value" @selectect @ctrldisabled />
                                                                @response.Title
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                break;
                                            case 3:
                                                if (string.IsNullOrEmpty(response.ValueSelect))
                                                {
                                                    selectect = "";
                                                }
                                                else
                                                {
                                                    if (response.ValueSelect.Contains("1"))
                                                    {
                                                        selectect = "checked";
                                                    }
                                                    else
                                                    {
                                                        selectect = "";
                                                    }

                                                }
                                                if (response.Is_File)
                                                {
                                                    if (!String.IsNullOrEmpty(response.Url_File))
                                                    {
                                                        <div class="form-group">
                                                            <div class="col-sm-12">
                                                                <a href="@Url.Content("~"+response.Url_File)" target="_blank">Descargar</a>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                                <div class="form-group">
                                                    <div class="col-sm-12">

                                                        <div class="checkbox @ctrldisabled">
                                                            <label>
                                                                <input type="checkbox" value="" @selectect @ctrldisabled />
                                                                @response.Title
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                break;

                                            default:
                                                <div class="form-group row">
                                                    <label for="inputEmail3" class="col-sm-4 control-label">@response.Title</label>
                                                    <div class="col-sm-8">
                                                        <input type="email" class="form-control" id="inputEmail3" placeholder="@response.Title" value="@response.ValueSelect" @ctrldisabled />
                                                    </div>
                                                </div>
                                                break;
                                        }

                                    }

                                    break;
                                case 2:
                                    foreach (var response in question.Responses)
                                    {
                                        string selectect = "";
                                        if (string.IsNullOrEmpty(response.ValueSelect))
                                        {
                                            selectect = "";
                                        }
                                        else
                                        {
                                            selectect = "checked";
                                        }
                                        <div class="radio" @ctrldisabled>
                                            <label>
                                                <input type="radio" name="@string.Format("rdg_{0}",question.Id)" id="@string.Format("rd_{0}",response.Id)" value="@response.Value" @selectect @ctrldisabled />
                                                @response.Title
                                            </label>
                                        </div>
                                    }
                                    break;
                                case 3:
                                    <table class="table table-bordered">
                                        <tbody>
                                            @for (int i = 0; i < question.Num_Row_Response; i++)
                                            {
                                                <tr>
                                                    @for (int j = 0; j < question.Num_Column_Response; j++)
                                                    {

                                                        string selectect = "";
                                                        string colspan = "";
                                                        var response = question.Responses.Where(m => m.Index_Row == i && m.Index_Column == j).FirstOrDefault();
                                                        if (response != null)
                                                        {
                                                            if (response.Colspan.HasValue && response.Colspan.Value != -1)
                                                            {
                                                                j += response.Colspan.Value;
                                                                colspan = string.Format("colspan={0}", response.Colspan.Value);
                                                            }
                                                            else
                                                            {
                                                                colspan = "";
                                                            }

                                                            <td @colspan>


                                                                @switch (response.Id_Response_Type)
                                                                {
                                                                    case 0:
                                                                        <div class="form-group">
                                                                            <label for="inputEmail3" class="control-label">@response.Title</label>
                                                                        </div>
                                                                        break;
                                                                    case 2:
                                                                        if (string.IsNullOrEmpty(response.ValueSelect))
                                                                        {
                                                                            selectect = "";
                                                                        }
                                                                        else
                                                                        {
                                                                            selectect = "checked";
                                                                        }
                                                                        <div class="form-group">
                                                                            @*<div class="col-sm-offset-2 col-sm-10">
                                                                            </div>*@

                                                                            <div class="offset-2 col-sm-10">
                                                                                <div class="radio" @ctrldisabled>
                                                                                    <label>
                                                                                        <input type="radio" name="@string.Format("rdg_{0}",question.Id)" id="@string.Format("rd_{0}",response.Id)" value="@response.Value" @selectect @ctrldisabled />
                                                                                        @response.Title
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        break;
                                                                    case 3:
                                                                        if (string.IsNullOrEmpty(response.ValueSelect))
                                                                        {
                                                                            selectect = "";
                                                                        }
                                                                        else
                                                                        {
                                                                            if (response.ValueSelect.Contains("1"))
                                                                            {
                                                                                selectect = "checked";
                                                                            }
                                                                            else
                                                                            {
                                                                                selectect = "";
                                                                            }

                                                                        }
                                                                        if (response.Is_File)
                                                                        {
                                                                            if (!String.IsNullOrEmpty(response.Url_File))
                                                                            {
                                                                                <div class="form-group">
                                                                                    <div class="col-sm-12">
                                                                                        <a href="@Url.Content("~"+response.Url_File)" target="_blank">Descargar</a>
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                        }
                                                                        <div class="form-group">
                                                                            <div class="offset-2 col-sm-10">

                                                                                <div class="checkbox @ctrldisabled">
                                                                                    <label>
                                                                                        <input type="checkbox" value="" @selectect @ctrldisabled />
                                                                                        @response.Title
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        break;

                                                                    default:
                                                                        <div class="form-group">
                                                                            <div class="col-sm-10">
                                                                                <input type="email" class="form-control" id="inputEmail3" placeholder="@response.Title" value="@response.ValueSelect" @ctrldisabled />
                                                                            </div>
                                                                        </div>
                                                                        break;
                                                                }
                                                            </td>
                                                        }
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    break;
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
@section scriptsbody{
        <script>
            function callimages(id, id_question) {
                var id_question = id_question;
                $.get("@Url.Action("Dialog", "SurveyManager")" + "/" + id + "?id_question=" + id_question, function (data) {
                    var content = $(".carousel-inner");
                    var title = $(".modal-title");

                    content.empty();
                    title.empty();
                    $("#img-repo").html(data);
                    var id = "image-" + id_question;
                    var repo = $("#img-repo .item");
                    var repoCopy = repo.filter("#" + id).clone();
                    var active = repoCopy.first();

                    active.addClass("active");
                    title.html(active.find("img").attr("title"));
                    content.append(repoCopy);

                    // show the modal
                    $("#modal-gallery").modal("show");
                });

            }
            /* activate the carousel */
            //$(".vista.collapse").collapse("show");

            $("#modal-carousel").carousel({
                interval: false
            });
            $("#btn_show").click(function () {
                $(".vista.collapse").collapse("show");
            });
            $("#btn_hide").click(function () {
                $(".vista.collapse").collapse("hide");
            });
            $("#btn_download").click(function () {
                window.print();
            });

            /* change modal title when slide changes */
            $("#modal-carousel").on("slid.bs.carousel", function () {
                $(".modal-title")
                .html($(this)
                .find(".active img")
                .attr("title"));
            });

        </script>
    }
