﻿@model List<string>

@{
    ViewBag.Title = "SurveyManagerList";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}

<header>
    <div class="row">
        <div class="col-sm-6">
            <h1 class="">
                <i class="fa fa-file-text" width="50"></i>
                Hojas de vida
            </h1>
        </div>
        <div class="col-sm-6 text-right">
            @Html.ActionLink("+ Nueva hoja de vida", "AutoShare", "ShareSurveys", new { id = 1 }, new { @class = "btn btn-primary" })
        </div>
    </div>
    <hr />
</header>
<div class="card col-lg-6">
    <div class="card-body">
        <table id="tbl_SML" class="table">
            <thead>
                <tr>
                    <th>
                        Frontera
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item)
                        </td>
                        <td>
                            @Html.ActionLink("Historial", "SurveyManagerList", "SurveyManager", new { id = item.Split(' ')[0] }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript");
    <script>
        $('#tbl_SML').DataTable({
            "language": {
                "url": "@Url.Content("~/Scripts/es-CO.txt")"
            }
        });
    </script>
}


@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}

