﻿@model List<CGM.Models.CGMModels.NotificationGroup>
@foreach (var group in Model)
{<li><a href="#" class="dropdown-item"><div class="notification d-flex justify-content-between"><div class="notification-content"><i class="fa fa-twitter"></i> @group.message</div><div class="notification-time"><small>@group.Notifications.Count</small></div></div></a></li>}