﻿@model CGM.Models.CGMModels.ParamForm
@using CGM.Models.CGMModels
@{
    /**/

    ViewBag.Title = "Editar formulario";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
    List<ParamGroup> paramGroups = ViewBag.groups;
}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Editar formulario</h1>
        </div>
    </div>
    <hr />
</header>

@Html.Partial("_TempResult")

<!-- Modal -->
<div class="modal fade" id="multiuse_Modal" tabindex="-1" role="dialog" aria-labelledby="multiuse_ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="multiuse_ModalLabel">Crear</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBody" class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>


<!-- ModalDelete -->
<div class="modal fade" id="delete_Modal" tabindex="-1" role="dialog" aria-labelledby="delete_ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete_ModalLabel">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBody" class="modal-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "deleteForm" }))
                {
                    @Html.AntiForgeryToken()
                    <p>¿Confirma la eliminación de este elemento?</p>
                    <button class="btn btn-secondary">Cancelar</button>
                    <button class="btn btn-danger">Confirmar</button>
                }
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-header mb-2">
                    <div class="row">
                        <div class="col-11"><h2>Grupo de preguntas</h2></div>
                        <div class="col-1">
                            <a name="Group_Create" class="modalBodyBtn" href="#" data-toggle="modal" data-target="#multiuse_Modal"><i class="fa fa-plus-circle text-success "></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <button name="group" class="btn small btn-sm updateOrderBtn" style="display:none">Actualizar orden</button>
                    <ul class="list-group sortlist" name="paramGroupList">
                        @foreach (var group in paramGroups.OrderBy(p => p.index))
                        {
                            <li class="list-group-item" name="group,@(group.id)">
                                <div class="row">
                                    <div class="col-2">@group.index</div>
                                    <div class="col-8">@group.name</div>
                                    <div class="col-2">
                                        <div class="row">
                                            <a name="Group_Create,@(group.id)" class="modalBodyBtn" href="#" data-toggle="modal" data-target="#multiuse_Modal"><i class="fa fa-pencil text-secondary mr-2"></i></a>
                                            <a class="deleteBtn" href="#" data-toggle="modal" data-target="#delete_Modal"><i class="fa fa-trash text-secondary"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header mb-2">
                    <div class="row">
                        <div class="col-11"><h2>Preguntas</h2></div>
                        <div class="col-1">
                            <a name="Question_Create" class="modalBodyBtn" href="#"><i class="fa fa-plus-circle text-success" data-toggle="modal" data-target="#multiuse_Modal"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <button name="question" class="btn small btn-sm updateOrderBtn" style="display:none">Actualizar orden</button>
                    @foreach (var group in paramGroups)
                    {
                        <ul class="list-group sortlist groupLists" style="display:normal" name="@(group.id)">
                            @foreach (var question in group.Questions.OrderBy(p => p.index))
                            {
                                <li class="list-group-item" name="question,@(question.id)">
                                    <div class="row">
                                        <div class="col-1 small">@question.index</div>
                                        <div class="col-2 small">@question.Type.type</div>
                                        <div class="col-3 small">@question.name</div>
                                        <div class="col-4 small">@question.alias</div>
                                        <div class="col-2">
                                            <div class="row">
                                                <a name="Question_Create,@(question.id)" class="modalBodyBtn" href="#" data-toggle="modal" data-target="#multiuse_Modal" title="Editar"><i class="fa fa-pencil text-secondary mr-2"></i></a>
                                                <a class="deleteBtn" href="#" data-toggle="modal" data-target="#delete_Modal" title="Eliminar"><i class="fa fa-trash text-secondary mr-2"></i></a>
                                                <a name="1,@(question.id)" class="conditionalsBtn" href="#" data-toggle="modal" data-target="#multiuse_Modal" title="Condicionales"><i class="fa fa-asterisk text-secondary"></i></a>
                                                @*1:Question, 0:AnswerOption*@
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                        <hr />
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card">
                <div class="card-header mb-2">
                    <div class="row">
                        <div class="col-11"><h2>Opciones de respuesta</h2></div>
                        <div class="col-1">
                            <a name="AnswerOption_Create" class="modalBodyBtn" href="#"><i class="fa fa-plus-circle text-success" data-toggle="modal" data-target="#multiuse_Modal" disable></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <button name="answerOption" class="btn small btn-sm updateOrderBtn" style="display:none">Actualizar orden</button>
                    <div class="row ml-1">
                        <div class="col-1">No</div>
                        <div class="col-2">Tipo</div>
                        <div class="col-2">Val.</div>
                        <div class="col-3">Nombre</div>
                        <div class="col-2">Alias</div>
                    </div>
                    @foreach (var group in paramGroups)
                    {
                        foreach (var question in group.Questions)
                        {
                            <ul class="list-group sortlist answerOptionsLists" style="display:normal" name="@(question.id),@(group.id)">
                                @foreach (var answerOption in question.AnswerOptions.OrderBy(p => p.index))
                                {
                                    <li class="list-group-item" name="answerOption,@(answerOption.id)">
                                        <div class="row">
                                            <div class="col-1 small">@answerOption.index</div>
                                            <div class="col-2 small">@answerOption.Type.type</div>
                                            <div class="col-1 small">@answerOption.value</div>
                                            <div class="col-3 small">@answerOption.name</div>
                                            <div class="col-3 small">@answerOption.alias</div>
                                            <div class="col-2">
                                                <div class="row">
                                                    <a name="AnswerOption_Create,@(answerOption.id)" class="modalBodyBtn" href="#" data-toggle="modal" data-target="#multiuse_Modal"><i class="fa fa-pencil text-secondary mr-2"></i></a>
                                                    <a class="deleteBtn" href="#" data-toggle="modal" data-target="#delete_Modal"><i class="fa fa-trash text-secondary mr-2"></i></a>
                                                    <a name="0,@(answerOption.id)" class="conditionalsBtn" href="#" data-toggle="modal" data-target="#multiuse_Modal" title="Condicionales"><i class="fa fa-asterisk text-secondary"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                            <hr />
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <div class="row" style="margin-bottom:-20px">
                <div class="col-2"><button class="btn btn-sm small btn-success" id="activeSortable" data-toggle="button" aria-pressed="false" autocomplete="off">Ordenar</button></div>

                <div class="col-8">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.name, "", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger small" })
                        </div>

                    }
                </div>
                <div class="col-1">
                    <button class="btn btn-primary btn-sm small" type="submit" style="margin:35px">Guardar</button>

                </div>
            </div>
        </div>
    </div>
</div>
@section scriptshead {
    <script src="@Url.Content("~")Content/vendor/jquery-sortable/jquery-sortable-min.js"></script>
}

@section scriptsbody{
    <script>

        //----------------------- Initialization ---------------------
        groupId = 0
        questionId = 0
        var group = $("ul.sortlist").sortable();
        // Init lists by not being sortable
        $.each($(".sortlist"), function (key, value) { $(value).sortable("disable") });

        // Method to activate or deactive the sorting option
        $("#activeSortable").on("click", function (e) {
            $(".updateOrderBtn").toggle()
            var method = $(this).hasClass("active") ? "disable" : "enable";
            $.each($(".sortlist"), function (key, value) {
                $(value).sortable(method)
            });
        });


        //------------

        function addremoveClass(setOfElements, classToAdd, classToRemove) {
            $.each(setOfElements, function (index, value) {
                $(value).addClass(classToAdd)
                $(value).removeClass(classToRemove)
            })
        }

        $(".list-group-item").click(function () {
            item = $(this)
            addremoveClass($(item).find('i'), 'text-light', 'text-secondary')
            // Unselect the other items on the list
            $.each(item.siblings(), function (index, value) {
                $(value).removeClass('active');
                addremoveClass($(value).find('i'), 'text-secondary', 'text-light')
            })
            item.addClass('active')

            // the name contains information about the list and the id of the element (ex. group,3), where 3 is the Id of the row
            // This is made to show in the different panels the proper corresponding items.

            iteminfo = item.attr('name').split(',');
            if (iteminfo[0] == 'group') {
                groupId = iteminfo[1]; // Global to pass in Questions query if needed

                //$(".groupLists").hide()
                $(".groupLists").addClass('displaynone')
                var groupSelected = $(".groupLists[name='" + groupId + "']")

                //groupSelected.show()
                groupSelected.removeClass('displaynone')

                //$(".answerOptionsLists").hide()
                $(".answerOptionsLists").addClass('displaynone')

                var activeGroup = groupSelected.children('.active')
                if (activeGroup.length == 0) { // If there's no active group
                    $(activeGroup.children()[0]).click()
                }
                else {
                    $(groupSelected.children('.active')[0]).click() // reaffirm the id of the group
                }

            }
            if (iteminfo[0] == 'question') {
                questionId = iteminfo[1]; // Global to pass in Questions query if needed

                $(".answerOptionsLists").addClass('displaynone')
                //$(".answerOptionsLists").hide()
                $(".answerOptionsLists[name='" + questionId + "," + groupId + "']").removeClass('displaynone')
            }
        })

        $(".modalBodyBtn").click(function () {
            urlInfo = this.name.split(',') // name is separated by comma (ex. Group_Create,3), where 3 is the id of the item to be edited
            if (urlInfo[1] == undefined) {
                $("#multiuse_ModalLabel").text("Crear")
            }
            else {
                $("#multiuse_ModalLabel").text("Editar")
            }
            $.ajax({
                url: ROOT + 'ParamForms/' + urlInfo[0],
                method: 'GET',
                data: {
                    id: urlInfo[1],
                    group_id: groupId,
                    question_id: questionId
                },
                success: function (data) {
                    //$("#loader").hide();
                    $("#modalBody").html(data)
                }
            })
        })

        $(".conditionalsBtn").click(function () {
            itemInfo = this.name.split(',') // name is separated by comma (ex. question,3 ; answerOption,3), where 3 is the id of the item to be edited

            $.ajax({
                url: ROOT + 'ParamForms/Conditionals' ,
                method: 'GET',
                data: {
                    objClass : itemInfo[0],
                    objId: itemInfo[1],
                },
                success: function (data) {
                    //$("#loader").hide();
                    $("#modalBody").html(data)
                }
            })
        })


        $('.deleteBtn').on('click', function () {
            iteminfo = $(this).parents('.list-group-item')[0].getAttribute('name').split(',');
            $("#deleteForm").attr('action', '@Url.Content("~")ParamForms/Delete_' + iteminfo[0] + '/' + iteminfo[1])

        });

        // Init GUI
        $(".list-group-item")[0].click()

        $(".updateOrderBtn").click(function () {

            var tableName = this.getAttribute('name')

            // get selected ul element
            list_select = $(this).siblings(".sortlist:not(.displaynone)")[0]
            if (list_select == undefined) { // the list is empty
                return
            }

            var id_order_list = []
            // iterate over li elements
            $.each($(list_select).children(), function (k, listElement) {
                iteminfo = listElement.getAttribute('name').split(',') //ex: "answerOption,4"
                id_order_list.push(iteminfo[1]) // push the id of the element
            })
            var xcn = sessionStorage.getItem('token_type') + ' ' + sessionStorage.getItem('access_token');

            $.ajax({
                url: ROOT + 'ParamForms/UpdateOrder',
                method: 'POST',
                xhrFields: {
                    withCredentials: true
                },
                headers: {
                    'Authorization': xcn
                },
                data: {
                    tableName : tableName,
                    parent_id : parseInt(list_select.getAttribute('name').split(',')[0]),
                    id_order_list: id_order_list
                },
                success: function (data) {
                    location.reload()
                }
            })

        })

    </script>
}


