﻿@model IEnumerable<CGM.Models.CGMModels.ParamForm>

@{
    /**/

    String ctrl = ViewBag.ControllerName;
    var modelName = "tbl_" + ctrl;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}


<header>
    <div class="row">
        <div class="col-lg-6">
            <span></span>
            <h1 class="display">
                <i class="fa fa-list-alt pr-2"></i>
                Formularios creados
            </h1>
        </div>
        <div class="col-lg-6 text-right">
            <div class="btn-group">
                @Html.ActionLink("+ Añadir nuevo elemento", "Create", null, new { @class = "btn btn-primary", data_toggle = "tooltip", data_placement = "top", title = "Agregar elemento" })
            </div>
        </div>
    </div>
</header>


<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div>
                <div class="card-header">
                    <h2> Listado</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="@modelName" class="table">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.name)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.name)
                                    </td>
                                    <td>
                                        @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "fa fa-edit", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Editar" }) &nbsp;
                                        @Html.ActionLink(" ", "Details", new { id = item.id, }, new { @class = "fa fa-list", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Detalles" }) &nbsp;
                                        @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "fa fa-trash", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Archivar" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")
    <script>
        $(document).ready(function () {
            $('#@modelName').DataTable(
                    {
                    "language": {
                        "url": "../Scripts/es-CO.txt"
                    }
                }
            );
        });
    </script>
}

@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}


