﻿@model CGM.Areas.SurveyApp.Models.Norm

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}

<h2>Crear</h2>

@using (Html.BeginForm(Html.BeginForm("Create", "Norms", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.EditorFor(model => model)
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
