﻿@model CGM.Areas.SurveyApp.Models.Norm

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Está seguro de eliminar esto?</h3>
@Html.DisplayFor(model => model)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        @Html.ActionLink("Regresar", "Index")
    </div>
}
