﻿@model CGM.Models.CGMModels.AspNetUsers

@{
    ViewBag.Title = "Detalles";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}

<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1> Detalles</h1>
        </div>
    </div>
    <hr />
</header>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>AspNetUsers</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.Email)</td>
                                <th><h5>@Html.DisplayFor(model => model.Email)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.EmailConfirmed)</td>
                                <th><h5>@Html.DisplayFor(model => model.EmailConfirmed)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.PasswordHash)</td>
                                <th><h5>@Html.DisplayFor(model => model.PasswordHash)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.SecurityStamp)</td>
                                <th><h5>@Html.DisplayFor(model => model.SecurityStamp)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.PhoneNumber)</td>
                                <th><h5>@Html.DisplayFor(model => model.PhoneNumber)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.PhoneNumberConfirmed)</td>
                                <th><h5>@Html.DisplayFor(model => model.PhoneNumberConfirmed)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.TwoFactorEnabled)</td>
                                <th><h5>@Html.DisplayFor(model => model.TwoFactorEnabled)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.LockoutEndDateUtc)</td>
                                <th><h5>@Html.DisplayFor(model => model.LockoutEndDateUtc)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.LockoutEnabled)</td>
                                <th><h5>@Html.DisplayFor(model => model.LockoutEnabled)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.AccessFailedCount)</td>
                                <th><h5>@Html.DisplayFor(model => model.AccessFailedCount)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.UserName)</td>
                                <th><h5>@Html.DisplayFor(model => model.UserName)</h5></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    <button type="submit" class="btn btn-info edit">
        <div class="fa fa-pencil"></div>
        @Html.ActionLink("Editar", "Edit", "Users", new { id = Model.Id }, new { @class = "", @style = "text-decoration: none; color:white", id = "nuevoElemento" })
    </button>
<p />


