﻿@model CGM.Models.CGMModels.AspNetUsers

@{
    ViewBag.Title = "Editar";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Editar elemento</h1>
        </div>
    </div>
    <hr />
</header>

@Html.Partial("_TempResult")

<div class="col-sm-6">
    <div class="card">
        <div class="card-header mb-2"><h2>Usuario</h2></div>
        <div class="card-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.isActive)
                @Html.HiddenFor(model => model.PasswordHash)
                @Html.HiddenFor(model => model.SecurityStamp)

                <div class="form-group-material">
                    @Html.EditorFor(model => model.Name, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "label-material" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger small" })
                </div>

                <div class="form-group-material">
                    @Html.EditorFor(model => model.LastName, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "label-material" })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger small" })
                </div>

                <div class="form-group-material">
                    @Html.EditorFor(model => model.UserName, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "label-material" })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger small" })
                </div>

                <div class="form-group-material">
                    @Html.EditorFor(model => model.Email, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "label-material" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger small" })
                </div>

                <div class="form-group-material">
                    @Html.EditorFor(model => model.PhoneNumber, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "label-material" })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger small" })
                </div>

                @Html.Partial("_BtnSubmit", "Guardar")

            }
        </div>
    </div>
</div>


