﻿@model IEnumerable<CGM.Models.CGMModels.AspNetUsers>

@{
    String ctrl = ViewBag.ControllerName;
    var modelName = "tbl_" + ctrl;
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}


<header>
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display">
                Usuarios
            </h1>
        </div>
        <div class="col-lg-6 text-right">
            <div class="btn-group">
                @Html.ActionLink("+ Añadir nuevo elemento", "Register", "LogUser", null, new { @class = "btn btn-primary", data_toggle = "tooltip", data_placement = "top", title = "Agregar elemento" })
            </div>
        </div>
    </div>
</header>


<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div>
                <div class="card-header">
                    <h2> Listado</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="@modelName" class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                                <th>@Html.DisplayNameFor(model => model.UserName)</th>
                                <th>Rol</th>
                                <th>@Html.DisplayNameFor(model => model.Email)</th>
                                <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                    <td>@item.AspNetRoles.FirstOrDefault().Name</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                    <td class="d-inline-block">
                                        <span>
                                            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fa fa-edit m-1", style = "float:left", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Editar" })
                                            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fa fa-trash m-1", style = "float:left", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Archivar" })
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")
    <script>
        $(document).ready(function () {
            $('#@modelName').DataTable(
                    {
                    "language": {
                        "url": "../Scripts/es-CO.txt"
                    }
                }
            );
        });
    </script>
}

@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}


