﻿@model CGM.Models.MyModels.ReportElementSet

@if (Model != null)
{
    if (Model.reportElements.Count > 0)
    {
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-3">
                        <p><h3>Fecha</h3></p> <h3>@Model.dateReport.ToShortDateString()</h3>
                    </div>
                    <div class="col-sm-3">
                        <p><h3>Unidad de Negocio</h3></p>
                        @if (Model.negocio == 0)
                        {
                            <h3>Generación</h3>
                        }
                        @if (Model.negocio == 1)
                        {
                            <h3>Comercialización</h3>
                        }
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table TableData" style="background-color:white">
                    <thead>
                        <tr>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Código
                            </th>
                            <th>
                                Tipo
                            </th>
                            @for (int i = 1; i <= 24; i++)
                            {
                                <th style="text-align:center">
                                    @String.Format("h{0}", i)
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.reportElements)
                        {
                            <tr>
                                <th>
                                    @item.boundary.name
                                </th>
                                <th>
                                    @item.boundary.code
                                </th>
                                @if (@item.isBackup == true)
                                {
                                    <th>R</th>
                                }
                                else
                                {
                                    <th>P</th>

                                }

                                @foreach (var medida in item.measures)
                                {
                                    <th>@Math.Round(medida.measure1, 2)</th>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <span style="width:100%">
            @*<button class="btn btn-success" onclick="cargarMedidas()" style="margin:20px;"><i class="fa fa-upload"></i> Cargar medidas </button>*@
            <button id="btnLoad" class="btn btn-success ladda-button" data-style="zoom-in" style="margin:20px;"><i class="fa fa-upload"></i> Cargar medidas </button>

        </span>
    }
}
else
{
    <div class="row"><h4>Validación fallida.</h4></div>
    <div class="row">
        <div class="col-lg-12"><h4 class="alert alert-warning"><i class="fa fa-warning" />  @ViewBag.Error </h4></div>
    </div>
}

<div class="modal fade" id="msgModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div></div>
        </div>
    </div>
</div>
<script>

    $("#btnLoad").click(function () {
        console.log("qué pasa che!")
        location.href = "@Url.Action("UploadDataFromFile","Reports",null)";
    })

    function cargarMedidas() { //Función tomada parcialmente de la solución de Survey. Esta función se la uso al principio, pero ya no se hace una llamada desde Ajax, sino directamente al controlador
        xcn = sessionStorage.getItem('token_type') + ' ' + sessionStorage.getItem('access_token');
        $.ajax({
            type: "GET",
            url: "@Url.Content("~")api/Reports/UploadDataFromFile",
            contentType: false,
            processData: false,
            data: null,
            headers: {
                'Authorization': 'bearer ' + sessionStorage.getItem('access_token')
            },
            /*data.__RequestVerificationToken = $('#__AjaxAntiForgeryForm input[name=__RequestVerificationToken]').val()*/

            success: function (data) {
                console.log(data);
            }
        });
        console.log("Pasó Ajax");

}
</script>

