﻿@model CGM.Models.CGMModels.Report
@ViewHelpers.NavBar("Mercado", "Reporte manual", Url.Content("~"))

@{
    ViewBag.Title = "Detalles de reporte";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}

<header>
    <h2>Detalles del reporte</h2>
</header>

<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <h5>Resumen</h5>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr><td>Negocio</td><td>@Model.Report_Type.report_type1</td></tr>
                    <tr><td>Día de operación</td><td>@Model.operation_date.Value.ToLongDateString()</td></tr>
                    <tr><td>Fronteras reportadas</td><td>@Model.Report_Informs.GroupBy(ri => ri.boundary_id.Value).Count()</td></tr>
                    <tr><td>Registros totales</td><td>@Model.Report_Informs.Count</td></tr>
                    <tr><td>Resultado</td><td><h4>@ViewHelpers.StatusResult(Model.status_id)</h4></td></tr>
                    <tr><td>Identificador</td><td>@Model.external_report_id</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <h5>Detalle de resultados</h5>
            </div>
            <div class="card-body">
                @if (Model != null)
                {
                    <div class="table-responsive">
                        <table id="tblResults" class="table table-sm small">
                            <thead>
                                <tr>
                                    <th>Frontera</th>
                                    <th>Código</th>
                                    <th>Tipo</th>
                                    <th>Estado</th>
                                    <th>Mensaje</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ri in Model.Report_Informs)
                                {
                                    <tr>
                                        <td>@ri.Boundary.name</td>
                                        <td>@ri.Boundary.code</td>
                                        <td>@ViewHelpers.IsBackup(ri.is_backup.Value)</td>
                                        <td><strong>@ViewHelpers.StatusResult(ri.Substatus.idStatus)</strong></td>
                                        <td>@ri.message</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    @ViewHelpers.NoElements()
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        $('#tblResults').DataTable(
            {
                "language": {
                    "url": "@Url.Content("~")Scripts/es-CO.txt"
                 }
            })
        //table.columns.adjust().draw()
    })
</script>
@section scriptsbody
{
    @Scripts.Render("~/bundles/dataTablesScript")
}
@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}
