﻿@model CGM.Models.CGMModels.Filtro

<div class="card">
    <div class="card-header">
        <h4>Detalles</h4>
    </div>
    <div class="card-body">
        @if (Model.destination_id == 1 && ViewBag.DisplayAlert == 1)
        {
            <div class="alert alert-warning small" role="alert">
                <span><i class="fa fa-warning"></i>  Se adquirirá los datos de los medidores asignados a las fronteras. De no tener asignado un medidor, se ignorará.</span>
            </div>
        }
        <div class="row p-3">
            <div class="col-lg-3">@Html.DisplayNameFor(model => model.Name):</div>
            <div class="col-lg-9 h3">@Html.DisplayFor(model => model.Name)</div>
        </div>
        <div class="table-responsive">
            <table class="table small .table-sm" id="tblDetails">
                @if (Model.destination_id == 0)
                {
                    <thead>
                        <tr>
                            <th>Serial</th>
                            <th>Marca</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Meters)
                        {
                            <tr>
                                <td>@item.serial</td>
                                <td>@item.Model_Meter.brand</td>
                            </tr>
                        }
                    </tbody>
                }
                else if (Model.destination_id == 1)
                {
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Fuente de datos</th>
                            <th>Medidor principal</th>
                            <th>Medidor de respaldo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Boundaries)
                        {
                            <tr>
                                <td>@item.code</td>
                                <td>@item.name</td>
                                <td>@item.Boundary_Source.source</td>
                                <td>
                                    @try
                                    {
                                        <span>@item.Meters.Where(m => m.is_backup == false).FirstOrDefault().Model_Meter.brand - #@item.Meters.Where(m => m.is_backup == false).FirstOrDefault().serial</span>
                                    }
                                    catch (Exception ex)
                                    {
                                        <label class="text-danger small">No tiene asignado un medidor</label>
                                    }
                                </td>
                                <td>
                                    @try
                                    {
                                        @item.Meters.Where(m => m.is_backup == true).FirstOrDefault().Model_Meter.brand 
                                        @item.Meters.Where(m => m.is_backup == true).FirstOrDefault().serial
                                    }
                                    catch (Exception)
                                    {
                                        <label class="text-danger small">No tiene asignado un medidor</label>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
        <hr />

        @if (Model.destination_id == 1)
        {
            @Html.ActionLink("Ir a Fronteras", "Index", "Boundaries", null, new { @class = "btn btn-secondary" })
        }
        @if (Model.destination_id == 0)
        {
            @Html.ActionLink("Ir a Medidores", "Index", "Meters", new { Area = "Telemetry" }, new { @class = "btn btn-secondary", target = "_blank" })
        }
        @Html.ActionLink("Ir a Filtros", "Index", "Filtros", null, new { @class = "btn btn-secondary", target = "_blank" })
    </div>
</div>


    <script>
        $(document).ready(function () {
            $('#tblDetails').DataTable(
                    {
                    "language": {
                        "url": "../Scripts/es-CO.txt"
                    },
                    "dom": '<"top"if>rt<"bottom"lp><"clear">'
                }
            );
        });
    </script>
