﻿@model IEnumerable<CGM.Models.CGMModels.Filtro>

@{
    ViewBag.Title = "Filtros - Fronteras";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}
@ViewHelpers.NavBar("General", "Filtros", Url.Content("~"))


<header>
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display">
                Filtros - Fronteras
            </h1>
        </div>
        <div class="col-lg-6 text-right">
            <div class="btn-group">
                @Ajax.ActionLink("+ Añadir nuevo elemento", "Create", null, new AjaxOptions()
                                                       {
                                                           HttpMethod = "GET",
                                                           UpdateTargetId = "detailsWrapper"
                                                       }, new { @class = "btn btn-primary"})
            </div>
        </div>
    </div>
</header>

@Html.Partial("_TempResult")

<div class="row">
    <div class="col-lg-5">

        @filterList(1, 1, "Filtros por defecto", false, "Definidos por el sistema")
        @filterList(1, 0, "Definidos por el usuario", false, "Elementos que el usuario añade manualmente para agrupar fronteras.")
        @filterList(1, 2, "Creados automáticamente", false, "Creados en instrucciones de lectura rápida.")

        @*Filtros de medidores. The next lines are commented as a simplification for the user experience.*@
        @*<div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div>
                            <div class="card-header">
                                <a data-toggle="collapse" href="#collapse-fronteras" aria-expanded="true" aria-controls="collapse-example" id="heading-example" class="d-block text-dark h3">
                                    <i class="fa fa-chevron-down pull-right"></i>
                                    Medidores
                                </a>
                            </div>
                        </div>
                        <div id="collapse-fronteras" class="collapse show" aria-labelledby="heading-example">
                            <div class="card-body">
                                @if (Model.Count() != 0)
                                {
                                    <div class="table-responsive">
                                        <table id="@modelName" class="">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Name)
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Where(m => m.destination_id == 0))
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Name)
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fa fa-edit", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Editar" }) &nbsp;
                                                            @Ajax.ActionLink(" ", "Details", new { id = item.Id }, new AjaxOptions()
                                                       {
                                                           HttpMethod = "GET",
                                                           UpdateTargetId = "detailsWrapper",
                                                           OnBegin = "showloader",
                                                           OnComplete = "hideloader"

                                                       }, new { @class = "fa fa-list", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Detalles" })
                                                            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fa fa-trash", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Archivar" })
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                                else
                                {
                                    @ViewHelpers.NoElements();
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
    <div class="col-lg-7">
        <div id="loader" style="display:none" class="lds-ellipsis p-4"><div></div><div></div><div></div><div></div></div>
        <div id="detailsWrapper"></div>
    </div>
</div>

@helper filterList(int destId, int defFilter, string groupTitle, bool filed, string description)
{
    <div class="row">
        <div class="col">
            <div class="card">
                @{ string collapseId = "collapse" + destId + defFilter;
                    string includeDataTable= "table_data";
                    if (defFilter == 1) // Filtros del sistema
                    {
                        includeDataTable = "";
                    }
                    <div class="card-header">
                        <a data-toggle="collapse" href="#@collapseId" aria-expanded="false" aria-controls="@collapseId" id="heading-@collapseId" class="d-block text-dark h5">
                            <i class="fa fa-chevron-down pull-right"></i>
                            @groupTitle
                        </a>
                    </div>
                    <div id="@collapseId" class="collapse">
                        <div class="card-body">
                            <p>@description</p>
                            <hr />
                            @if (Model.Where(m => m.destination_id == destId && m.defaultFilter == defFilter && !filed).Count() != 0)
                            {
                                <div class="table-responsive">
                                    <table class="table @includeDataTable">
                                        <thead>
                                            <tr>
                                                <th>Fecha de creación</th>
                                                <th>
                                                    Nombre
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Where(m => m.destination_id == destId && m.defaultFilter == defFilter))
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.dateCreated)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                                    <td>
                                                        @Ajax.ActionLink(" ", "Details", new { id = item.Id, display = 1 }, new AjaxOptions()
                                                           {
                                                               HttpMethod = "GET",
                                                               UpdateTargetId = "detailsWrapper",
                                                               OnBegin = "showloader",
                                                               OnComplete = "hideloader"
                                                           }, new { @class = "fa fa-list", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Detalles" })
                                                        @if (defFilter != 1)
                                                        {
                                                            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fa fa-edit", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Editar" })
                                                            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fa fa-trash", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Archivar" })
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                @ViewHelpers.NoElements();
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}


@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")
    <script>
        function showloader() {
            $("#loader").show();
        }
        function hideloader() {
            $("#loader").hide();
        }
    </script>

    @*Scripts para la vista Create *@
    @*<script src="~/Content/vendor/multiselect/js/jquery.multi-select.js"></script>
        <script src="~/Content/vendor/jquery.quicksearch.js"></script>
        <script src="~/Scripts/Helpers.js"></script>*@
    @Scripts.Render("~/bundles/multi_select")

    <script>
        $(document).ready(function () {
            $('.table_data').DataTable(
                {
                    "language": {
                        "url": "../Scripts/es-CO.txt"
                    }

                }
            );
        });

    </script>

}

@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/multi_select")
    @Styles.Render("~/bundles/dataTablesStyle")

}


