﻿@model CGM.Models.CGMModels.AlarmFire
@using CGM.Models.MyModels;

<div class="container-responsive">
    <div class="card ">
        <div class="card-body">
            <div id="criticWrapper"></div>
        </div>
    </div>
</div>


<script>
    $('#criticWrapper').load('@Url.Content("~")AlarmFires/GetCriticPartial');
</script>

