﻿@model CGM.Models.CGMModels.AlarmFire
@using CGM.Models.MyModels;

@{
    ViewBag.Title = "Detalles";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
    CriticSummary criticSummary = ViewBag.criticSummary;

}
@ViewHelpers.NavBar("Alarmas", "Alarmas disparadas", Url.Content("~"))

<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1> Detalles</h1>
        </div>
    </div>
    <hr />
</header>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Alarma disparada</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.Alarm.name)</td>
                                <th><h5>@Html.DisplayFor(model => model.Alarm.name)</h5></th>
                            </tr>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.firedOn)</td>
                                <th><h5>@Html.DisplayFor(model => model.firedOn)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.isActive)</td>
                                <th><h5>@Html.DisplayFor(model => model.isActive)</h5></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card">
        <div class="card-body">
            <div id="criticWrapper"></div>
        </div>
    </div>
</div>

@section scriptsbody
{
    @Scripts.Render("~/bundles/dataTablesScript")
    @Scripts.Render("~/bundles/highcharts")
    <script>
        $('#criticWrapper').load('@Url.Content("~")AlarmFires/GetCriticPartial');
    </script>
}

@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
    <link href="@Url.Content("~")Content/vendor/tempusdominus/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
}
