﻿@model CGM.Areas.SurveyApp.Models.Response
@Html.AntiForgeryToken()
@Html.HiddenFor(model=>model.Id_Question)

<h4 class="card-header">Respuesta</h4>
<div class="card-body">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        @Html.LabelFor(model => model.OrderResponse, htmlAttributes: new { @class = "col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.OrderResponse, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OrderResponse, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.EnumLabel, htmlAttributes: new { @class = "col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.EnumLabel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EnumLabel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Id_Question_Next, "Pregunta siguiente", htmlAttributes: new { @class = "col-md-3" })
        <div class="col-md-9">
            @Html.DropDownList("Id_Question_Next", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Id_Question_Next, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Is_Required, htmlAttributes: new { @class = "col-md-3" })
        <div class="col-md-9">
            <div class="checkbox">
                @Html.EditorFor(model => model.Is_Required)
                @Html.ValidationMessageFor(model => model.Is_Required, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Id_Response_Type, "Tipo de respuesta", htmlAttributes: new { @class = "col-md-3" })
        <div class="col-md-9">
            @Html.DropDownList("Id_Response_Type", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Id_Response_Type, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row" id="box_datasource">
        @Html.ActionLink("Conjunto de datos", "Index" ,"DataSources",null, htmlAttributes: new { @class = "col-md-3" })
        <div class="col-md-9">
            @Html.DropDownList("Id_Datasource", null, "Seleccionar conjunto de datos", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Id_Datasource, "", new { @class = "text-danger" })
        </div>
    </div>


    <div id="box_validation">
        <div class="row">
            @Html.LabelFor(model => model.Id_TypeData, "Tipo de datos", htmlAttributes: new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.DropDownList("Id_TypeData", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_TypeData, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="row">
            @Html.LabelFor(model => model.MaxLenght, htmlAttributes: new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.MaxLenght, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaxLenght, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.MinValue, htmlAttributes: new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.MinValue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MinValue, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.MaxValue, htmlAttributes: new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.MaxValue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaxValue, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.RexExpresion, htmlAttributes: new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.RexExpresion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RexExpresion, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>



    <input type="hidden" id="id_ControlGroup" value="@Model.Question.Id_ControlGroup" />

    <div id="box_TLY">
        <div class="row">
            @Html.LabelFor(model => model.Index_Row, htmlAttributes: new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Index_Row, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Index_Row, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Index_Column, htmlAttributes: new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Index_Column, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Index_Column, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Colspan, htmlAttributes: new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Colspan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Colspan, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.Is_Files, htmlAttributes: new { @class = "col-md-3" })
        <div class="col-md-9">
            <div class="checkbox">
                @Html.EditorFor(model => model.Is_Files)
                @Html.ValidationMessageFor(model => model.Is_Files, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="row">
        @Html.Label("¿Hay respuesta adicional?", htmlAttributes: new { @class = "col-md-3" })
        <div class="col-md-9">
            <div class="checkbox">
                <input type="checkbox" id="chk_aditionalresponse" />
            </div>
        </div>
    </div>

    <div id="box_aditionalresponse">
        <div class="row">
            @Html.LabelFor(model => model.AditionalResponse, htmlAttributes: new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.AditionalResponse, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AditionalResponse, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.ValueAditionalResponse, htmlAttributes: new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.ValueAditionalResponse, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValueAditionalResponse, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    @Html.Partial("_BtnSubmit", "Guardar")

</div>