﻿@{
    string buttonClass = "btn-primary";
}
<div class="row p-4 justify-content-md-center">
    <div class="col-lg-4">
        @if (Model == "Borrar")
        {
            buttonClass = "btn-danger";
        }
        <input class="btn btn-block @buttonClass btn-lg" type="submit" id="btnSubmit" value=@Model />
    </div>
</div>
