﻿@using CGM.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="all,follow">

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/vendor")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/messenger")
    <link href="@Url.Content("~")Content/css/custom.css?v=1.04" rel="stylesheet" />
    @RenderSection("styles", required: false)


    @Scripts.Render("~/bundles/jquery1")
    @Scripts.Render("~/bundles/jquery2")
    @Scripts.Render("~/bundles/otherJs1")
    @Scripts.Render("~/bundles/otherJs2")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/messenger")
    <script>
        var ROOT = '@Url.Content("~")';
    </script>
    @RenderSection("scriptshead", required: false)
    @if (USER.CLIENT == "ASC")
    {
        <link rel="icon" href="@Url.Content("~")Images/LogoASC.ico" type="image/x-icon">
    }
    @if (USER.CLIENT == "CEDENAR")
    {
        <link rel="icon" href="@Url.Content("~")Images/LogoCEDENAR.ico" type="image/x-icon">
    }
</head>

<body>
    <!-- Side Navbar -->
    <nav class="side-navbar @ViewBag.shrink">
        <div class="side-navbar-wrapper">
            <!-- Sidebar Header    -->
            <div class="sidenav-header d-flex align-items-center justify-content-center">
                <!-- User Info-->
                <div class="sidenav-header-inner text-center">
                    <h2 class="h5">Administrador</h2><span>Operador</span>
                </div>
                <!-- Small Brand information, appears on minimized sidebar-->
                <div class="sidenav-header-logo">
                    <a href="Index2" class="brand-small text-center">
                        @if (USER.CLIENT == "ASC")
                        {
                            <img src="@Url.Content("~")Images/LogoASC.png" style="height:30px" />
                        }
                        @if (USER.CLIENT == "CEDENAR")
                        {
                            <img src="@Url.Content("~")Images/LogoCEDENAR.png" style="height:30px" />
                        }
                    </a>
                </div>
            </div>
            <!-- Sidebar Navigation Menus-->
            <div class="main-menu">
                <h5 class="sidenav-heading">Principal</h5>
                <ul id="side-main-menu" class="side-menu list-unstyled">
                    <li><a href="@Url.Content("~")Home/Index"> <i class="icon-home"></i>Inicio</a></li>
                    <li><a href="@Url.Content("~")Telemetry/Monitor/Index"><i class="icon-clock"></i>Monitor</a></li>
                    <li><a href="@Url.Content("~")Reports/Manual"><i class="fa fa-calendar-check-o"></i>Reporte manual</a></li>
                </ul>
                <h5 class="sidenav-heading">Áreas</h5>
                <ul class="side-menu list-unstyled">
                <li>
                    <a href="#menugeneral" aria-expanded="false" data-toggle="collapse">
                        <i class="fa fa-genderless"></i>General
                    </a>
                    <ul id="menugeneral" class="collapse list-unstyled ">
                        <li><a href="@Url.Content("~")Programs">Programas</a></li>
                        <li><a href="@Url.Content("~")Filtros">Filtros</a></li>
                        <li><a href="@Url.Content("~")Settings">Configuración</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#menutelemetria" aria-expanded="false" data-toggle="collapse">
                        <i class="fa fa-wifi"></i>Telemetría
                        <div class="badge badge-success">Beta</div>
                    </a>
                    <ul id="menutelemetria" class="collapse list-unstyled ">
                        <li><a href="@Url.Content("~")Telemetry/Meter/Index">Medidores</a></li>
                        <li><a href="@Url.Content("~")Telemetry/Monitor/Index">Monitor</a></li>
                        <li><a href="@Url.Content("~")Telemetry/ClockSync">Sincronización de reloj</a></li>
                        @*<li><a href="@Url.Content("~")Telemetry/Reading">Lectura rápida</a></li>*@
                        <li><a href="@Url.Content("~")Settings/Telemetry">Configuración</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#menureportes" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-calendar-check-o"></i>Mercado </a>
                    <ul id="menureportes" class="collapse list-unstyled ">
                        <li><a href="@Url.Content("~")Boundaries">Fronteras</a></li>
                        <li><a href="@Url.Content("~")Reports/Manual">Reporte Manual</a></li>
                        <li><a href="#">Reporte Automático</a></li>
                        <li><a href="@Url.Content("~")Settings/Reports">Configuración</a></li>
                        <li><a href="@Url.Content("~")CurvaTips/">Curvas típicas</a></li>
                        @if (USER.CLIENT == "CEDENAR")
                        {
                            <li><a href="@Url.Content("~")Reports/LoadFile">Carga de Medidas</a></li>
                        }
                    </ul>
                </li>
                <li>
                    <a href="#menuanalisis" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-bar-chart"></i>Medidas</a>
                    <ul id="menuanalisis" class="collapse list-unstyled ">
                        <li><a href="@Url.Content("~")Measures/Index">Registro</a></li>
                        <li><a href="@Url.Content("~")CurvaTips/Index">Curva Típica</a></li>
                        <li><a href="@Url.Content("~")">Informes</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#menualarms" aria-expanded="false" data-toggle="collapse">
                        <i class="fa fa-bell"></i>Alarmas
                    </a>
                    <ul id="menualarms" class="collapse list-unstyled ">
                        <li><a href="@Url.Content("~")AlarmCases">Casos de alarmas</a></li>
                        <li><a href="@Url.Content("~")Alarms">Alarmas establecidas</a></li>
                        <li><a href="@Url.Content("~")AlarmsFire">Alarmas disparadas</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#menudocumentacion" aria-expanded="false" data-toggle="collapse">
                        <i class="fa fa-file-text"></i>Documentación
                        <div class="badge badge-success">Beta</div>
                    </a>
                    <ul id="menudocumentacion" class="collapse list-unstyled ">
                        <li><a href="@Url.Content("~")SurveyApp/SurveyManager/SurveyManagerListIndex">Hojas de vida</a></li>
                        <li><a href="@Url.Content("~")SurveyApp/Norms">Normas</a></li>
                        <li><a href="@Url.Content("~")SurveyApp/Procedures">Procedimientos</a></li>
                        <li><a href="@Url.Content("~")SurveyApp/DataSources">Conjuntos de datos</a></li>
                    </ul>
                </li>
                <li><a href="tables.html"> <i class="fa fa-download"></i>PDA</a></li>
                </ul>
            </div>
            <div class="admin-menu">
                <h5 class="sidenav-heading">Otros</h5>
                <ul id="side-admin-menu" class="side-menu list-unstyled">
                    <li>
                        <a href="#menuayuda" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-info-circle"></i>Ayuda</a>
                        <ul id="menuayuda" class="collapse list-unstyled ">
                            <li><a href="#">Ayuda</a></li>
                            <li><a href="#">Acerca de</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="lnk_cs"> <i class="fa fa-sign-out lnk_cs"></i>Salir </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page @ViewBag.active">
        <!-- navbar-->
        <header class="header">
            <nav class="navbar">
                @* <nav class="navbar" style="background:none; background-image: url('../Images/CMORImages/HeaderImage.png')">*@
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <div class="navbar-header">
                            <a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a>
                        </div>
                        <div class="nav-link">
                            <a href="" class="">
                                @if (USER.CLIENT == "ASC")
                                {
                                    <img class="img-fluid" src="@Url.Content("~")Images/LogoBarWhiteASC.png" style=" max-height:50px; width:auto; " onclick="location.href = '@Url.Action("Dashboard", "Home")'" />
                                }
                                @if (USER.CLIENT == "CEDENAR")
                                {
                                    <img class="img-fluid" src="@Url.Content("~")Images/LogoBarWhiteCEDENAR.png" style=" max-height:50px; width:auto; " onclick="location.href = '@Url.Action("Dashboard", "Home")'" />
                                }
                            </a>
                            <a href="" class="d-none d-md-inline-block lnk_cs">
                                <i class="fa fa-sign-out fa-2x m-lg-2 lnk_cs" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cerrar sesión"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        @*<div>@{Html.RenderPartial("_Navbar", null);}</div>*@
        <section>
            <div class="container-fluid">
                <div class="message-container"></div>
                @RenderBody()
            </div>
            <div class="container-fluid">
                @RenderSection("fluid", required: false)
            </div>
        </section>
        <footer class="main-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <p> &copy; @DateTime.Now.Year - Centrales Eléctricas de Nariño - COLOMBIA </p>
                    </div>
                    <div class="col-sm-4 text-right">
                        <p>Desarrollado por <a href="http://www.idenar.com.co/" class="external">IDENAR S.A.S.</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!-- JavaScript files-->
    @*No tuve tiempo para ver porqué solamente funcionaba en ese orden*@


    @*"~/Content/vendor/font-awesome/css/font-awesome.min.css"*@
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <!-- Main File-->
    <script src="~/Content/js/front.js"></script>
    <script src="~/Scripts/vendorConfig.js"></script>
    <script src="~/Scripts/custom.js"></script>
    @RenderSection("scriptsbody", required: false)


    <script>
        //Method to open the menus of the side bar before hiting click.
        //There must be an easier way -_-
        $(function () {
            clicked = false
            $("a[href^='#menu']").parent().hover(function () {
                t = $(this)
                //console.log(t.children('a').attr('aria-expanded'))
                if (t.children('a').attr('aria-expanded') == "false") {
                    //t.children('a').click()
                    f = setTimeout(
                        function () {
                            t.children('a').click() //Opens down the menu
                            clicked = true
                        }, 500); //Time to wait before it opens
                }
            }, function unhover() {
                if (t.children('a').attr('aria-expanded') == "false") {
                    clearTimeout(f)
                }
                if (t.children('a').attr('aria-expanded') == "true") {
                    t.children('a').click() //If the menu is already expanded, close it
                }
            })

            //Method to close session
            $(".lnk_cs").click(function (e) {
                e.preventDefault();
                console.log("Salir de la sesión")
                var xcn = sessionStorage.getItem('token_type') + ' ' + sessionStorage.getItem('access_token');
                $.ajax({
                    type: "POST",
                    xhrFields: {
                        withCredentials: true
                    },
                    headers: {
                        'Authorization': xcn
                    },
                    url: "@Url.Content("~")api/Account/Logout",
                    success: function (data, textStatus, jqXHR) {
                        sessionStorage.clear();
                        window.location = "@Url.Action("Index","Home", new { Area=""})";
                    },
                    error: function () {
                        sessionStorage.clear();
                        window.location = "@Url.Action("Index",new { controller = "LogUser" })";
                    }
                    
                });
            });
        });
    </script>
</body>

</html>