﻿@model IEnumerable<CGM.Areas.Telemetry.Models.Model_Meter>

@{
    String ctrl = ViewBag.ControllerName;
    var modelName = "tbl_" + ctrl;
    ViewBag.Title = "Modelos de Medidores";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}

<header>
    <div class="row">
        <div class="col-sm-6">
            <h1 class="display"> 
                <img class="mr-1" src="~/Images/Icons/SmartMeter.png" width="50"/>  
                Modelos de Medidores
            </h1>
        </div>
        <div class="col-sm-6 text-right">
            @Html.ActionLink("+ Añadir nuevo elemento", "Create", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</header>

<div class="card">
    <div>
        <div class="card-header">
            <h2> Listado</h2>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="@modelName" class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.brand)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.model)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.brand)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.model)
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "fa fa-edit", data_toggle = "tooltip", data_placement = "top", title = "Editar" }) &nbsp;
                                @Html.ActionLink(" ", "Details", new { id = item.id, }, new { @class = "fa fa-list", data_toggle = "tooltip", data_placement = "top", title = "Detalles" }) &nbsp;
                                @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "fa fa-trash", data_toggle = "tooltip", data_placement = "top", title = "Borrar" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scriptsbody{
    <!-- Data Tables-->
    @Scripts.Render("~/bundles/dataTablesScript")
    <script>
            $(document).ready(function () {
                $('#@modelName').DataTable(
                        {
                        "language": {
                            "url": "../Scripts/es-CO.txt"
                        }
                    }
                );
            });
    </script>
}

@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}

