﻿
@{
    ViewBag.Title = "Configuración Telemetría";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}
@ViewHelpers.NavBar("Telemetría", "Configuración", Url.Content("~"))

<header>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="fa fa-2x fa-gears pr-2 pl-2"></div>
                <h1 class="display">
                    Configuración
                </h1>
            </div>
        </div>
    </div>
</header>
@Html.Partial("_TempResult")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h3>Telemetría</h3>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="bold form-control-label">Días atrás de visualización</label>
                            <span class="text-xsmall text-gray help-block-none">En el espacio Monitor se muestran todos los registros del número de días previos. </span>
                        </div>
                        <div class="col-sm-6">
                            <input type="number" min="1" max="100" class="form-control" required value="@ViewBag.DiasAtras" name="DiasAtras">
                        </div>
                    </div>
                    <hr /><hr />
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="bold form-control-label">Precisión de solicitud</label>
                            <span class="text-xsmall text-gray help-block-none">
                                Desmarcar para habilitar período de lecturas flexible hacia días anteriores. Si se marca, se interrogará solamente el día de operación especificado.
                            </span>
                        </div>
                        <div class="col-sm-6">
                            <div class="i-checks">
                                <input id="exactQuery" type="checkbox" value="1" checked="" name="exactQuery" class="form-control-custom">
                                <label for="exactQuery"> </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="bold form-control-label">Días de llenado de registro</label>
                            <span class="text-xsmall text-gray help-block-none">El software buscará completar todos los registros de los días anteriores de cada medidor a partir de la fecha actual. </span>
                        </div>
                        <div class="col-sm-6">
                            <input id="fillDays" type="number" min="1" max="15" class="form-control" required value="@ViewBag.fillDays" name="fillDays">
                        </div>
                    </div>
                    <hr />
                    @*<div class="form-group row">
            <div class="col-sm-6">
                <label class="bold form-control-label">Número de procesos simultáneos</label>
                <span class="text-xsmall text-gray help-block-none">Cantidad de solicitudes a medidores en un mismo momento.</span>
            </div>
            <div class="col-sm-6">
                <input type="number" min="1" max="10" class="form-control" required name="ProcesadoresSimultaneos" value="@ViewBag.ProcesadoresSimultaneos">
            </div>
        </div>
        <hr />*@
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="bold form-control-label">Número de reintentos por defecto</label>
                            <span class="text-xsmall text-gray help-block-none">Repeticiones del intento de lectura, al producirse errores en la adquisición. Se excluye errores por autenticación.</span>
                        </div>
                        <div class="col-sm-6">
                            <input type="number" min="0" max="100" class="form-control" required value="@ViewBag.RetriesDefault" name="RetriesDefault">
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="bold form-control-label">Redundancia de lecturas</label>
                            <span class="text-xsmall text-gray help-block-none">Habilita la lectura de un determinado medidor, incluso si ya se tiene medidas del mismo. Si marca esta opción, tendrá en cuenta la última adquisición realizada para visualización y reportes.</span>
                        </div>
                        <div class="col-sm-6">
                            <div class="i-checks">
                                <input id="Sobreescritura" type="checkbox" value="1" checked="" name="Sobreescritura" class="form-control-custom">
                                <label for="Sobreescritura"> </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="bold form-control-label">Medidas adquiridas en Programa rápido</label>
                            <span class="text-xsmall text-gray help-block-none">Grupo de medidas por defecto adquirido en el asistente de creación de Programa Rápido, presente en la interfaz Monitor.</span>
                        </div>
                        <div class="col-sm-6">
                            @Html.DropDownList("quickProgramAcq", null, "--- Seleccione grupo de medidas ---", htmlAttributes: new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <hr />
                    @Html.Partial("_BtnSubmit", "Guardar")
                </div>
            </div>
        </div>
    </div>
}

<script>
    $("#Sobreescritura").prop("checked", ("@ViewBag.Sobreescritura").toLowerCase() == 'true')
    $("#exactQuery").prop("checked", ("@ViewBag.exactQuery").toLowerCase() == 'true')

    function fillDaysCheck() {
        checkExact = $("#exactQuery").prop("checked")
        $("#fillDays").prop("disabled", checkExact)
    }

    $(fillDaysCheck())

    $("#exactQuery").change(function () {
        fillDaysCheck()
    })

    $(function () {
        if (("@ViewBag.newconfig").toLowerCase() == 'true') {
           $.ajax({
                url: "@Url.Content("~")Telemetry/Settings/NewConfigActions",
                type: 'POST',
                success: function (result) {
                   console.log(result)
                }
            })
        }
    })

//**    prop("disabled", false")


</script>