﻿@model CGM.Areas.Telemetry.Models.Meter

@{
    ViewBag.Title = "Eliminar";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}


<header>
    <div class="row align-content-center">
        <div class="pr-4 fa fa-2x fa-trash"></div>
        <h1>Realmente quiere eliminar este elemento?</h1>
    </div>
</header>
<hr />
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Medidor</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.Model_Meter.brand)</td>
                                <th><label>@Html.DisplayFor(model => model.Model_Meter.brand)</label></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.serial)</td>
                                <th><label>@Html.DisplayFor(model => model.serial)</label></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.multiplicative_factor)</td>
                                <th><label>@Html.DisplayFor(model => model.multiplicative_factor)</label></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.info)</td>
                                <th><label>@Html.DisplayFor(model => model.info)</label></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-danger">
        <span class="fa fa-times"></span>
        Eliminar
    </button>

    <button type="button" class="btn btn-default back">
        <span class="fa fa-arrow-left "></span>
        Volver
    </button>
}
@section scriptsbody{
    <script>
    $(".back").click(function (e) {
        document.location = "@Url.Action("Index")";
    });
    </script>
}