﻿
@{
    ViewBag.Title = "Carga de configuración";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}

<!-- Page Header-->

<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1>Carga de archivo - Configuración de medidor</h1>
        </div>
    </div>
</header>
@Html.Partial("_TempResult")

<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-header">
                <h4>Configuración de medidores</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <span>
                            Puede cargar información de medidores en conjunto sin necesidad de modificarlos individualmente.
                            Para detalles de la plantilla requerida, haga clic
                            <a class="text-primary" id="formato" href="#">aquí.</a>
                        </span>
                        <br />
                        <span>
                            <strong>Advertencia</strong>: Los datos de configuración cargados sobreescribirán los datos actuales.
                            Para medidores ya existentes, los datos <strong>Serial, Frontera asociada y Modelo de medidor NO</strong> se modificarán.
                        </span>
                        <div class="text-center mt-4"><div id="loader" style="display:none" class="lds-ellipsis p-4"><div></div><div></div><div></div><div></div></div></div>
                    </div>
                    <div class="col-md-6">
                        <form class="dropzone dz-clickable" id="fileUpload" action="@Url.Content("~")Meter/LoadConfigurationPreview">
                            <div class="dz-message">
                                <p>Arrastre el archivo hasta aquí.</p>
                            </div>
                        </form>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
    <div class="col-1">
        <button id="btnLoadConfig" class="btn btn-success displaynone">Cargar configuración</button>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div id="LoadResult">
        </div>
    </div>
</div>

@section scriptsbody{
    <!-- Dropzone.js-->
    <script src="@(Url.Content("~"))Content/vendor/dropzone/dropzone.js"></script>
    <!-- Dropzone Init-->
    <script src="@(Url.Content("~"))Content/js/forms-dropzone.js?v=0.4"></script>

    @*El archivo forms-dropzone está bastante editado por mí*@

    @Scripts.Render("~/bundles/dataTablesScript")

    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>

    <script>
        $("#btnLoadConfig").click(function () {
            $(this).attr("disabled", true)
            $("#loader").show()
            event.preventDefault();
            var xcn = sessionStorage.getItem('token_type') + ' ' + sessionStorage.getItem('access_token');
            $.ajax({
                url: ROOT + 'Telemetry/Meter/LoadConfigurationPost',
                method: 'POST',
                xhrFields: {
                    withCredentials: true
                },

                dataType: 'json',

                success: function (response) {
                    console.log(response)
                    if (response.result == 'Redirect')
                        window.location = response.url;

                }
            });
        })
    </script>

}

@section styles{
    @Styles.Render("~/bundles/dataTablesStyle")
    <link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap4.min.css" rel="stylesheet" />
}



