﻿@model CGM.Areas.SurveyApp.Models.SurveyTemplate

@{
    ViewBag.Title = "Crear";
}

<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1> Nueva planilla de encuesta </h1>
        </div>
    </div>
    <hr />
</header>
<div class="card col-sm-6">
    @using (Html.BeginForm("Create", "SurveyTemplates", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.EditorFor(model => model)
    }
</div>
    @section scriptsbody {
        @*@Scripts.Render("~/bundles/jqueryval")*@
        <script>
            $(function () {
                $("#url_Logo").fileinput({
                    showUpload: false,

                });
                $("#url_Image").fileinput({
                    showUpload: false,
                });
            })
        </script>
    }
