﻿@model CGM.Areas.SurveyApp.Models.SurveyTemplate

@Html.AntiForgeryToken()
@Html.HiddenFor(model=>model.CreationDate)
@Html.HiddenFor(model=>model.Id_UserCreator)

    <div class="card-header"><h4>Plantilla</h4></div>
    <div class="card-body">
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>No registrado</strong> @ViewBag.Error
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Presentation, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Presentation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Presentation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.url_Logo, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.url_Logo, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
                @Html.ValidationMessageFor(model => model.url_Logo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.url_Image, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.url_Image, new { htmlAttributes = new { @class = "form-control", data_show_upload = "false", @type = "file" } })
                @Html.ValidationMessageFor(model => model.url_Image, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.Partial("_BtnSubmit")   
    </div>