﻿@model CGM.Models.CGMModels.Alarm

@{
    ViewBag.Title = "Editar";
    String ctrl=ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";    
}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Editar elemento</h1>
        </div>
    </div>
    <hr />
</header>

@Html.Partial("_TempResult")

<div class="col-sm-6">
    <div class="card">
        <div class="card-header mb-2"><h2>Alarm</h2></div>
        <div class="card-body">

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

            <div class="form-group-material">
                @Html.DropDownList("alarmCase_id", null, htmlAttributes: new { @class = "js-select full-size form-control", @style = "width: 100%"})
            @Html.LabelFor(model => model.alarmCase_id, "alarmCase_id", htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.alarmCase_id, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
                @Html.DropDownList("priority_id", null, htmlAttributes: new { @class = "js-select full-size form-control", @style = "width: 100%"})
            @Html.LabelFor(model => model.priority_id, "priority_id", htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.priority_id, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
              
  							@Html.EditorFor(model => model.parameters, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
            @Html.LabelFor(model => model.parameters, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.parameters, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
                <label class="switch" >
					<input type="checkbox" />
				    <span class="check"></span>
				</label>
                    @Html.EditorFor(model => model.isActive, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
                @Html.LabelFor(model => model.isActive, htmlAttributes: new { @class = "label-material" })
                    @Html.ValidationMessageFor(model => model.isActive, "", new { @class = "text-danger small" })
						
							<label class="switch" >
								<input type="checkbox" />
								<span class="check"></span>
                            </label>
            </div>
        @Html.Partial("_BtnSubmit","Guardar")

}
        </div>
    </div>
</div>

        
