﻿@model IEnumerable<CGM.Models.CGMModels.Alarm>

@{
    String ctrl = ViewBag.ControllerName;
    var modelName = "tbl_" + ctrl;
    ViewBag.Title = "Alarmas";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}
@ViewHelpers.NavBar("Alarmas", "Alarmas establecidas", Url.Content("~"))


<header>
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display">
                <i class="fa fa-bell-o mr-3">))</i> Alarmas
            </h1>
        </div>
        <div class="col-lg-6 text-right">
            <div class="btn-group">
                @Html.ActionLink("+ Añadir nuevo elemento", "Create", null, new { @class = "btn btn-primary", data_toggle = "tooltip", data_placement = "top", title = "Agregar elemento" })
            </div>
        </div>
    </div>
</header>

<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div>
                <div class="card-header">
                    <h2> Listado</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="@modelName" class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.AlarmCase.description)</th>
                                <th>@Html.DisplayNameFor(model => model.Priority.name)</th>
                                <th>@Html.DisplayNameFor(model => model.parameters)</th>
                                <th>@Html.DisplayNameFor(model => model.isActive)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.AlarmCase.description)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Priority.name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.parameters)</td>
                                    <td>@Html.DisplayFor(modelItem => item.isActive)</td>
                                    <td>
                                        @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "fa fa-edit", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Editar" }) &nbsp;
                                        @Html.ActionLink(" ", "Details", new { id = item.id, }, new { @class = "fa fa-list", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Detalles" }) &nbsp;
                                        @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "fa fa-trash", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Archivar" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")
    <script>
        $(document).ready(function () {
            $('#@modelName').DataTable(
                    {
                    "language": {
                        "url": "../Scripts/es-CO.txt"
                    }
                }
            );
        });
    </script>
}

@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}


