﻿@model IEnumerable<CGM.Models.CGMModels.VMeasure>
@{ int cont = 0; string buffer = "";}

@if (Model != null)
{
    <div class="card">
        <div class="card-body">
            @if (Model.Count() != 0)
            {
                <div class="table-responsive">
                    <table id="tblBoundaries" class="table small">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Código</th>
                                <th style="padding-right: 180px">Frontera</th>
                                @for (int i = 1; i <= 24; i++)
                                {
                                    <th>H@(i)</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var boundary in Model.GroupBy(m => new Tuple<string, string>(m.name, m.code)).OrderBy(g => g.Key.Item1))
                            {
                                if (boundary.Key.Item1 != buffer) { cont++; buffer = boundary.Key.Item1; }

                                <tr>
                                    <td>@cont</td>
                                    <td>@Html.DisplayFor(model => boundary.Key.Item2)</td>
                                    <td>@Html.DisplayFor(model => boundary.Key.Item1)</td>
                                    @foreach (var measure in boundary.OrderBy(m => m.hour))
                                    {
                                        <td class="text-center">@Math.Round(@measure.measure, 3)</td>
                                    }
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <hr />

                if (cont == 1)
                {<p><strong>Total: @cont Frontera</strong></p>}
            else
            {<p><strong>Total: @cont Fronteras</strong></p>}
        <script>
            // We make sure that the numbers are correctly parsed. Sometimes it renders a comma separator, which messes up everything.

            var colorBar = getColorbar(parseFloat(("@ViewBag.min").replace(",", '.')),
                                       parseFloat(("@ViewBag.max").replace(",", '.')))

            var table = $('#tblBoundaries').DataTable(
                {
                    "language": {
                        "url": "@Url.Content("~")Scripts/es-CO.txt"
                    },
                    "columnDefs": [{
                        "targets": '_all',
                        "createdCell": function (td, cellData, rowData, row, col) {
                            //console.log(col)
                            if (col >= 3) { // 3 is the column where the numeric values begin
                                num = parseFloat(cellData.replace(',', '.'))
                                rgb = colorBar(num)
                                //console.log(`rgb(${rgb[0]},${rgb[1]},${rgb[2]})`)
                                $(td).css('background-color', `rgb(${rgb[0]},${rgb[1]},${rgb[2]})`)
                            }
                        }
                    }]
                })
            table.columns.adjust().draw()
        </script>
    }
    else
    {
        @ViewHelpers.NoElements()
    }
        </div>
    </div>
}
else
{
    <div class="row"><h4>Validación fallida.</h4></div>
    @Html.Partial("_TempResult")
}
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalCenterTitle">Confirmación</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Confirma enviar la información de este reporte?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                @Html.ActionLink("Aceptar", "SendReport", "Reports", null, new { @class = "btn btn-block btn-warning", id = "btnSend" })
            </div>
        </div>
    </div>
</div>

<script>
    $('#btnSend').click(function myfunction() {
            $(this).attr('disable', 'disable')
    })

</script>
