﻿@model CGM.Areas.SurveyApp.Models.Question

@Html.AntiForgeryToken()

<h4 class="card-header">Pregunta</h4>
<div class="card-body">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id_SurveyTemplate)
    <div class="row">
        @Html.LabelFor(model => model.OrderQuestion, htmlAttributes: new { @class = "col-lg-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.OrderQuestion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OrderQuestion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.EnumLabel, htmlAttributes: new { @class = "col-lg-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.EnumLabel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EnumLabel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-lg-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Subtitle, htmlAttributes: new { @class = "col-lg-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Subtitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Subtitle, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="row">
            @Html.LabelFor(model => model.Anotation, htmlAttributes: new { @class = "col-lg-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Anotation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Anotation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Observation, htmlAttributes: new { @class = "col-lg-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Observation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Observation, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="row">
        @Html.LabelFor(model => model.Id_ControlGroup, htmlAttributes: new { @class = "col-lg-3", data_toggle = "tooltip", data_placement = "top", title = "<ul style='list-style: none; padding-left:0;'> <li><b>LLY: </b>Organización lineal</li> <li><b>RGR: </b>Para botones de radio</li> <li><b>TLY: </b>Organización de datos en tabla</li> </ul>", data_html = "true" })
        <div class="col-md-9">
            @Html.DropDownList("Id_ControlGroup", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Id_ControlGroup, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Is_Images, htmlAttributes: new { @class = "col-lg-3" })
        <div class="col-md-9">
            <div class="checkbox">
                @Html.EditorFor(model => model.Is_Images)
                @Html.ValidationMessageFor(model => model.Is_Images, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Is_VerticalOrientation, htmlAttributes: new { @class = "col-lg-3" })
        <div class="col-md-9">
            <div class="checkbox">
                @Html.EditorFor(model => model.Is_VerticalOrientation)
                @Html.ValidationMessageFor(model => model.Is_VerticalOrientation, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="row">
        @Html.LabelFor(model => model.Is_Requerid, htmlAttributes: new { @class = "col-lg-3" })
        <div class="col-md-9">
            <div class="checkbox">
                @Html.EditorFor(model => model.Is_Requerid)
                @Html.ValidationMessageFor(model => model.Is_Requerid, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div id="box_TLY">
        <div class="row">
            @Html.LabelFor(model => model.Num_Row_Response, htmlAttributes: new { @class = "col-lg-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Num_Row_Response, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Num_Row_Response, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Num_Column_Response, htmlAttributes: new { @class = "col-lg-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Num_Column_Response, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Num_Column_Response, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    @Html.Partial("_BtnSubmit","Guardar")
</div>

<script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
</script>




