﻿@model CGM.Areas.SurveyApp.Models.ShareSurvey

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}

@if (ViewBag.Error != null)
{
    <h1>@ViewBag.Error</h1>
    <h2>Ingrese a la encuesta con el token asignado. Si aún no tiene un token asignado contáctese con el administrador.</h2>
}
else
{

    <header class="page-header-custom"><h2>Bienvenido</h2>
    <hr />
    </header>

<div class="card col-lg-6">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="card-header"><h4>Ingrese su código</h4></div>
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group row">
                    @Html.LabelFor(model => model.Id_SurveyTemplate, "Encuesta a aplicar", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("Id_SurveyTemplate", null, htmlAttributes: new { @class = "form-control", @readonly = "@readonly" })
                        @Html.ValidationMessageFor(model => model.Id_SurveyTemplate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.ContactName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Ingresar" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }

    </div>
}

