﻿@model int
@*// Received the ID of the form*@

<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Editar elemento</h1>
        </div>
    </div>
    <hr />
</header>


<div id="FormInstacePartial"></div>

<script>
    $(function initForm() {
        $.ajax({
            url: ROOT + 'ParamFormInstances/EditFormPartial',
            method: 'GET',
            data: {
                id: @Model 
            },
            success: function (data) {
                //$("#loader").hide();
                $("#FormInstacePartial").html(data)
            }
        })
    })
</script>