﻿@model IEnumerable<CGM.Areas.Telemetry.Models.VReport>
@using CGM.Helpers
@{
    int? dest = ViewBag.dest; //Se produce un error cuando es nulo.
    bool fBool = ViewBag.dest == 1; //Fronteras
    bool mBool = ViewBag.dest == 0; //Medidores
}
@ViewSnippets.detailsMonitor()

<div class="card">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col-6">
                <h2 class="display"><i class="fa fa-forward mr-1 text-primary"></i>  En proceso</h2>
            </div>
            <div class="col-6 text-right">
                <button class="btn btn-info small btnState" value="600"><i class="fa fa-retweet"></i>  Poner en cola seleccionados</button>
                @ViewHelpers.DeleteButton("Cancelar operación")
                @*<button class="btn btn-outline-danger small btnState" value="1"><i class="fa fa-trash"></i>  Cancelar operación</button>*@
            </div>
        </div>
    </div>
    <div class="card-header"></div>
    <div class="card-body">
        @if (Model.Count() != 0)
        {
            <div class="table-responsive small">

                <table id="tblFrontera" class="table tblCustom">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.jobid)</th>
                            <th>@Html.DisplayNameFor(model => model.code)</th>
                            <th>@Html.DisplayNameFor(model => model.name)</th>
                            @*<th>@Html.DisplayNameFor(model => model.source)</th>*@
                            <th>@Html.DisplayNameFor(model => model.brand)</th>
                            <th>@Html.DisplayNameFor(model => model.is_backup)</th>
                            <th>@Html.DisplayNameFor(model => model.dateProgrammed)</th>
                            <th>@Html.DisplayNameFor(model => model.operation_date)</th>
                            <th>Reintentos</th>
                            <th>@Html.DisplayNameFor(model => model.priority)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.jobid)</td>
                            <td><div>@Html.DisplayFor(modelItem => item.code)</div></td>
                            <td><div>@Html.DisplayFor(modelItem => item.name)</div></td>
                            <td><div class="small"> @Html.DisplayFor(modelItem => item.brand) - #@Html.DisplayFor(modelItem => item.serial) </div></td>
                            <td>@ViewHelpers.backupHelper(item.is_backup)</td>
                            <td>@item.dateProgrammed.ToString("dd/MM/yyyy - HH:mm:ss")</td>
                            <td class="text-dark h6">@Html.DisplayFor(modelItem => item.operation_date)</td>
                            <td>@ViewSnippets.retryBadge(item.id, item.retries)</td>
                            <td><div>@ViewHelpers.priorityHelper(item.priority) </div></td>
                        </tr>
                        }
                    </tbody>
                </table>

            </div>
        }
        else
        {
            <div class="col-6"><h6 class="alert alert-secondary">No hay tareas en proceso.</h6></div>
        }
    </div>
</div>

@Scripts.Render("~/bundles/dataTablesScript")
<script src="@Url.Content("~")Content/vendor/datatablesCHK/dataTables.checkboxes.min.js"></script>
<script src="@Url.Content("~")Scripts/Monitor.js"></script>
<script>
    $(function () {
        var params = {};
         table = $('#tblFrontera').DataTable(
            {
                "language": {
                    "url": "@Url.Content("~")Scripts/es-CO.txt"
                 }
                 ,
                 "pageLength": 20,

                 "columnDefs": [
                     {
                         'targets': 0,
                         'checkboxes': {
                             'selectRow': true
                         },
                         "className": "text-center",

                     },
                     {
                         'targets': 0, //Boxes
                         "className": "text-center",
                         "width": "8%"
                     },
                     {
                         "targets": 1, // your case first column
                         "className": "text-center",
                         "width": "4%"
                     }
                 ],
                     'select': {
                         'style': 'multi'
                     }

                 @*"ajax": {
                     method: "GET",
                     url: "@Url.Content("~")Monitor/Page",
                     contentType: "application/json; charset=utf-8",
                     dataType: "json",
                     data: function (d) {
                         return $.extend({}, d, { page: page, dest: dest, update: update })
                     }
                 }*@
                     @*function (data, callback, settings) {
                     $.ajax({
                         url: "@Url.Content("~")Monitor/Page",
                         method: 'GET',
                         data: { page: page, dest: dest, update: update },
                         //dataSrc: "d.data",
                     }).done(callback);*@

            }
         );
    })

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>