﻿@model CGM.Areas.SurveyApp.Models.Question

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail text-center">
            <img src="@Url.Content("~/"+Model.SurveyTemplate.url_Logo)" alt="..." style="width:50px">
            <br />
            <div class="caption">
                <h3>@Model.SurveyTemplate.Name</h3>
                <p>@Model.SurveyTemplate.Description</p>
                @*<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>*@
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td scope="row"> @Html.DisplayNameFor(model => model.SurveyTemplate.Name)</td>
                                <th><h5>@Html.DisplayFor(model => model.SurveyTemplate.Name)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.OrderQuestion)</td>
                                <th><h5>@Html.DisplayFor(model => model.OrderQuestion)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.EnumLabel)</td>
                                <th><h5>@Html.DisplayFor(model => model.EnumLabel)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.Title)</td>
                                <th><h5>@Html.DisplayFor(model => model.Title)</h5></th>
                            </tr>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.Subtitle)</td>
                                <th><h5>@Html.DisplayFor(model => model.Subtitle)</h5></th>
                            </tr>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.Anotation)</td>
                                <th><h5>@Html.DisplayFor(model => model.Anotation)</h5></th>
                            </tr>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.Is_Requerid)</td>
                                <th><h5>@Html.DisplayFor(model => model.Is_Requerid)</h5></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>





