﻿@model CGM.Models.CGMModels.ParamAnswerOption
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <input id="elemNum" value="" style="display:none" />
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group m-1">
                <label class="" for="Question">Pregunta</label>
                @Html.DropDownList("questions", null, "---- Seleccionar pregunta asociada ----", htmlAttributes: new { @class = "form-control mb-3", @style = "width: 100%", required = "required" })
            </div>

            <div class="form-group m-1">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.name, "", new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre de opción de respuesta", required = "required" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group m-1">
                @Html.LabelFor(model => model.alias, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.alias, "", new { htmlAttributes = new { @class = "form-control", placeholder = "Alias", required = "required" } })
                @Html.ValidationMessageFor(model => model.alias, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group m-1">
                @Html.LabelFor(model => model.type_id, htmlAttributes: new { @class = "" })
                @Html.DropDownList("type", null, "---- Seleccionar tipo de opción ----", htmlAttributes: new { @class = "form-control mb-3", @style = "width: 100%", required = "required" })
            </div>
            <div class="form-group m-1">
                @Html.LabelFor(model => model.value, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.value, "", new { htmlAttributes = new { @class = "form-control", placeholder = "Valor (opcional)" } })
                @Html.ValidationMessageFor(model => model.value, "", new { @class = "text-danger small" })
            </div>
        </div>
    </div>

    <script>
         // Relates the id of the question with the type of it
        questionid_type = JSON.parse("@ViewBag.questionid_type".replace(/&quot;/g, '"'));

        $('#questions').on('click change', function () {
            var questionsel = questionid_type.filter(tup => tup.id == $("#questions option:selected").val())[0]
            if (questionsel.type == 'radio') {
                // disable the options different to radio button
                $("#type option[value='4']").removeAttr('disable')
                $("#type option[value!='4']").attr('disabled', 'disabled');
            }
            else {
                // otherwise, enable everything, but radio
                $("#type").val('')
                $("#type option[value='4']").attr('disabled', 'disabled');
                $("#type option").removeAttr('disable')
            }
        })
       


    </script>
    if (ViewBag.edit)
    {
        @Html.HiddenFor(model => model.id)

        <script>
            $("#type").val("@Model.type_id")
            $('#questions').val('@Model.paramQuestion_id')
        </script>
    }
    else
    {
        <script>
            // Preselect the question that comes behind
            $('#questions').val('@ViewBag.questionid')
            $("#questions option[value='@ViewBag.questionid']").click()
        </script>
    }
    <hr />
    @Html.Partial("_BtnSubmit", "Guardar")
}
