﻿@model CGM.Models.CGMModels.ParamGroup
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (ViewBag.edit)
    {
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.paramForm_id)
    }
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group m-1">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.name, "", new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre de grupo", required = "required" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger small" })
            </div>
        </div>
    </div>

    <hr />
    @Html.Partial("_BtnSubmit", "Guardar")
}
