﻿@using CGM.Models.CGMModels;
@model CGM.Areas.Telemetry.Models.Model_Meter

@{
    ViewBag.Title = "Eliminar";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";

    List<Meter> backup = Model.Meter.Where(m => m.BoundaryBackup != null).Select(m => m).ToList();
    List<Meter> main = Model.Meter.Where(m => m.BoundaryMain != null).Select(m => m).ToList();
    List<Meter> notAssigned = Model.Meter.Where(m => m.BoundaryMain == null && m.BoundaryMain == null).Select(m => m).ToList();

    List<List<Meter>> meterList = new List<List<Meter>>() { backup, main, notAssigned };
    int cont = 0;
    string[] headers = { "Principal", "Respaldo", "No asignado" };
}


<header class="no-padding-bottom"><h1 class="text-dark">Realmente quiere eliminar este elemento?</h1></header>
<hr class="thin bg-grayLighter" />

<div class="row">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">
                <h4>Modelo de Medidor</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.brand)</td>
                                <th><h3>@Html.DisplayFor(model => model.brand)</h3></th>
                            </tr>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.model)</td>
                                <th><h3>@Html.DisplayFor(model => model.model)</h3></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">
                <h4>Medidores asociados</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>
                                    Frontera
                                </th>
                                <th>
                                    Serial
                                </th>
                            </tr>

                            @foreach (var item in meterList)
                            {
                                if (item.Count != 0)
                                {
                                    <tr>
                                    <th class="text-right">
                                        @headers[cont]
                                    </th>
                                        <th></th>
                                    </tr>
                                    foreach (var meter in item)
                                    {
                                        <tr>
                                            @if (@meter.BoundaryBackup != null)
	                                        {
                                                <td scope="row">@meter.BoundaryBackup[0].name</td>
	                                        }
                                            @if (@meter.BoundaryMain != null)
                                            {
                                                <td scope="row">@meter.BoundaryMain[0].name</td>
                                            }
                                            else
	                                        {
                                                 <td></td>
	                                        }
                                            <td scope="row">@meter.serial</td>
                                        </tr>
                                    }
                                }
                                cont++;
                            }
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div>
        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <button type="submit" class="btn btn-lg btn-danger">
            Eliminar
            <span class="fa fa-times"></span>
        </button>

        <button type="button" class="btn btn-lg btn-default back">
            Volver
            <span class="fa fa-arrow-left "></span>
        </button>
    }
</div>
@section scriptsbody{
<script>
    $(".back").click(function (e) {
        document.location = "@Url.Action("Index")";
        });
</script>
}