﻿@model CGM.Areas.Telemetry.Models.Model_Meter

@{
    ViewBag.Title = "Editar";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}

<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Editar elemento</h1>
        </div>
    </div>
    <hr />
</header>
<div class="col-sm-6">
    <div class="card">
        <div class="card-header mb-2"><h2>Modelo de medidor</h2></div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-sm-12">
                        <div>
                            @Html.HiddenFor(model => model.id)
                            <div class="form-group-material">
                                @Html.EditorFor(model => model.brand, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
                                @Html.LabelFor(model => model.brand, htmlAttributes: new { @class = "label-material" })
                                @Html.ValidationMessageFor(model => model.brand, "", new { @class = "text-danger small" })
                            </div>
                            <div class="form-group-material">
                                @Html.EditorFor(model => model.model, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
                                @Html.LabelFor(model => model.model, htmlAttributes: new { @class = "label-material" })
                                @Html.ValidationMessageFor(model => model.model, "", new { @class = "text-danger small" })
                            </div>
                        </div>
                    </div>
                </div>
               @Html.Partial("_BtnSubmit","Guardar")
            }
        </div>
    </div>
</div>
