﻿<div id="mercado" class="row">
    <div class="col-lg-3"><h4>Mercado:</h4></div>
    <div class="col-lg-3">
        <div class="i-checks">
            <input id="radioMarket0" type="radio" value="0" name="radioMarket" required class="form-control-custom radio-custom MarketPick">
            <label for="radioMarket0">Generación</label>
        </div>
    </div>
    <div class="col-lg-3 ">
        <div class="i-checks">
            <input id="radioMarket1" type="radio" value="1" name="radioMarket" required class="form-control-custom radio-custom MarketPick">
            <label for="radioMarket1">Comercialización</label>
        </div>
    </div>
</div>
<br />
<div id="boundaryPicker"></div>

<script>
    $('.MarketPick').change(function () {
        var report_type = $(this).val()
        $.ajax({
            url: ROOT + 'Boundaries/BoundaryPicker/',
            method: 'GET',
            data: {
                report_type: report_type
            },
            success: function (data) {
                //$("#loader").hide();
                $("#boundaryPicker").html(data)
            }
        })
    })
</script>