﻿@model IEnumerable<CGM.Models.CGMModels.Boundary>
@Html.Partial("_TempResult")

@*@Styles.Render("~/bundles/multi_select")
@Scripts.Render("~/bundles/multi_select")*@

<script src="~/Content/vendor/multiselect/js/jquery.multi-select.js"></script>
<script src="~/Content/vendor/jquery.quicksearch.js"></script>
<script src="~/Scripts/Helpers.js"></script>
<link href="~/Content/vendor/multiselect/css/multi-select.css" rel="stylesheet" />

@if ((Model != null) && (Model.Any()))
{
        <div class="container">
    @selectButtons()

            <select multiple="multiple" id="selectList" name="selectList" required class="searchable">
                @foreach (var item in Model)
                {
                    <option value='@item.id'>@item.code - @item.name</option>
                }
            </select>
            @Counter()
        </div>

}

@helper selectButtons()
{
    <div class="row">
        <div class="col-6 "><button id="btnSelect" type="button" class="small btn btn-light">Seleccionar todos</button></div>
        <div class="col-6 text-right"><button id="btnDeselect" type="button" class="small btn btn-light">Borrar todos</button></div>
    </div>
}
@helper Counter()
{
    <div class="row">
        <div class="col-6 "><label id="elem-not-included" class="text-gray"></label></div>
        <div class="col-6 text-right"><label id="elem-included" class="text-gray"></label></div>
    </div>
}

<script>
    $('#btnSelect').click(function () {
        $('#selectList').multiSelect('select_all')
    })
    $('#btnDeselect').click(function () {
        $('#selectList').multiSelect('deselect_all')
    })
    $('.ms-elem-selectable').addClass("smallfontsize")


    function fireMulti() {
        multiSelectListSearchable('#selectList');
        $('.ms-container').css("width", "100%")

        $(".ms-list").click(function () {
            var xin = $(".ms-selectable").children().children().filter(function () {
                return $(this).css('display') == 'none';
            })
            var xout = $(".ms-selection").children().children().filter(function () {
                return $(this).css('display') == 'none';
            })

            $("#elem-included").text(xin.length)
            $("#elem-not-included").text(xout.length)
        })
        $(".ms-list").click()
        $('.ms-elem-selectable').css("font-size", "11px") // Did not work to add the class, idk why
        $('.ms-elem-selection').css("font-size", "11px") // Did not work to add the class, idk why
    }

    fireMulti()
</script>
