﻿@model CGM.Areas.SurveyApp.Models.Norm

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}

<h2>Editar</h2>

@using (Html.BeginForm(Html.BeginForm("Edit", "Norms", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.HiddenFor(model => model.Id)
    @Html.EditorFor(model => model)
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
