﻿@model CGM.Areas.SurveyApp.Models.MyModels.MySurveyMasterResponse


<input type="hidden" name="Id_ShareQuestion" value="@Model.Id_ShareQuestion" />
<input type="hidden" name="Id_Question" value="@Model.Id_Question" />
<input type="hidden" name="Id_QuestionLast" value="@Model.Id_QuestionLast" />
<input type="hidden" name="Is_Last" value="@Model.Is_Last.ToString()" />
<input type="hidden" id="Id_Response" value="0" />

@if (!Model.Is_Validate)
{
    <div class="alert alert-danger" role="alert">El formulario no es válido. Rectifique la información</div>
}
<script>
    var element;
    $(function () {
        var xcn = sessionStorage.getItem('token_type') + ' ' + sessionStorage.getItem('access_token');

        var fl=$(".file-loading").fileinput({
            language: 'es',
            showCaption: false,
            uploadUrl: "@Url.Content("~/api/FileResponse/UploadFile")",
            uploadExtraData:
                function(previewId, index) {
                    var data = {
                        Id_Question: @Model.Id_Question,
                        Id_Response:$("#Id_Response").val(),
                        Id_ShareQuestion: "@Model.Id_ShareQuestion"
                    };
                    return data;
                },
            headers: {
                'Authorization': 'bearer ' + sessionStorage.getItem('access_token')
            },
            //ajaxSettings: {
            //    xhrFields: {
            //        withCredentials: true
            //    },
            //    headers: {
            //        'Authorization': xcn
            //    },
            //}
        }).on("filepreajax", function(event, previewId, index) {
            Id_Response=$(this).parent().parent().siblings()[0].value;
            $("#Id_Response").val(Id_Response);
        });
        //fl.initialPreviewConfig=["@Url.Content("~")/UploadedFiles/Responses/Logueo.png"];
    });
    function deletefile(url){
        alert(url);
        var xcn = sessionStorage.getItem('token_type') + ' ' + sessionStorage.getItem('access_token');
        $.ajax({
            url: '@Url.Content("~/api/FileResponse/DeleteFile")',
            headers: {
                'Authorization': xcn
            },
            method: 'GET',
            dataType: 'json',
            data: {url:url},
            success: function(data){
                console.log('success: '+data);
            }
        });

    };
</script>
@if (Model.gratMessage != null)
{
    <div class="card w-100">
        <div class="card-header">
            <h4 class="card-title text-success">@Model.gratMessage</h4>
        </div>
    </div>
}
else
{
    foreach (var question in Model.Questions)
    {
        <div class="card w-100">
            <div class="card-header">
                <h4 class="card-title">
                    @if (question.Is_Images)
                    {
                        <a>
                            @string.Format("{0} {1}", question.EnumLabel, question.Title)
                        </a>
                        <a style="font-size:x-large;cursor:pointer;float:right"><span class="glyphicon glyphicon-camera"></span></a>
                    }
                    else
                    {
                        if (Model.Is_Last)
                        {
                            <a>
                                @string.Format("{0} {1} (Pregunta final)", question.EnumLabel, question.Title)
                            </a>
                        }
                        else
                        {
                            <a>
                                @string.Format("{0} {1}", question.EnumLabel, question.Title)
                            </a>
                        }

                    }
                </h4>
            </div>
            <div>
                <div class="card-body">
                    <div class="form-horizontal">

                        @switch (question.Id_ControlGroup)
                        {
                            case 1:
                                foreach (var response in question.Responses)
                                {

                                        string typeData = "text";
                                        if (response.Id_TypeData == 1) { typeData = "number"; }
                                        if (response.Id_TypeData != 1) { typeData = "text"; }

                                        string selectect = "";

                                        switch (response.Id_Response_Type)
                                        {
                                            case 0:
                                            <div class="form-group row">
                                                <label for="inputEmail3" class="col-sm-12 control-label">@response.Title</label>
                                            </div>
                                            break;
                                        case 2:
                                            if (string.IsNullOrEmpty(response.ValueSelect))
                                            {
                                                selectect = "";
                                            }
                                            else
                                            {
                                                selectect = "checked";
                                            }
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="@string.Format("Response[{0}][rd]", question.Id)" id="@string.Format("rd_{0}", response.Id)" value="@String.Format("{0}:{1}", response.Id, response.Value)" @selectect>
                                                            @response.Title
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            break;
                                        case 3:
                                            if (string.IsNullOrEmpty(response.ValueSelect))
                                            {
                                                selectect = "";
                                            }
                                            else
                                            {
                                                if (response.ValueSelect.Contains("1"))
                                                {
                                                    selectect = "checked";
                                                }
                                                else
                                                {
                                                    selectect = "";
                                                }

                                            }
                                            <div class="form-group row">
                                                <div class="float-left m-3">
                                                    <div class="i-checks">

                                                        <label>
                                                            <input id="@string.Format("Response[{0}][{1}]", question.Id, response.Id)" type="checkbox" name="@string.Format("Response[{0}][{1}]", question.Id, response.Id)" value="1" @selectect class="form-control-custom">
                                                            <label for="@string.Format("Response[{0}][{1}]", question.Id, response.Id)" class="display">@response.Title</label>
                                                            @*<input type="checkbox" name="@string.Format("Response[{0}][{1}]",question.Id,response.Id)" value="1" @selectect>*@

                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            if (response.Is_File)
                                            {
                                                if (!String.IsNullOrEmpty(response.Url_File))
                                                {
                                                    <div class="form-group row">
                                                        <div class="col-sm-12">
                                                            <a href="@Url.Content("~" + response.Url_File)" target="_blank">Descargar</a>|
                                                            <a href="#" id="btn_deleteFile" onclick="deletefile('@response.Url_File')">Eliminar</a>
                                                        </div>
                                                    </div>
                                                }
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <input type="hidden" value="@response.Id" /><input type="file" class="file-loading" />
                                                    </div>
                                                </div>
                                                <hr /><br />
                                            }
                                            break;
                                        case 4:
                                            <div class="form-group row">
                                                <label for="sel1" class="col-sm-4 text-left control-label">@response.Title</label>
                                                <div class="col-sm-8">

                                                    <select class="form-control " name="@string.Format("Response[{0}][{1}]", question.Id, response.Id)" id="sel1">
                                                        @foreach (var item in response.DataSourceItems)
                                                        {
                                                            var vds = string.Format("{0}:{1}", item.key, item.Value);
                                                            if (vds == response.ValueSelect)
                                                            {
                                                                <option value="@vds" selected>@item.Value</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@vds">@item.Value</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            if (response.Is_File)
                                            {
                                                if (!String.IsNullOrEmpty(response.Url_File))
                                                {
                                                    <div class="form-group row">
                                                        <div class="col-sm-12">
                                                            <a href="@Url.Content("~" + response.Url_File)" target="_blank">Descargar</a>|
                                                            <a href="#" id="btn_deleteFile" onclick="deletefile('@response.Url_File')">Eliminar</a>
                                                        </div>
                                                    </div>
                                                }
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <input type="hidden" value="@response.Id" /><input type="file" class="file-loading" />

                                                    </div>
                                                </div>
                                                <hr /><br />
                                            }
                                            break;
                                        case 6:
                                            <div class="form-group row">
                                                <label for="inputBox" class="col-sm-3 text-left control-label">@response.Title</label>
                                                <div class="col-sm-8">
                                                    <div class="form-inline">
                                                        <input type="password" class="form-control password" name="@string.Format("Response[{0}][{1}]", question.Id, response.Id)" id="inputBox" placeholder="@response.Title" value="@response.ValueSelect">
                                                        <i onmouseover="mouseoverPass();" onmouseout="mouseoutPass();" class="fa fa-eye p-3"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            break;
                                        default:
                                            <div class="form-group row">
                                                <label for="inputEmail3" class="col-sm-4 text-left control-label">@response.Title</label>
                                                <div class="col-sm-8">
                                                    <input type="@typeData" class="form-control" name="@string.Format("Response[{0}][{1}]", question.Id, response.Id)" id="inputEmail3" placeholder="@response.Title" value="@response.ValueSelect">
                                                </div>
                                            </div>
                                            if (response.Is_File)
                                            {
                                                if (!String.IsNullOrEmpty(response.Url_File))
                                                {
                                                    <div class="form-group row">
                                                        <div class="col-sm-12">
                                                            <a href="@Url.Content("~" + response.Url_File)" target="_blank">Descargar</a>|
                                                            <a href="#" id="btn_deleteFile" onclick="deletefile('@response.Url_File')">Eliminar</a>
                                                        </div>
                                                    </div>
                                                }
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <input type="hidden" value="@response.Id" /><input type="file" class="file-loading" />
                                                    </div>
                                                </div>
                                                <hr /><br />
                                            }
                                            break;
                                    }

                                }

                                break;
                            case 2:
                                foreach (var response in question.Responses)
                                {
                                    string selectect = "";
                                    if (string.IsNullOrEmpty(response.ValueSelect))
                                    {
                                        selectect = "";
                                    }
                                    else
                                    {
                                        selectect = "checked";
                                    }
                                                      <div class="row">
                                                          <div class="radio">
                                                              <div class="i-checks p-2 pl-4">
                                                                  <input type="radio" name="@string.Format("Response[{0}][rd]", question.Id)" id="@string.Format("rd_{0}", response.Id)" value="@String.Format("{0}:{1}", response.Id, response.Value)" @selectect class="form-control-custom radio-custom">
                                                                  <label for="@string.Format("rd_{0}", response.Id)">@response.Title</label>
                                                              </div>
                                                          </div>
                                                      </div>
                                }
                                break;
                            case 3:
                                <table class="table table-bordered">
                                    <tbody>
                                        @for (int i = 0; i < question.Num_Row_Response; i++)
                                        {
                                            <tr>
                                                @for (int j = 0; j < question.Num_Column_Response; j++)
                                                {

                                                    string selectect = "";
                                                    string colspan = "";
                                                    var response = question.Responses.Where(m => m.Index_Row == i && m.Index_Column == j).FirstOrDefault();
                                                    if (response != null)
                                                    {
                                                        if (response.Colspan.HasValue && response.Colspan.Value != -1)
                                                        {
                                                            j += response.Colspan.Value;
                                                            colspan = string.Format("colspan={0}", response.Colspan.Value);
                                                        }
                                                        else
                                                        {
                                                            colspan = "";
                                                        }

                                                        <td @colspan>
                                                            @switch (response.Id_Response_Type)
                                                            {
                                                                case 0:
                                                                    <strong for="inputEmail3">@response.Title</strong>
                                                                    break;
                                                                case 2:
                                                                    if (string.IsNullOrEmpty(response.ValueSelect))
                                                                    {
                                                                        selectect = "";
                                                                    }
                                                                    else
                                                                    {
                                                                        selectect = "checked";
                                                                    }
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-9">
                                                                            <div class="radio">
                                                                                <label>
                                                                                    <input type="radio" name="@string.Format("Response[{0}][rd]", question.Id)" id="@string.Format("rd_{0}", response.Id)" value="@String.Format("{0}:{1}", response.Id, response.Value)" @selectect>
                                                                                    @response.Title
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    if (response.Is_File)
                                                                    {
                                                                        if (!String.IsNullOrEmpty(response.Url_File))
                                                                        {
                                                                            <div class="form-group row">
                                                                                <div class="col-sm-12">
                                                                                    <a href="@Url.Content("~" + response.Url_File)" target="_blank">Descargar</a>|
                                                                                    <a href="#" id="btn_deleteFile" onclick="deletefile('@response.Url_File')">Eliminar</a>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                        <div class="form-group row">
                                                                            <div class="col-sm-12">
                                                                                <input type="hidden" value="@response.Id" /><input type="file" class="file-loading" />
                                                                            </div>
                                                                        </div>
                                                                        <hr /><br />
                                                                    }
                                                                    break;
                                                                case 3:
                                                                    if (string.IsNullOrEmpty(response.ValueSelect))
                                                                    {
                                                                        selectect = "";
                                                                    }
                                                                    else
                                                                    {
                                                                        if (response.ValueSelect.Contains("1"))
                                                                        {
                                                                            selectect = "checked";
                                                                        }
                                                                        else
                                                                        {
                                                                            selectect = "";
                                                                        }

                                                                    }
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-12">

                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    <input name="@string.Format("Response[{0}][{1}]", question.Id, response.Id)" type="checkbox" value="1" @selectect>
                                                                                    @response.Title
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    if (response.Is_File)
                                                                    {
                                                                        if (!String.IsNullOrEmpty(response.Url_File))
                                                                        {
                                                                            <div class="form-group row">
                                                                                <div class="col-sm-12">
                                                                                    <a href="@Url.Content("~" + response.Url_File)" target="_blank">Descargar</a>|
                                                                                    <a href="#" id="btn_deleteFile" onclick="deletefile('@response.Url_File')">Eliminar</a>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                        <div class="form-group row">
                                                                            <div class="col-sm-12">
                                                                                <input type="hidden" value="@response.Id" /><input type="file" class="file-loading" />

                                                                            </div>
                                                                        </div>
                                                                        <hr /><br />
                                                                    }
                                                                    break;
                                                                case 4:

                                                                    <div class="form-group row">
                                                                        <div class="col-sm-12">

                                                                            <select class="form-control " name="@string.Format("Response[{0}][{1}]", question.Id, response.Id)" id="sel1">
                                                                                @foreach (var item in response.DataSourceItems)
                                                                                {
                                                                                    var vds = string.Format("{0}:{1}", item.key, item.Value);
                                                                                    if (vds == response.ValueSelect)
                                                                                    {
                                                                                        <option value="@vds" selected>@item.Value</option>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <option value="@vds">@item.Value</option>
                                                                                    }

                                                                                }
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    if (response.Is_File)
                                                                    {
                                                                        if (!String.IsNullOrEmpty(response.Url_File))
                                                                        {
                                                                            <div class="form-group row">
                                                                                <div class="col-sm-12">
                                                                                    <a href="@Url.Content("~" + response.Url_File)" target="_blank">Descargar</a>|
                                                                                    <a href="#" id="btn_deleteFile" onclick="deletefile('@response.Url_File')">Eliminar</a>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                        <div class="form-group row">
                                                                            <div class="col-sm-12">
                                                                                <input type="hidden" value="@response.Id" /><input type="file" class="file-loading" />
                                                                            </div>
                                                                        </div>
                                                                        <hr /><br />
                                                                    }
                                                                    break;
                                                                default:
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-12">
                                                                            <input type="email" class="form-control " id="inputEmail3" name="@string.Format("Response[{0}][{1}]", question.Id, response.Id)" placeholder="@response.Title" value="@response.ValueSelect">
                                                                        </div>
                                                                    </div>
                                                                    if (response.Is_File)
                                                                    {
                                                                        if (!String.IsNullOrEmpty(response.Url_File))
                                                                        {
                                                                            <div class="form-group row">
                                                                                <div class="col-sm-12">
                                                                                    <a href="@Url.Content("~" + response.Url_File)" target="_blank">Descargar</a>|
                                                                                    <a href="#" id="btn_deleteFile" onclick="deletefile('@response.Url_File')">Eliminar</a>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                        <div class="form-group row">
                                                                            <div class="col-sm-12">
                                                                                <input type="hidden" value="@response.Id" /><input type="file" class="file-loading" />
                                                                            </div>
                                                                        </div>
                                                                        <hr /><br />
                                                                    }
                                                                    break;
                                                            }
                                                        </td>


                                                    }


                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                                break;

                        }
                    </div>
                </div>
            </div>
        </div>
    }
}
