﻿<form class="dropzone dz-clickable" id="fileUpload" action="@Url.Content("~")PQRS/CreatePQRSFromLayout">
    <div class="dz-message">
        <p>Arrastre el archivo hasta aquí.</p>
    </div>
</form>

<script src="@Url.Content("~")Content/vendor/dropzone/dropzone.js"></script>
<script>

    //Dropzone.autoDiscover = false;
    Dropzone.options.fileUpload = { // Arcis's edit

        //prevents Dropzone from uploading dropped files immediately
        autoProcessQueue: false,
        uploadMultiple: true,

        init: function () {
            var myDropzone = this; //closure
            $("#pqrs_send_btn").click(function (e) {
                // If no files were uploaded, do not prevent default and submit

                if ('originalEvent' in e) {
                    if (e.originalEvent.isTrusted) {
                        if (myDropzone.files.length != 0) {
                            e.preventDefault();
                            myDropzone.processQueue();
                        }

                        else {
                            $('#pqrs_form').submit()
                        }
                    }
                }

            });

            this.on('sending', function (file, xhr, formData) {
                // Append all form inputs to the formData Dropzone will POST
                var data = $('#pqrs_form').serializeArray();
                $.each(data, function (key, el) {
                    formData.append(el.name, el.value);
                });
            });

            this.on('success', function () {
                window.location.href = "@Url.Content("~")PQRS";
            })
        },
    }

</script>