﻿@model CGM.Areas.SurveyApp.Models.ShareSurvey

<div>
    <h4>ShareSurvey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SurveyTemplate.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveyTemplate.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Accessed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Accessed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Finished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Finished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Survey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Survey)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
