﻿@model CGM.Areas.SurveyApp.Models.MyModels.DataSourceItemList

@{
    ViewBag.Title = "Index";
}

<header>
    <div class="row">
        <div class="col-lg-10">
            <div class="row">
                <div class="pr-4">@Html.ActionLink(" ", "../../SurveyApp/DataSources/", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
                <h1 class="display">
                    Elementos de conjunto de datos
                </h1>
            </div>
        </div>
        <div class="text-right">
            @if (User.IsInRole("Administrator") || User.IsInRole("Creator"))
            {
                <p>
                    @Html.ActionLink("+ Nuevo elemento", "Create", new { id = Model.DataSource.Id }, new { @class = "btn btn-primary" })
                </p>
            }
        </div>
    </div>
    <hr />
</header>

<div class="card col-lg-6">
    <h2 class="card-header">@Model.DataSource.Name</h2>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>
                    Clave
                </th>
                <th>
                    Valor
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.DatasourceItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.key)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>