﻿@model CGM.Areas.SurveyApp.Models.DataSource

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

@Html.DisplayFor(model=>model)
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
