﻿@model CGM.Areas.SurveyApp.Models.Response_Type

@{
    ViewBag.Title = "Crear";
}

<h2>Nuevo tipo de respuesta</h2>

@using (Html.BeginForm()) 
{
   @Html.EditorFor(model=>model)
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
