﻿
@{
    ViewBag.Title = "Usuario sin autorización";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page login-page">
    <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div class="logo text-uppercase">
                    @if (USER.CLIENT == "ASC")
                    {
                        <img src="@Url.Content("~")Images/LogoLoginASC.png" style="width:90%" alt="" />
                    }
                    @if (USER.CLIENT == "CEDENAR")
                    {
                        <img src="@Url.Content("~")Images/LogoLoginCEDENAR.png" style="width:90%" />
                    }
                    @*<img src="~/Images/HeaderLettersBlack.png" style="width:90%" alt="" />*@
                </div>
                <br />
                <h2 class="text-primary text-xl-center">Error de autorización</h2>
                <br />
                    <h5 class="text-secondary">
                        Su cuenta de usuario no está autorizada para acceder a este recurso.
                    </h5>

                    <br />
                    <div>
                        <div class="form-group text-center">
                            <a href="@Url.Content("~")LogUser/Index" class="btn btn-primary">Iniciar sesión</a>
                            <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                        </div>
                    </div>
            </div>
            <div class="copyrights text-center">
                <p>&copy; @DateTime.Now.Year - Ingeniería y Desarrollo de Nariño - IDENAR S.A.S.</p>
            </div>
        </div>
    </div>
</div>