﻿@model CGM.Models.RegisterBindingModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page login-page">
    <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div class="logo text-uppercase">
                    @if (USER.CLIENT == "ASC")
                    {
                        <img src="@Url.Content("~")Images/LogoLoginASC.png" style="width:90%" alt="" />
                    }
                    @if (USER.CLIENT == "CEDENAR")
                    {
                        <img src="@Url.Content("~")Images/LogoLoginCEDENAR.png" style="width:90%" />
                    }
                </div>
                <br />
                <h5 class="text-primary text-xl-center">Registro de nuevo usuario</h5>

                <form id="frm_register" class="text-left form-validate" style="max-width:400px">
                    @Html.AntiForgeryToken()
                    
                    <div class="form-group-material">
                        <label class="text-secondary">Rol de usuario</label>
                        @Html.DropDownList("RoleId",null,"------ Seleccione ------", new { @class="form-control", required="required"})
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group-material">
                                @Html.TextBoxFor(m => m.Name, new { @class = "input-material", autofocus = "", required = "" })
                                @Html.LabelFor(m => m.Name, new { @class = "label-material" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group-material">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "input-material", autofocus = "", required = "" })
                                @Html.LabelFor(m => m.LastName, new { @class = "label-material" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                    </div>

                    <div class="form-group-material">
                        @Html.TextBoxFor(m => m.Username, new { @class = "input-material", autofocus = "", required = "" })
                        @Html.LabelFor(m => m.Username, new { @class = "label-material" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>

                    <div class="form-group-material">
                        @Html.TextBoxFor(m => m.Email, new { @class = "input-material", required = "", type = "Email" })
                        @Html.LabelFor(m => m.Email, new { @class = "label-material" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>

                    <div class="form-group-material">
                        @Html.PasswordFor(m => m.Password, new { @class = "input-material", required = "" })
                        @Html.LabelFor(m => m.Password, new { @class = "label-material" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="form-group-material">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-material ", required = "" })
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "label-material" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>

                    <div class="form-group text-center">
                        <button id="btn_register" class="btn btn-primary">Registrarse</button>
                    </div>
                </form><small>Ya tiene una cuenta? </small><a href="@Url.Content("~")LogUser/Index" class="signup">Iniciar sesión</a>
            </div>
            <div class="copyrights text-center">
                <p>&copy; @DateTime.Now.Year - Ingeniería y Desarrollo de Nariño - IDENAR S.A.S.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 id="modalMessage"></h4>
            </div>
            <div class="modal-footer">
                <button id="btnVolver" type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                <button id="btnContinuar" type="button"  class="btn btn-primary" data-dismiss="modal" >Continuar</button>
            </div>
        </div>
    </div>
</div>

@section scriptsbody {
    <script>

        $(function () {
            okreg = false;

            $("#frm_register").submit(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $('#btnVolver').hide()
                $('#btnContinuar').hide()

                    $.ajax({
                        url: '/api/Account/Register',
                        method: 'POST',
                        data: $("#frm_register").serialize(),
                        success: function () {
                            $('#registerModal').modal('show');
                            $('#modalMessage').text("El registro se realizó exitosamente.")
                            $('#btnContinuar').show();
                            okreg = true;
                        },
                        error: function (jqXHR) {
                            $('#registerModal').modal('show');
                            $('#btnVolver').show()
                            $('#modalMessage').text(jqXHR.responseText)
                            okreg = false;
                        }
                });
            });
        })

        $(function () {
            $('#registerModal').on('hide.bs.modal', function () {
                if (okreg) {
                    window.location="@Url.Action("Index", "LogUser")";
                }
            })

        })
   </script>
}
