﻿@model IEnumerable<CGM.Areas.Telemetry.Models.VMeter>

@{
    ViewBag.Title = "Sincronización de reloj";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";

}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Sincronización de reloj </h1>
        </div>
    </div>
</header>

@Html.Partial("_TempResult")


<div id="modalLoading" class="modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Por favor espere. Adquiriendo información...</p>
                <div class="text-center mt-4"><div id="loader" class="lds-ellipsis p-4"><div></div><div></div><div></div><div></div></div></div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header mb-2">Seleccione dispositivo</div>
            <div class="card-body">


                <div class="row">
                    <div class="col-lg-12">
                        <table id="meterTable" class="table table-sm small">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Serial</th>
                                    <th>Modelo</th>
                                    <th>Código (Frontera)</th>
                                    <th>Nombre (Frontera)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var meter in Model)
                                {
                                    <tr>
                                        <td>@meter.id</td>
                                        <td>@meter.serial</td>
                                        <td>@meter.model</td>
                                        <td>@meter.boundaryCode</td>
                                        <td>@meter.boundaryName</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="card">
                <div class="card-header">
                    <h4 class="display">Dispositivo seleccionado</h4>
                    <br />
                    <div class="row">
                        <div class="col-2">
                            <h5 class="mb-2 text-secondary">Serial</h5>
                            <input id="serial" style="display:none" type="text" name="serial" value="" readonly />
                            <span id="meterSerial" name="serial"></span>
                        </div>
                        <div class="col-2">
                            <h5 class="mb-2 text-secondary">Modelo</h5>
                            <span id="meterModel"></span>
                        </div>
                        <div class="col-3">
                            <h5 class="mb-2 text-secondary">Código (Frontera)</h5>
                            <span id="meterBoundaryCode"></span>
                        </div>
                        <div class="col">
                            <h5 class="mb-2 text-secondary">Name (Frontera)</h5>
                            <span id="meterBoundaryName"></span>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div id="sync_form_exact" class="form-group row sync_form ">
                        <div class="col-lg-3"><label>Fecha y hora de sincronización</label></div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-8">
                                    <input id="radioServerTime1" type="radio" name="radioServerTime" value="0">
                                    <label class="small">Hora del servidor</label>
                                </div>
 
                            </div>
                            <div class="row">
                                <div class="col-2 ">
                                    <input type="radio" name="radioServerTime" value="1">
                                    <label class="small">Manual</label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                        <input type="text" class="datetimepicker-input form-control" data-target="#datetimepicker1" id="sync_time_exact" name="sync_time_exact" />
                                        <div class="input-group-append " data-target="#datetimepicker1" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <input id="btnSync" class="btn btn-block btn-primary" type="submit" value="Sincronizar" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sync_form_shift" class="form-group row sync_form mb-0">
                        <div class="col-lg-3">
                            <label>Añadir o restar segundos</label>
                            <p>Rango: [-50 , 50]</p>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-8">
                                    <input id="sync_shift" name="sync_shift" type="number" value="0" min="-50" max="50" class="form-control" />
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-md-center">
                        
                    </div>
                </div>
            </div>
        }
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-4">
                        <h4 class="display">Hora actual de dispositivo</h4>
                    </div>
                    <div class="col-lg-3 offset-lg-5">
                        <button id="btnGetHour" class="btn btn-success" type="submit">Adquirir hora actual</button>
                    </div>
                </div>
            </div>

            <div class="card-body ">
                <div class="row p-4">
                    <div class="col-lg-6">
                        <div id="meterTime" class="display h1"> ----- </div><strong class="text-primary">Hora del medidor</strong>
                        <p class="small">Configuración de tiempo actual en el dispositivo.</p>
                    </div>
                    <div class="col-lg-6">
                        <div id="serverTime" class="display h1"> ----- </div><strong class="text-primary">Hora del servidor</strong>
                        <p class="small">Hora en el momento de la adquisición.</p>
                    </div>
                    <div class="col-lg-6">
                        <div id="desfase" class="display h1"> ----- </div><strong class="text-primary">Desfase</strong>
                        <p class="small">Diferencia entre Hora del servidor y Hora del dispositivo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(".btn").attr("disabled", true)

    var optionsTime = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };

    $("tr").click(function () {
        item = $(this).children("td")
        //console.log(item)
        var model = $(item[2]).text().trim()
        var sync_shift = model == "EPQS";

        // If the model is ELGAMA, the shift sync gets activated. For other cases, regular exact time sync is enabled.
        $("#sync_form_exact").find('*').attr("disabled", sync_shift)
        $("#sync_form_shift").find('*').attr("disabled", !sync_shift)

        // fill the information of the caption above.
        $("#meterSerial").text($(item[1]).text().trim())
        $("#meterModel").text(model)
        $("#meterBoundaryCode").text($(item[3]).text().trim())
        $("#meterBoundaryName").text($(item[4]).text().trim())

        $("#serial").val($(item[1]).text().trim())
        $("#btnGetHour").attr("disabled", false)
        $("#btnSync").attr("disabled", false)
        $("#radioServerTime1").prop("checked", true)
    })

    $("#btnGetHour").click(function () {
        modalLoad = $("#modalLoading");
        modalLoad.modal({ backdrop: 'static', keyboard: false })

        serial = $(item[1]).text().trim();
        var xcn = sessionStorage.getItem('token_type') + ' ' + sessionStorage.getItem('access_token');
        $.ajax({
            url: ROOT + 'Telemetry/ClockSync/GetHour',
            method: 'GET',

            dataType: 'json',
            data: { serial: serial },

            success: function (response) {
                console.log(response.currentTime)
                $("#meterTime").text(response.meterTime)
                $("#serverTime").text(response.serverTime)
                $("#desfase").text(response.desfase)
                modalLoad.modal('hide');

            },
            error: function (response) {
                console.log(response)
            }
        });

    })

    // Initialization. 

    // All the forms are disabled
    $(".sync_form").find('*').attr('disabled',true)


</script>
@section scriptsbody{
    <!-- Data Tables-->
    @Scripts.Render("~/bundles/dataTablesScript")
    <script src="@Url.Content("~")Content/vendor/tempusdominus/moment-with-locales.min.js"></script>
    <script src="@Url.Content("~")Content/vendor/tempusdominus/tether.min.js"></script>
    <script src="@Url.Content("~")Content/vendor/tempusdominus/tempusdominus-bootstrap-4.min.js"></script>
    <script src="@Url.Content("~")Content/vendor/datatablesCHK/dataTables.checkboxes.min.js"></script>
    <script>
        $(function () {
            tableMeter = $(document).ready(function () {
                $('#meterTable').DataTable(
                    {
                        "paging": true,
                        "language": {
                            "url": "@Url.Content("~")Scripts/es-CO.txt"
                        }
                        ,
                        "pageLength": 15,
                        'columnDefs': [
                            {
                                'targets': 0,
                                'checkboxes': {
                                    'selectRow': true,
                                    'selectAll': false
                                },
                                "className": "text-center",
                            }
                        ],
                        'select': {
                            'style': 'single'
                        }
                        ,
                        'order': [[1, 'asc']]
                    }
                );
            })
        })
        $('#datetimepicker1').datetimepicker({
            locale: 'es',
            defaultDate: moment(),
            format: 'DD/MM/YYYY hh:mm:ss A'
        })
    </script>
}
@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
    <link href="@Url.Content("~")Content/vendor/tempusdominus/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
}