﻿@model CGM.Models.CGMModels.ClockSync

@{
    ViewBag.Title = "Editar";
    String ctrl=ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";    
}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Editar elemento</h1>
        </div>
    </div>
    <hr />
</header>

@Html.Partial("_TempResult")

<div class="col-sm-6">
    <div class="card">
        <div class="card-header mb-2"><h2>ClockSync</h2></div>
        <div class="card-body">

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

            <div class="form-group-material">
                @Html.DropDownList("id_meter", null, htmlAttributes: new { @class = "js-select full-size form-control", @style = "width: 100%"})
            @Html.LabelFor(model => model.id_meter, "id_meter", htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.id_meter, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
  
                                <div class="input-control text full-size" data-role="datepicker">
                                    <input type="text" id="time_current" name="time_current">
                                    <button class="button"><span class="mif-calendar"></span></button>
                                </div>
            @Html.LabelFor(model => model.time_current, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.time_current, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
  
                                <div class="input-control text full-size" data-role="datepicker">
                                    <input type="text" id="time_assigned" name="time_assigned">
                                    <button class="button"><span class="mif-calendar"></span></button>
                                </div>
            @Html.LabelFor(model => model.time_assigned, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.time_assigned, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
  
                                <div class="input-control text full-size" data-role="datepicker">
                                    <input type="text" id="sync_date" name="sync_date">
                                    <button class="button"><span class="mif-calendar"></span></button>
                                </div>
            @Html.LabelFor(model => model.sync_date, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.sync_date, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
              
  							@Html.EditorFor(model => model.id_substatus, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
            @Html.LabelFor(model => model.id_substatus, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.id_substatus, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
              
  							@Html.EditorFor(model => model.message, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
            @Html.LabelFor(model => model.message, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.message, "", new { @class = "text-danger small" })
            </div>
        @Html.Partial("_BtnSubmit","Guardar")

}
        </div>
    </div>
</div>

        
