﻿@model CGM.Areas.SurveyApp.Models.Question

@{
    ViewBag.Title = "Eliminar";
}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", new { id = Model.Id_SurveyTemplate }, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1> Eliminar</h1>
        </div>
    </div>
    <hr />
</header>

<div class="card col-lg-6">
<div class="card-header"><h3>¿Está seguro de eliminar esta pregunta?</h3></div>
    <div class="card-body">@Html.DisplayFor(model => model)</div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="" >
            @Html.Partial("_BtnSubmit","Borrar")
        </div>
    }
</div>