﻿@model CGM.Areas.Telemetry.Models.Meter
<div class="row">
    <div class="col-lg-12">

        @using (Html.BeginForm("EditPartial", "Meter", new { area = "Telemetry" }))
        {
            @Html.AntiForgeryToken();
            @Html.HiddenFor(model => model.id);
            @Html.HiddenFor(model => model.is_backup);
            @Html.HiddenFor(model => model.boundary_id);

            <div class="form-group row">

                <div class="col-sm-4 form-control-label">
                    <label class="ml-4">
                        Tipo de medidor
                    </label>
                </div>
                <div class="col-sm-8">
                    <div>
                        <input id="metermain" required type="radio" value="false" name="metertype">
                        <label for="metermain">Medidor principal</label>
                    </div>
                    <div>
                        <input id="meterbackup" type="radio" value="true" name="metertype">
                        <label for="meterbackup">Medidor de respaldo</label>
                    </div>
                </div>
            </div>
            <div id="boundaryDDMenu0" class="form-group bddm">
                <label>Frontera - medidor principal</label>
                <select required class="js-select full-size form-control" id="boundaryDropDown0" name="boundaryDD" style="width: 100%"></select>
            </div>
            <div id="boundaryDDMenu1" class="form-group bddm">
                <label>Frontera - medidor de respaldo</label>
                <select required class="js-select full-size form-control" id="boundaryDropDown1" name="boundaryDD" style="width: 100%"></select>
            </div>

            <div class="row p-4 justify-content-md-center">
                <div class="col-lg-4">
                    <input class="btn btn-block btn-info btn-lg" type="submit" value="Guardar" />
                </div>
            </div>
        }

    </div>
</div>


