﻿@model CGM.Areas.Telemetry.Models.Meter

@{
    ViewBag.Title = "Editar";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}
@ViewHelpers.NavBar("Telemetría", "Medidores", Url.Content("~"))
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1> Editar elemento</h1>
        </div>
    </div>
    <hr />
</header>
<div class="row">
    <div class="col-lg-12">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.EditorFor(model => model)
        }

    </div>
</div>

@section scriptsbody
    {
    <script type="text/javascript">
    $("input[type='radio']").change(function myfunction() {
        var metertype = $('[name="metertype"]:checked').val();
        if (metertype == "") {
            $(".bddm").hide(100)
            //$("#is_backup").val("null")
        }
        if (metertype == "false") {
            $("#boundaryDDMenu1").hide(50) //Se muestran los menús correspondientes
            $("#boundaryDDMenu0").show(300)
        }
        if (metertype == "true") {
            $("#boundaryDDMenu0").hide(50) //Se muestran los menús correspondientes
            $("#boundaryDDMenu1").show(300)
        }

        $("#is_backup").val(metertype)


        //if (metertype != "") { //0 = principal, 1 = respaldo, 2 = nulo (no asignado)
        //    console.log(metertype)
        //    $("#boundaryDDMenu" + (-metertype + 1)).hide(50) //Se muestran los menús correspondientes
        //    $("#boundaryDDMenu" + (metertype)).show(300)
        //    $("#is_backup").val(metertype)
        //}

    })

    $(function () { //Se inicializa los botones de radio, de acuerdo a la opción de respaldo que tenga el medidor en la base de datos.
        var opt = $("#is_backup").val().toLowerCase();
        //console.log(opt == "" );
        if (opt == "") {
            $("input[type='radio'][value='']").prop('checked', "true")
        }
        else {

            $("input[type='radio'][value=" + opt + "]").prop('checked', opt)
            $("input[type='radio']").attr('disabled', 'true')
        }
    })

    $("#btn_des").click(function desasociar() {})

    $("select[name='boundaryDD']").change(function () { //Se asigna el valor de la frontera seleccionada al input
        $("#boundary_id").val($(this).val())
    })

    //$(document).ready(function () {
    $.each([0, 1], function (i, item) {
        $("#boundaryDDMenu" + (i)).hide()
        $("#boundaryDDMenu" + (-i + 1)).hide()

        $.ajax({
            type: "GET",
            url: "@Url.Content("~")api/Boundaries/GetBoundaries",
            contentType: "application/json; charset=utf-8",
             dataType: "json",
             data: { type: i },
             success: function (data) {
                 var $dropdown = $("#boundaryDropDown" + i);
                    $dropdown.append($("<option />").text("------ Seleccione frontera ------"))
                    $.each(data, function (key,item) {
                        $dropdown.append($("<option />").val(item.id).text(item.code +" - "+ item.name))
                    });
                }
            })
    })
   //  })


    </script>

}