﻿@model IEnumerable<CGM.Areas.Telemetry.Models.Meter>

@{
    String ctrl = ViewBag.ControllerName;
    var modelName = "tbl_" + ctrl;
    ViewBag.Title = "Medidores";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}
@ViewHelpers.NavBar("Telemetría", "Medidores", Url.Content("~"))

<header>
    <div class="row">
        <div class="col-sm-6">
            <h1 class="display">
                <img class="mr-2" src="@Url.Content("~")Images/Icons/SmartMeterSerial.png" width="50" />
                Medidores
            </h1>
        </div>
        <div class="col-sm-6 text-right">
            @Ajax.ActionLink("+ Añadir nuevo elemento", "Create", null, new AjaxOptions()
           {
               HttpMethod = "GET",
               UpdateTargetId = "createWrapper"
           }, new { @class = "btn btn-primary", id = "nuevoElemento" })
            @Html.ActionLink("Cargar configuración", "LoadConfiguration", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Descargar parámetros", "DownloadConfiguration", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</header>

@Html.Partial("_TempResult")

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="createModalLabel">Nuevo medidor</h2>
            </div>
            <div class="modal-body">
                <div id="createWrapper"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="asignModal" tabindex="-1" role="dialog" aria-labelledby="asignModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="asignModalLabel">Asignar frontera</h3>
            </div>
            <div class="modal-body">
                <div id="asignWrapper">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                No existe ningún modelo de medidor actualmente. Este necesario para añadir un medidor.
            </div>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Desea añadir un nuevo modelo de medidor?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                @Html.ActionLink("+ Nuevo modelo de medidor", "../Model_Meter", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div>
        <div class="card-header">
            <h2> Listado</h2>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="@modelName" class="table small">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.serial)</th>
                        <th>@Html.DisplayNameFor(model => model.Model_Meter.brand)</th>
                        <th>@Html.DisplayNameFor(model => model.Model_Meter.model)</th>
                        @*<th>@Html.DisplayNameFor(model => model.multiplicative_factor)</th>*@
                        <th>Frontera</th>
                        <th>Tipo</th>
                        <th>Host</th>
                        <th>Factor</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.serial)</td>
                            <td>@Html.DisplayFor(modelItem => item.Model_Meter.brand)</td>
                            <td>@Html.DisplayFor(modelItem => item.Model_Meter.model)</td>
                            @*<td>@Html.DisplayFor(modelItem => item.multiplicative_factor)</td>*@
                            <td>
                                @if (item.Boundary == null)
                                {
                                    <button class="btnAsignar btn btn-outline-secondary small" id="asig@(item.id)">Asignar</button>
                                }
                                else
                                {
                                    <div>@Html.DisplayFor(modelItem => item.Boundary.code) - @Html.DisplayFor(modelItem => item.Boundary.name) </div>
                                }
                            </td>
                            <td>
                                @ViewHelpers.backupHelper(item.is_backup)
                            </td>
                            <td>@getMeterParam(item.parameters, "hostname")</td>
                            <td>@getMeterParam(item.parameters, "factor")</td>
                            <td>
                                <span>
                                    @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "fa fa-edit", data_toggle = "tooltip", data_placement = "top", title = "Editar  " }) &nbsp;
                                    @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "fa fa-trash", data_toggle = "tooltip", data_placement = "top", title = "Borrar  " })
                                </span>
                            </td>
                            <td>
                                <button class="btn btn-outline-secondary btn-sm btnConfig">
                                    <div class="fa fa-gear"></div>

                                    @*@Html.ActionLink("Configuración", "Configuration", "Meter", new { id = item.id }, new { @class = "small", @style = "text-decoration: none; color:gray", id = "nuevoElemento" })*@
                                </button>
                                <div class="formConfig" id="config,@(item.formConfiguration_id)" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@helper getMeterParam(Dictionary<string,string> parameters, string meterParam)
{
    if (parameters.ContainsKey(meterParam))
    {
        <span>@parameters[meterParam]</span>
    }
}

@section scriptsbody{
    <!-- Data Tables-->
    @Scripts.Render("~/bundles/dataTablesScript")
    <script>
        $(document).ready(function () {
            $('#@modelName').DataTable(
                    {
                    "language": {
                        "url": "@Url.Content("~")Scripts/es-CO.txt"
                    },
                    //"columnDefs": [
                    //    { "width": "10%", "targets": 7 },
                    //    { "width": "10%", "targets": 3 },
                    //    //{ "width": "10%", "targets": 6 }
                    //]
                }
            );
            $(".btnAsignar").click(function () {
                var idMeter = $(this).prop("id").split("asig")[1]
                $.ajax({
                    type: "GET",
                    url: "@Url.Content("~")Meter/Edit",
                    contentType: "application/json; charset=utf-8",
                    data: { id: idMeter },
                    UpdateTargetId: "asignWrapper",
                    success: function (data) {
                        console.log('inside');
                        $("#asignWrapper").empty();
                        $("#asignWrapper").html(data);
                        initWrap();
                        $("#asignModal").modal('toggle');

                    }
                 })
            })
            $(".btnConfig").click(function () {
                var idFormConfig = $(this).siblings(".formConfig")[0].id.split(',')[1] // ex. config,1
                $.ajax({
                    type: "GET",
                    url:  ROOT + 'ParamFormInstances/EditFormPartial',
                    contentType: "application/json; charset=utf-8",
                    data: { id: idFormConfig  },
                    UpdateTargetId: "asignWrapper",
                    success: function (data) {
                        console.log('inside');
                        $("#asignWrapper").empty();
                        $("#asignWrapper").html(data);
                        $("#asignModal").modal('toggle');
                        $("#questionSet1007").find('*').attr("disabled", "disabled") // Disable models
                        $("#questionSet1008").find('*').attr("disabled", "disabled") // Disable protocols

                    }
                 })
            })
        });
    </script>
    <script>
    $(document).ready(function () {
        $("#nuevoElemento").click(function () {
                if (@ViewBag.emptyModels == 1) {
                $("#exampleModal").modal('toggle');
            }
                else {
                    $("#createModal").modal('toggle');
            }
        })
    })
    </script>

    <script type="text/javascript">
    function initWrap() { //Para cuando se abra el modal de asignar el medidor

    $("input[type='radio']").change(function myfunction() {
        var metertype = $('[name="metertype"]:checked').val();
        if (metertype == "false") {
            $("#boundaryDDMenu1").hide(50) //Se muestran los menús correspondientes
            $("#boundaryDropDown1").attr('required', false)
            $("#boundaryDropDown0").attr('required', true)
            $("#boundaryDDMenu0").show(300)
        }
        if (metertype == "true") {
            $("#boundaryDDMenu0").hide(50) //Se muestran los menús correspondientes
            $("#boundaryDropDown0").attr('required', false)
            $("#boundaryDropDown1").attr('required', true)
            $("#boundaryDDMenu1").show(300)
        }

        $("#is_backup").val(metertype)
    })

    $("select[name='boundaryDD']").change(function () { //Se asigna el valor de la frontera seleccionada al input
        $("#boundary_id").val($(this).val())
    })

    //$(document).ready(function () {
    $.each([0, 1], function (i, item) {
        $("#boundaryDDMenu" + (i)).hide()
        $("#boundaryDDMenu" + (-i + 1)).hide()

        $.ajax({
            type: "GET",
            url: "@Url.Content("~")api/Boundaries/GetBoundaries",
            contentType: "application/json; charset=utf-8",
             dataType: "json",
             data: { type: i },
             success: function (data) {
                 var $dropdown = $("#boundaryDropDown" + i);
                 $dropdown.append($("<option value=''/>").text("------ Seleccione frontera ------"))
                    $.each(data, function (key,item) {
                        $dropdown.append($("<option />").val(item.id).text(item.code +" - "+ item.name))
                    });
                }
            })
            })
        }

    </script>
}


@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}

