﻿@model CGM.Areas.Telemetry.Models.MyModels.AcquisitionViewModel

@{
    ViewBag.Title = "Editar";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
    int cont = 0;
    int[] cols = Model.acquisition_Items.OrderBy(aq => aq.tag_line_id).Select(aq => aq.tag_line_id).Distinct().ToArray();
}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Editar elemento</h1>
        </div>
    </div>
    <hr />
</header>
@Html.Partial("_TempResult")

<div class="col-lg-8">
    <div class="card">
        <div class="card-header mb-2"><h2>Acquisition</h2></div>
        <div class="card-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.acquisition.id)
                @Html.HiddenFor(model => model.acquisition.type)
                <div class="row">
                    <div class="table-responsive">
                        <table id="tbl" class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Medición
                                    </th>
                                    @for (int i = 0; i < cols.Count(); i++)
                                    {
                                        <th>
                                            <div class="i-checks">
                                                <input id="chkcol@(i)" type="checkbox" checked="" class="form-control-custom" name="chkcol" value="@i">
                                                <label for="chkcol@(i)" class="">*</label>
                                            </div>
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.acquisition.type == 0)
                                {
                                    foreach (var item in Model.acquisition_Items.OrderBy(a => a.Quantity.name).GroupBy(ai => ai.Quantity))
                                    {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Key.name)
                                    </td>

                                    @{cont = 0;}
                                    @foreach (var ai in item.OrderBy(i => i.tag_line_id))
                                    {
                                        while (ai.tag_line_id != cols[cont])
                                        {
                                            <td></td>
                                            { cont++; }
                                        }
                                        <td>
                                            <div class="i-checks">
                                                @if (Model.acquisition.Acquisition_Items.Any(a => a.Id == ai.Id))
                                                {
                                                    <input id="chkCol@(cont)Id@(ai.Id)" type="checkbox" value="@ai.Id" checked="checked" class="form-control-custom chk" name="SelectedAI">
                                                }
                                                else
                                                {
                                                    <input id="chkCol@(cont)Id@(ai.Id)" type="checkbox" value="@ai.Id" class="form-control-custom chk" name="SelectedAI">
                                                }
                                                <label for="chkCol@(cont)Id@(ai.Id)">@Html.DisplayFor(modelItem => ai.Tag_Line.name)</label>
                                            </div>

                                        </td>
                                        { cont++; }
                                    }
                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr />
                <br />
                <div class="row m-lg-3">
                    <div class="col-lg-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.acquisition.Name, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.acquisition.Name, "", new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre de grupo de medición" } })
                            @Html.ValidationMessageFor(model => model.acquisition.Name, "", new { @class = "text-danger small" })
                        </div>
                    </div>
                </div>
                @Html.Partial("_BtnSubmit", "Guardar")

            }
        </div>
    </div>
</div>


