﻿@model CGM.Models.CGMModels.CurvaTip

@{
    ViewBag.Title = "Añadir curva típica";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";

}

@ViewHelpers.NavBar("Medidas", "Curvas típicas", Url.Content("~"))


<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Añadir nuevo </h1>
        </div>
    </div>
</header>

@Html.Partial("_TempResult")

<div class="row">
    <div class="col-lg-10">
        <div class="card">
            <div class="card-header mb-2"><h2>Cargar Curva Típica</h2></div>
            <div class="card-body">
                <div class="row">


                    <div class="col-lg-8">
                        <form action="@Url.Content("~")CurvaTips/Create" method="post" id="formLoad">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @Html.HiddenFor(model => model.year)
                            @Html.HiddenFor(model => model.month)
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <div class="col-lg-3 m-0">
                                            <label class="label"> Medida </label>
                                        </div>
                                        <div class='col-lg-8 m-0'>
                                            @Html.DropDownList("acquisition_item_id", null, htmlAttributes: new { @class = "form-control", @style = "width: 100%" })
                                            @Html.ValidationMessageFor(model => model.acquisition_item_id, "", new { @class = "text-danger small" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-lg-3">
                                            <label>Mes y año</label>
                                        </div>
                                        <div class='col-lg-8'>
                                            <div id="monthyearblock">
                                                <div class="input-group date">
                                                    <input id="monthyear" type="text" name="monthyear" required class="form-control"><span class="ml-2 mt-1 input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="form-group row">
                                            <div class="col-lg-3 ">
                                                <label>Nombre (Opcional)</label>
                                            </div>
                                            <div class="col-lg-9 small">
                                                @Html.EditorFor(model => model.name, "", new { htmlAttributes = new { @class = "form-control small" } })
                                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger small" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row p-4 justify-content-md-center">
                                        <div class="col-lg-4">
                                            <input class="btn btn-block btn-lg btn-primary" type="submit" disabled id="btnSubmit" value="Cargar" />
                                        </div>
                                        <div class="col">
                                            <div id="loader" style="display:none" class="lds-ellipsis p-4"><div></div><div></div><div></div><div></div></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div id="atributos" class="form-group row">
                                        <div class="col-lg-2">
                                            <label>Atributos: </label>
                                        </div>
                                        <div class="col-lg-10">
                                            <div class="row mb-4">
                                                <div class="col-lg-4">
                                                    <label>Días de la semana: </label>
                                                </div>
                                                <div class="col-1 p-0 ml-3">
                                                    <label>D</label>
                                                    <div class="i-checks negativeMarginChkIcon"><input id="weekday0" type="checkbox" style="display:none" value="0" checked="" name="weekdays" class="form-control-custom"><label for="weekday0"></label></div>
                                                </div>
                                                <div class="col-1 p-0">
                                                    <label>L</label>
                                                    <div class="i-checks negativeMarginChkIcon"><input id="weekday1" type="checkbox" style="display:none" value="1" checked="" name="weekdays" class="form-control-custom"><label for="weekday1"></label></div>
                                                </div>
                                                <div class="col-1 p-0">
                                                    <label>M</label>
                                                    <div class="i-checks negativeMarginChkIcon"><input id="weekday2" type="checkbox" style="display:none" value="2" name="weekdays" class="form-control-custom"><label for="weekday2"></label></div>
                                                </div>
                                                <div class="col-1 p-0">
                                                    <label>M</label>
                                                    <div class="i-checks negativeMarginChkIcon"><input id="weekday3" type="checkbox" style="display:none" value="3" name="weekdays" class="form-control-custom"><label for="weekday3"></label></div>
                                                </div>
                                                <div class="col-1 p-0">
                                                    <label>J</label>
                                                    <div class="i-checks negativeMarginChkIcon"><input id="weekday4" type="checkbox" style="display:none" value="4" checked="" name="weekdays" class="form-control-custom"><label for="weekday4"></label></div>
                                                </div>
                                                <div class="col-1 p-0">
                                                    <label>V</label>
                                                    <div class="i-checks negativeMarginChkIcon"><input id="weekday5" type="checkbox" style="display:none" value="5" name="weekdays" class="form-control-custom"><label for="weekday5"></label></div>
                                                </div>
                                                <div class="col-1 p-0">
                                                    <label>S</label>
                                                    <div class="i-checks negativeMarginChkIcon"><input id="weekday6" type="checkbox" style="display:none" value="6" checked="" name="weekdays" class="form-control-custom"><label for="weekday6"></label></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <label>Etiquetas: </label>
                                                </div>
                                                <div class="col-lg-8">
                                                    @Html.DropDownList("tags", null, htmlAttributes: new { @class = "form-control", @style = "width: 100%" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <label>Días específicos: </label>
                                                </div>
                                                <div class='col-lg-8'>
                                                    <div id="daysspecific">
                                                        <div class="input-group date">
                                                            <input type="text" id="daysspec" name="daysspec" class="form-control"><span class="ml-2 mt-1 input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 ml-5">
                        <label>Carga de archivo: </label>
                        <form class="dropzone dz-clickable" id="fileUpload" action="@Url.Content("~")CurvaTips/LoadFile">
                            <div class="dz-message">
                                <p>Arrastre el archivo hasta aquí.</p>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="col-xl-12">
    <div id="LoadResult">
    </div>
</div>

@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")
    <script src="@Url.Content("~")Content/vendor/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/vendor/dropzone/dropzone.js"></script>
    <script src="~/Content/js/forms-dropzone.js?v=0.4"></script>
    @*El archivo forms-dropzone está bastante editado por mí*@
    @*#LoadResult is the element to return the Table by default*@

    <script type="text/javascript">
        var acq_items = JSON.parse("@ViewBag.acq_items".replace(/&quot;/g, '"'))

//        $("#loadMeasures").val("")

        $("#tags").prepend("<option value='' selected='selected'>Ninguna</option>");

        $(function () {
            $('#monthyearblock .input-group.date').datepicker({
                language: "es",
                format: "mm/yyyy",
                minViewMode: 1
            });
        })

        $('#daysspecific .input-group.date').datepicker({
            language: "es",
            multidate: true,
            format: "dd/mm",
            clearBtn: true
        });

        $('#monthyearblock').on("changeDate", function (e) {
            var date = $(this).find("input").val()
            $('#daysspecific .input-group.date').datepicker({
                language: "es",
                multidate: true,
                format: "dd/mm",
                clearBtn: true
            }).datepicker("setDate", "01/" + date.split('/')[0]);
            $('#daysspecific').find("input").val("") // Clear dates in Días específicos
        });

        function getCurvaTipName() {
            
            // Nombre de medida (Short name)
            measureName = acq_items[parseInt($('#acquisition_item_id').val())]     
            
            // Month and Year
            var my = $("#monthyear").val() // 05/2019
            my = '_' + my

            // Day names
            var weekdayName = ["D", "L", "M", "Mi", "J", "V", "S"]
            var days = $("input[name=weekdays]:checked") // Get days boxes elements
            dayNames = []
            $.each(days, function (index, data) {
                dayNames.push(weekdayName[parseInt(data.id.substring(7))]) // Add the name of the week, first literal. Example ["D","J","S"]
            })
            if (dayNames.length == 0) { daysNamesStr = '' }
            else { daysNamesStr = '_Días-' + dayNames.join('') }

            // Days - Specific 
            daysspec = $("#daysspec").val().split(',').map(x => x.substring(0, 2))
            if (daysspec[0] == "") { daysspecStr = '' } // This array has a default empty "" value
            else { daysspecStr = '_Espec-' + daysspec.join('-') }

            // Etiquetas
            tag = $("#tags option:selected").text()
            if (tag == 'Ninguna') { tag = '' }
            else { tag = '_'+tag}

            // Etiquetas
            var name = measureName + my + daysNamesStr + tag + daysspecStr
            $('#name').val(name)

            return name;
        }



        // To change trhe name everytime there's in any element of the form
        $('input, select').change(function () {
            var name = getCurvaTipName()
        })


        $('#formLoad').submit(function () {
            console.log('Clock')
            $('#btnSubmit').attr("disabled", true);
            $('#loader').show()
        })

        // Run name on loaded the web page
        getCurvaTipName()


    </script>
}

@section styles{
    @Styles.Render("~/bundles/dataTablesStyle")
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.css" />*@
    @*<link href="@Url.Content("~")Content/vendor/tempusdominus/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />*@
    <link href="@Url.Content("~")Content/vendor/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
}