﻿@model CGM.Areas.SurveyApp.Models.DataSource

<div class="card-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group-material ">
                @Html.EditorFor(model => model.Name, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger small" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group-material m-0">
                @Html.EditorFor(model => model.Group, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
                @Html.LabelFor(model => model.Group, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.Group, "", new { @class = "text-danger small" })
            </div>
        </div>
    </div>

</div>