﻿@using CGM.Models.CGMModels
@using CGM.Areas.Telemetry.Models
@{
    List<Boundary> noDataBoundaries = ViewBag.noDataBoundaries;
    List<Quantity> noDataQuantities = ViewBag.noDataQuantities;
}
<div class="row"> 
    <div class="card col-6">
        <div class="card-header">
            <span><i class="fa fa-warning mr-3 text-warning"></i>No se encontró registro de los siguientes elementos:</span>
            
        </div>
        <div class="card-body">
            @*SingleBoundary*@
            @if (!ViewBag.multi_boundary)
            {
                <table id="noDataTable" class="table table-sm">
                    <thead>
                        <tr>
                            <th>Cantidad</th>
                            <th>Unidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var quantity in noDataQuantities)
                        {
                            <tr>
                                <td>@quantity.name</td>
                                <td>@quantity.Magnitude.unit</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            @*MultipleBoundary*@
            else
            {
                <table id="noDataTable" class="table table-sm">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var boundary in noDataBoundaries)
                        {
                            <tr>
                                <td>@boundary.code</td>
                                <td>@boundary.name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
<script>
    table = $('#noDataTable').DataTable(
        {
            "language": {
                "url": "@Url.Content("~")Scripts/es-CO.txt"
                }
        });

</script>