﻿@* This table is shown in the right side of the Analysis page *@
<div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead> 
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>