﻿@using CGM.Models.CGMModels;
@{
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
    ViewBag.Title = "Informes predeterminados";
    var boundary = (List<Boundary>)TempData["boundary"];
}

<header>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="fa fa-2x fa-clock-o pr-2 pl-2"></div>
                <h1 class="display">
                    Informes predeterminados
                </h1>
            </div>
        </div>
    </div>
</header>

<div class="card">
    <div class="card-body">
        <form id="form_fechas" onsubmit="Graficar(this, event)" autocomplete="off">
            <div class="form-group row">
                @*<div class="col-xl-2">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="rf" name="rangeFechas" disabled class="custom-control-input" value="rf" checked>
                        <label class="custom-control-label" for="rf">Rango de Fecha</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="rm" name="rangeFechas" disabled class="custom-control-input" value="rm">
                        <label class="custom-control-label" for="rm">Rango de Meses</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="ra" name="rangeFechas" disabled class="custom-control-input" value="ra">
                        <label class="custom-control-label" for="ra">Rango de Años</label>
                    </div>
                </div>*@
                <div class="col-xl-4">
                    <label for="tipoReporte" class="col-form-label">Tipo de Reporte</label>
                    <select class="custom-select" id="tipoReporte">
                        <option value="1">Histórico Individual Matriz</option>
                        <option value="2">Reporte Diario CGM</option>
                        <option value="3">Comparativo Mensual</option>
                        <option value="4">Datos Cálculo Energia Reactiva</option>
                        <option value="5">Consumo Individual Horizontal</option>
                        <option value="6">Consumo Individual Vertical</option>
                    </select>
                </div>
                </div>
                <div class="row">
                    
                    <div class="col-xl-2">
                        <label>Fecha Inicial</label>
                        <div class="input-group date" id="fechaIniPicker" data-target-input="nearest">
                            <input type="text" class="datetimepicker-input form-control" data-target="#fechaIniPicker" id="fechaIni" name="fechaIni" />
                            <div class="input-group-append " data-target="#fechaIniPicker" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2">
                        <label>Fecha Final</label>
                        <div class="input-group date" id="fechaFinPicker" data-target-input="nearest">
                            <input type="text" class="datetimepicker-input form-control" data-target="#fechaFinPicker" id="fechaFin" name="fechaFin" />
                            <div class="input-group-append " data-target="#fechaFinPicker" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 mb-3">
                        <div class="form-group">
                            <label for="annoI">Año Inicio</label>
                            @{
                                DateTime fechaActual = DateTime.Today;
                            }
                            <select class="form-control" id="annoIni" disabled>
                                @for (int i = fechaActual.Year; i >= 1980; i--)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-2 mb-3">
                        <div class="form-group">
                            <label for="annoF">Año Fin</label>
                            <select class="form-control" id="annoFin" disabled>
                                @for (int i = fechaActual.Year; i >= 1980; i--)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-2 offset-2" style="visibility:hidden">
                        <label class="form-control-label">Medida</label>
                        @Html.DropDownList("quantity_id", null, null, new { @class = "form-control", multiple = "multiple", required = "required" })
                    </div>
                    <div class="col-xl-2" style="visibility:hidden">
                        <label class="form-control-label">Línea</label>
                        @Html.DropDownList("tag_line_id", null, "------ Seleccione -------", new { @class = "form-control", required = "required" })
                    </div>
                    <div class="col-xl-2 mb-3  align-self-center">
                        <div class="form-group">
                            <a class="btn btn-dark btn-lg btn-block text-white small" data-toggle="modal" data-target=".bd-modal">Seleccionar Fronteras</a>
                            <div class="alert alert-warning" id="no-boundaries-alert">
                                <button type="button" class="close" data-dismiss="alert">x</button>
                                <strong>Seleccione! </strong>
                                al menos una frontera
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 mb-3 align-self-center " style="border-left:groove">
                        <div class="form-group">
                            <button type="submit" class="btn btn-info btn-lg btn-block small">Mostrar Informe</button>
                        </div>
                    </div>

                </div>
</form>
    </div>
</div>
<div id="noDataElements"></div>

@section fluid {
    <div id="contentReport" class="d-none">

        <div class="row">

            <div class="col-lg-12 col-md-12">
                <div id="resporteTable"></div>
            </div>

        </div>

    </div>
}

<div id="box_alert" class="alert alert-info d-none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <span id="box_message">
        No se encuentran registros para ese rango de fechas.
    </span>
</div>

@ViewHelpers.modal_cargando()

@* Window of boundary selection *@
<div class="modal fade bd-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Seleccionar fronteras</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <table id="tblBoundaries" class="tblBoundaries table table-sm small hover">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Código</th>
                                <th>Frontera</th>
                                <th>Activa?</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in boundary.OrderBy(m => m.name))
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => item.id)</td>
                                    <td>@Html.DisplayFor(model => item.code)</td>
                                    <td>@Html.DisplayFor(model => item.name)</td>
                                    <td>@ViewHelpers.IsActive(item.is_active)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@helper chart_card(string header, string container, int height)
{
    <div class="card mt-3">
        <div class="card-header">
            @header
        </div>
        <div class="card-body">
            <div id="@container" style="width:100%; height:@(height)px; margin: 0 auto"></div>
        </div>
    </div>
}

@section scriptsbody {
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    @Scripts.Render("~/bundles/highcharts")
    @Scripts.Render("~/bundles/dataTablesScript")
    <script src="@Url.Content("~")Scripts/chartsCustom.js"></script>
    <script src="@Url.Content("~")Content/vendor/datatablesCHK/dataTables.checkboxes.min.js"></script>

    <script src="@Url.Content("~")Content/vendor/tempusdominus/moment-with-locales.min.js"></script>
    <script src="@Url.Content("~")Content/vendor/tempusdominus/tether.min.js"></script>
    <script src="@Url.Content("~")Content/vendor/tempusdominus/tempusdominus-bootstrap-4.min.js"></script>

    <script>
        let modalCargando = $('#modal_cargando');

        $('.date').datetimepicker({
            format: 'l', //Solamente la fecha
            locale: 'es',
            viewMode: 'years',
            format: 'YYYY-MM-DD',
            defaultDate: moment().startOf('month').calendar(null, formatDaysMoment),
        })

        ////$(function init() {
        $("#fechaIni").prop("value", moment().startOf('month').calendar(null, formatDaysMoment))
        $("#fechaFin").prop("value", moment().endOf('month').calendar(null, formatDaysMoment))
        ////})



        function Graficar(form, e) {
            e.preventDefault();

            $('#graficas').addClass('d-none');
            $('#box_alert').addClass('d-none');

            var boundariesSelected = table.column(0).checkboxes.selected().toArray()

            // If no boundary is selected, show a warning message
            if (boundariesSelected.length == 0) {
                $("#no-boundaries-alert").fadeTo(1000, 500).slideUp(500, function () {
                    $("#no-boundaries-alert").slideUp(500);
                })
                return
            }

            numFront = boundariesSelected.length

            // Si no tiene el atributo 'multiple', no se puede unir por comas, entonces simplemente se pasa el número
            var quantity_id = $("#quantity_id").attr('multiple') == 'multiple' ? $("#quantity_id").val().join(',') : $("#quantity_id").val()

            let json = {
                tipoReporte: $("#tipoReporte").val(),
                opcFecha: $("input:radio[name=rangeFechas]:checked").val(),
                fechaIni: $("#fechaIni").val(),
                fechaFin: $("#fechaFin").val(),
                annoIni: $("#annoIni").val(),
                annoFin: $("#annoFin").val(),
                tag_line_id: $("#tag_line_id option:selected").val(),
                quantity_id: quantity_id, // 1 = Energía activa
                boundariesSelected: boundariesSelected.join(',')
            }

            // Se muestra al ventana de espera, con el loader.
            modalCargando.modal({ backdrop: 'static', keyboard: false });

            $.get(ROOT + 'Measures/ViewByDate', json, function (response) {
                try {
                    //if (response.result != "error") {
                    //    if (response.result == "warning") {
                    //        $('#box_alert').removeClass('d-none');
                    //        $('#box_message').text(response.message)
                    //        $.ajax({
                    //            url: ROOT + "Measures/GetNoDataElements",
                    //            success: function (data) {
                    //                $("#noDataElements").html(data)
                    //            },
                    //            error: function (err) {
                    //                alert(err)
                    //            }
                    //        });
                    //    }
                    if (response.length > 0) {
                        $('#contentReport').removeClass('d-none');
                        $('#resporteTable').html(response)
                    } else {
                        //SIN DATOS
                        //alert(response.message)
                        alert(response)

                        $('#div_mje').removeClass('d-none');
                    }
                    modalCargando.modal('hide');
                }
                catch (err) {
                    alert(err)
                }

                modalCargando.modal('hide');
            }, 'html').fail(function (er) {
                alert(er); // or whatever
            });;
        }

        $(function () {

            $("#no-boundaries-alert").hide();

            // Tabla para selección de frontera
            table = $('#tblBoundaries').DataTable(
            {
                    "language": {
                        "url": "@Url.Content("~")Scripts/es-CO.txt"
                    },
                    "scrollCollapse": true,
                    "paging": true,
                    "pageLength": 20,
                    'initComplete': function (settings) {
                        var api = this.api();
                        api.cells(
                            api.rows(function (idx, data, node) {
                                // Initialization of test boundaries. They start checked
                                return (data[1] === 'FRT02444') ? true : false; // || data[1] === 'FRT02455'
                            }).indexes(),
                            0
                        ).checkboxes.select();
                    },
                    'columnDefs': [
                        {
                            'targets': 0,
                            'checkboxes': true
                        }
                    ],
                     'select': {
                         'style': 'multi'
                    }
                }
            );
            table.order([1, 'asc']).draw()

            $("input[name=rangeFechas]").on("change", function () {

                let optRango = $("input:radio[name=rangeFechas]:checked").val();

                $("#fechaIni").prop("disabled", false)
                $("#fechaFin").prop("disabled", false)

                $("#annoIni").prop("disabled", true)
                $("#annoFin").prop("disabled", true)

                switch (optRango) {
                    case "rf":
                        $("#fechaIni").prop("type", "date")
                        $("#fechaFin").prop("type", "date")
                        break;
                    case "rm":
                        $("#fechaIni").prop("type", "month")
                        $("#fechaFin").prop("type", "month")
                        break;
                    case "ra":
                        $("#fechaIni").prop("disabled", true)
                        $("#fechaFin").prop("disabled", true)
                        $("#annoIni").prop("disabled", false)
                        $("#annoFin").prop("disabled", false)
                        break;
                }
            })

            $('.dt-checkboxes').on('change', function () {
                multipleQuantitiesChange()
            })

        })

        // Se hace esto porque los checkboxes de la tabla no se cargan de inmediato, sino después.
        // Entonces simplemente ejecuto la instrucción hasta que exista.
        $(
            temp = setInterval(function () {
                try {
                    multipleQuantitiesChange()
                    // Existe un problema en la fila: Cuando se hace click en ella, no se selecciona
                    // el checkbox
                    //$("tr[role='row']").on('click', 'input[type="checkbox"]', function (e) {
                    //    //console.log(this.checked)
                    //    preventDefault(e)
                    //})
                    $("input.dt-checkboxes").change(function () {
                        multipleQuantitiesChange()
                    })

                    window.clearInterval(temp)
                }
                catch (err) {
                    //console.log(err)
                }
            }, 1000)
        )

        // Si más de una frontera es seleccionada, se permite hacer el análisis solamente para una medida, y no varias
        // El análisis para varias medidas es solamente para una sola frontera
        function multipleQuantitiesChange() {
            mult = table.column(0).checkboxes.selected().length > 1 ? null : "multiple";
            $("#quantity_id").attr('multiple', mult)
        }

        //$(setTimeout(multipleQuantitiesChange(),3000))


    </script>
}
@section styles{
    @Styles.Render("~/bundles/dataTablesStyle")
    <link href="@Url.Content("~")Content/vendor/tempusdominus/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
}
