﻿@model CGM.Areas.SurveyApp.Models.Response

@{
    ViewBag.Title = "Detalles";
}
<div class="row p-4">
    <div class="col-6">
        @Html.DisplayFor(model => model)
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index", new {id=Model.Id_Question })
</p>
