﻿@model CGM.Areas.SurveyApp.Models.ShareSurvey

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro de eliminar esto?</h3>
<div>
    <h4>Hoja de vida</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SurveyTemplate.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveyTemplate.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Regresar", "ConductSurvey", "SurveyManager", new { id=Model.Id}, null)
            <input type="submit" value="Eliminar" class="btn btn-default" />             
        </div>
    }
</div>
