﻿@model CGM.Areas.SurveyApp.Models.SurveyTemplate

<div class="card">
    <div class="card-header">Plantillas</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div>

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.Label("Creada por")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ApplicationUser.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Presentation)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Presentation)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.url_Logo)
                        </dt>

                        <dd>
                            <img src='@String.Format("{0}{1}",Url.Content("~"),Model.url_Logo)' class='file-preview-image' alt='Desert' title='Desert' width=100px style="padding:10px" />
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.url_Image)
                        </dt>

                        <dd>
                            <img src='@String.Format("{0}{1}",Url.Content("~"),Model.url_Image)' class='file-preview-image' alt='Desert' title='Desert' width=100px style="padding:10px" />
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreationDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreationDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Is_Active)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Is_Active)
                        </dd>

                    </dl>
                </div>
            </div>
            <div class="col-md-8">
                <div id="qrcodeCanvas" style="margin:auto;padding-top:30px">
                    <canvas width="256" height="256"></canvas>
                </div>
            </div>
        </div>
        
    </div>
</div>

