﻿@model CGM.Areas.SurveyApp.Models.DataSource

<div class="card">
    <div class="card-header">
        <h3>¿Está seguro de eliminar este conjunto de datos?</h3>
    </div>
    <div class="card-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Group)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Group)
                </dd>

            </dl>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

            </dl>
        </div>
    </div>
</div>