﻿@model IEnumerable<CGM.Areas.SurveyApp.Models.DataSource>

@{
    ViewBag.Title = "Conjunto de datos";
}

<header>
    <div class="row">
        <div class="col-sm-6">
            <h1 class="">
                <i class="fa fa-gear" width="50"></i>
                Conjunto de datos
            </h1>
        </div>
        <div class="col-sm-6 text-right">
            @if (User.IsInRole("Administrator") || User.IsInRole("Creator"))
            {
                <p>
                    @Html.ActionLink("+ Nuevo conjunto de datos", "Create", null, new { @class = "btn btn-primary" })
                </p>
            }
        </div>
    </div>
    <hr />
</header>
<div class="card">
    <div class="card-body">
        <table class="table" id="tbl_DataScources">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Group)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Group)
                        </td>
                        <td>
                            @Html.ActionLink("Elementos del conjunto de datos", "Index", "DataSourceItems", new { id = item.Id }, null) |
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript");
    <script>
        $(function () {
            $('#tbl_DataScources').DataTable({
                "language": {
                    "url": "@Url.Content("~/Scripts/es-CO.txt")"
                },
                "order": [[1, "desc"]],
                "pageLength": 50
            });
        })
    </script>
}

@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}

