﻿@model CGM.Areas.SurveyApp.Models.DataSourceItem

@{
    ViewBag.Title = "Crear";
}

<div class="col-sm-6">
    <header>
        <div class="row">
            <div class="pr-4">@Html.ActionLink(" ", "Index", new { id = Model.Id_DataSource }, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
            <div>
                <h1 class="display"> Añadir nuevo </h1>
            </div>
        </div>
        <hr />
    </header>

    <div class="card">
        <div class="card-header">  <h4>Nuevo elemento - @Model.DataSource.Name</h4></div>

        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.EditorFor(model => model)
            }
        </div>
    </div>
</div>