﻿@model CGM.Areas.SurveyApp.Models.DataSourceItem

@{
    ViewBag.Title = "Eliminar";
}
<header>
    <h2>Borrar</h2>
</header>
<div class="card">
    <div class="card-header"><h3>¿Esta seguro de eliminar este elemento del conjunto de datos?</h3></div>
    <div class="card-body">
        <div>
            @Html.DisplayFor(model => model)

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Borrar" class="btn btn-default" /> |
                    @Html.ActionLink("Regresar", "Index", new { id = Model.Id_DataSource })
                </div>
            }
        </div>
    </div>
</div>