﻿@model CGM.Areas.SurveyApp.Models.DataSourceItem

@{
    ViewBag.Title = "Editar";
}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", new { id = Model.Id_DataSource }, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1>Editar elemento</h1>
        </div>
    </div>
</header>


<div class="card col-lg-6">
    @using (Html.BeginForm())
    {
        @Html.EditorFor(model => model)
    }
</div>
<div>
    @Html.ActionLink("Regresar", "Index",new {id=Model.Id_DataSource })
</div>

@*@section scriptsbody{
    @Scripts.Render("~/bundles/jqueryval")
}*@
