﻿@model List<CGM.Models.MyModels.CriticBoundary>
@using CGM.Models.MyModels
@{ 
    int cont = 0; int contcol = 0; string buffer = "";
    bool boundaryInCurvaTip = false;
    var curvaTipsBoundariesCodes = Model.Select(v => v.code).ToList();
    System.Globalization.CultureInfo GlobalCultureInfo = new System.Globalization.CultureInfo("en-US", false);
    List<CriticBoundary> noCriticBoundaries = Model.Where(b => !b.has_critic_source).ToList();
}

@if (noCriticBoundaries.Count > 0) // In case some boundaries have no curvaTip or MaxMin values, must be shown to aware the user
{
    <h5>No se encontró información para realizar la crítica de datos para las siguientes fronteras.</h5>
    <div id="no_critic_boundaries">
        <table id="tblNoCriticBoundaries" class="table small table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Código</th>
                    <th style="padding-right: 180px">Frontera</th>
                    <th>P/R</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var boundary in noCriticBoundaries)
                {
                    if (boundary.code != buffer) { cont++; contcol = 0; buffer = boundary.code; } //Added to count the actual number of boundaries
                    <tr>
                        <td class="small">@cont</td>
                        <td class="small">@Html.DisplayFor(model => boundary.code)</td>
                        <td class="small">@Html.DisplayFor(model => boundary.name)</td>
                        <td class="small">@ViewHelpers.backupHelperSimple(boundary.is_backup)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <hr />
}

<div id="prereport_data">
    <table id="tblBoundaries" class="table small table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>Código</th>
                <th style="padding-right: 180px">Frontera</th>
                <th>P/R</th>
                <th>H0</th>
                @for (int i = 1; i <= 24; i++)
                {
                    <th>H@(i)</th>
                }
            </tr>
        </thead>
        <tbody>
            @{ cont = 0; }
            @foreach (var boundary in Model)
            {
                if (boundary.code != buffer) { cont++; contcol = 0; buffer = boundary.code; } //Added to count the actual number of boundaries

                if (curvaTipsBoundariesCodes.Contains(boundary.code)) // If the value of the boundary is on the list
                {
                    boundaryInCurvaTip = true;
                }

                <tr>
                    <td>@cont</td>
                    <td>@Html.DisplayFor(model => boundary.code)</td> 
                    <td>@Html.DisplayFor(model => boundary.name)</td> 
                    <td>
                        @ViewHelpers.backupHelperSimple(boundary.is_backup) 
                        <p class="text-gray m-0 criticValue">C. Típ.</p>
                        <p class="text-gray m-0 diff">Diff.</p>
                        <p class="text-gray m-0 percent">%.</p>
                    </td>
                    <td>0</td>

                    @foreach (var measure in boundary.criticMeasures.OrderBy(m => m.datetime))
                    {
                        <td class="text-center">
                            
                            <span>@Math.Round(@measure.original, 3).ToString("0.00", GlobalCultureInfo)</span>
                            @if (boundaryInCurvaTip) // Shows values only for the boundaries included in the Curva típica
                            {
                                <p class="criticValue text-gray m-0">@Math.Round(measure.critic, 2)</p>
                                <p class="diff text-gray m-0">@Math.Round(measure.difference, 2)</p>
                                <p class="percent text-gray m-0">@Math.Round(measure.percentage, 2)%</p>
                            }
                            
                        </td>
                        { contcol++; }
                    }
                </tr>

                boundaryInCurvaTip = false;
            }


        </tbody>
    </table>
</div>

<script>

    renderReportTable(@ViewBag.min.ToString().Replace(',','.'),@ViewBag.max.ToString().Replace(',', '.'), "@Url.Content("~")Scripts/es-CO.txt", "@ViewBag.fileName")

    $('#tblNoCriticBoundaries').DataTable(
            {
                "language": {
                    "url": "@Url.Content("~")Scripts/es-CO.txt"
                 }
            })

</script>