﻿@model IEnumerable<CGM.Models.CGMModels.ClockSync>

@{
    String ctrl = ViewBag.ControllerName;
    var modelName = "tbl_" + ctrl;
    ViewBag.Title = "Sincronización de reloj";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}


<header>
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display">
                <i class="fa fa-clock-o"></i>
                Sincronización del reloj
            </h1>
        </div>
        <div class="col-lg-6 text-right">
            <div class="btn-group">
                @Html.ActionLink("Asistente de sincronización", "Create", null, new { @class = "btn btn-primary", data_toggle = "tooltip", data_placement = "top", title = "Agregar elemento" })
            </div>
        </div>
    </div>
</header>


<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div>
                <div class="card-header">
                    <h2> Historial </h2>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="@modelName" class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Meter.serial)</th>
                                <th>@Html.DisplayNameFor(model => model.time_current)</th>
                                <th>@Html.DisplayNameFor(model => model.time_assigned)</th>
                                <th>@Html.DisplayNameFor(model => model.sync_date)</th>
                                <th>Estado</th>
                                <th>@Html.DisplayNameFor(model => model.message)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Meter.serial)</td>
                                    <td>@Html.DisplayFor(modelItem => item.time_current)</td>
                                    <td>@Html.DisplayFor(modelItem => item.time_assigned)</td>
                                    <td>@Html.DisplayFor(modelItem => item.sync_date)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Substatus.description)</td>
                                    <td>@Html.DisplayFor(modelItem => item.message)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")
    <script>
        $(document).ready(function () {
            $('#@modelName').DataTable(
                    {
                    "language": {
                        "url": "../Scripts/es-CO.txt"
                    }
                }
            );
        });
    </script>
}

@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}


