﻿@model CGM.Areas.SurveyApp.Models.Procedure


<h2>Detalles</h2>
@Html.DisplayFor(model => model)

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
