﻿@model  List<CGM.Areas.Telemetry.Models.Acquisition_Item>
<table class="table">
    <tr>
        <td class="p-0"><strong>Cantidad</strong></td>
        <td class="p-0"><strong>Línea</strong></td>
    </tr> 
    @foreach (var item in Model)
    {
        <tr>
            <td class="p-0">@item.Quantity.name</td>
            <td class="p-0">@item.Tag_Line.name</td>
        </tr>
    }
</table>

