﻿@model CGM.Areas.Telemetry.Models.MyModels.ReadingViewModel

@{
    ViewBag.Title = "Lectura";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}

<header>
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display">
                Lectura
            </h1>
        </div>
        @*<div class="col-lg-6 text-right">
                <div class="btn-group">
                    @Html.ActionLink("+ Añadir nuevo elemento", "Create", null, new { @class = "btn btn-primary", data_toggle = "tooltip", data_placement = "top", title = "Agregar elemento" })
                </div>
            </div>*@
    </div>
</header>

@Html.Partial("_TempResult")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>Dispositivo</h3>
                        </div>
                        <div class="card-body">
                            <div class="row p-3 pb-2">
                                <div class="col-lg-2">
                                    <div class="i-checks">
                                        <input id="radioMeter0" type="radio" checked="" value="0" name="radioMeter" class="form-control-custom radio-custom devicePick">
                                        <label for="radioMeter0">Individual</label>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="i-checks">
                                        <input id="radioMeter1" type="radio" checked="" value="1" name="radioMeter" class="form-control-custom radio-custom devicePick">
                                        <label for="radioMeter1">Múltiple</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 offset-lg-4">
                                    <a href="@Url.Action("Index", "Meter")" target="_blank" class="btn btn-primary small">
                                        <i class="fa fa-external-link"></i><span><strong class="p-1">Medidores</strong></span>
                                    </a>
                                    <a href="@Url.Action("Index", "Filtros", new { Area = "", id = 1 })" target="_blank" class="btn btn-primary small">
                                        <i class="fa fa-external-link"></i><span><strong class="p-1">Filtros</strong></span>
                                    </a>
                                </div>
                            </div>
                            <div class="row p-3">
                                <div class="col-lg-5">
                                    <select name="meterOrFilter" class="form-control pickList0">
                                        <option value="0">------- Seleccionar -------</option>
                                        @foreach (var item in Model.Meters)
                                        {
                                            <option value="@item.id">@item.Model_Meter.brand @item.Model_Meter.model - #@item.serial - @item.Boundary.name</option>
                                        }
                                    </select>
                                    <select id="selFil" name="meterOrFilter" class="form-control pickList1">
                                        <option value="0">------- Seleccionar -------</option>
                                        @foreach (var item in Model.Filtros.Where(f => f.destination_id == 1))
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <div class="filPanel small pickList1">
                                        <div class="boxNoScrollBar">
                                            <div class="table-responsive"><div id="filList"></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>Rango de tiempo</h3>
                        </div>
                        <div class="card-body">
                            <div class="row p-3">
                                <div class="col-lg-2">
                                    <div class="i-checks">
                                        <input id="chkRangoFecha" type="checkbox" class="form-control-custom chkOptRango" value="0" name="chkRangoFecha">
                                        <label for="chkRangoFecha">Rango</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-3">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Fecha inicio</label>
                                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                            <input type="text" class="datetimepicker-input form-control" name="datetimepicker" data-target="#datetimepicker1" />
                                            <div class="input-group-append " data-target="#datetimepicker1" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="finalDate" class="col-lg-4">
                                    <label>Fecha final</label>
                                    <div class="form-group">
                                        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                            <input type="text" class="datetimepicker-input form-control" name="datetimepicker" data-target="#datetimepicker2" />
                                            <div class="input-group-append " data-target="#datetimepicker2" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>Adquisición</h3>
                        </div>
                        <div class="card-body">
                            <div class="row opt">
                                <div class="col-lg-2">
                                    <div class="i-checks">
                                        <input id="chkLoad" value="0" type="checkbox" class="form-control-custom chkOpt" name="checkAquisitions">
                                        <label for="chkLoad">Perfil de carga</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 adqPanel">
                                    <select id="selAq" name="selAquisitions" class="form-control">
                                        <option >------ Seleccionar -------</option>
                                        @foreach (var item in Model.Acquisitions.Where(a => !a.is_filed).OrderBy(ac => ac.Name))
                                        {
                                            <option value="@item.id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-lg-6 adqPanel small">
                                    <div class="boxNoScrollBar">
                                        <div class="table-responsive"><div id="aqList"></div></div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row opt">
                                <div class="col-lg-2">
                                    <div class="i-checks">
                                        <input id="chkRegister" value="1" type="checkbox" class="form-control-custom chkOpt" name="checkAquisitions">
                                        <label for="chkRegister">Registros</label>
                                    </div>
                                </div>
                                <div class="col-lg-10 adqPanel">
                                    <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
                                </div>
                            </div>
                            <hr />
                            <div class="row opt">
                                <div class="col-lg-2">
                                    <div class="i-checks">
                                        <input id="chkEvent" value="2" type="checkbox" class="form-control-custom chkOpt" name="checkAquisitions">
                                        <label for="chkEvent">Eventos</label>
                                    </div>
                                </div>
                                <div class="col-lg-10 adqPanel">
                                    <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
                                </div>
                            </div>
                            <hr />
                            <div class="row opt">
                                <div class="col-lg-2">
                                    <div class="i-checks">
                                        <input id="chkWaveform" value="3" type="checkbox" class="form-control-custom chkOpt" name="checkAquisitions">
                                        <label for="chkWaveform">Forma de onda</label>
                                    </div>
                                </div>
                                <div class="col-lg-10 adqPanel">
                                    <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <button class="btn btn-success">Aceptar</button>
        </div>
    </div>
}
<div class="row">
    <input type="text" name="daterange" value="01/01/2018 - 01/15/2018" />

</div>

@section scriptshead{
}

@section scriptsbody{
    <script src="~/Content/vendor/daterangepicker-master/moment.min.js"></script>
    <script src="~/Content/vendor/daterangepicker-master/daterangepicker.js"></script>

    <script src="~/Content/vendor/tempusdominus/moment-with-locales.min.js"></script>
    <script src="~/Content/vendor/tempusdominus/tether.min.js"></script>
    <script src="~/Content/vendor/tempusdominus/tempusdominus-bootstrap-4.min.js"></script>

    <script>
        $(function () {
            $('input[name="daterange"]').daterangepicker({}, function (start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });
        });
    </script>

    <script>
        $(function init() {
            $(".adqPanel").hide();
            $("#radioMeter0").prop("checked", true)
            $(".pickList1").hide()
            $("#finalDate").hide()

        })
        $(".chkOpt").change(function () {
            if (!$(this).prop("checked")) {
                //console.log("up")
                $(this).parents(".opt").children(".adqPanel").slideUp()
            }
            else {
                //console.log("down")
                $(this).parents(".opt").children(".adqPanel").slideDown()
            }
        })
        $(".chkOptRango").change(function () {
            if (!$(this).prop("checked")) { $("#finalDate").slideUp() }
            else { $("#finalDate").slideDown() }
        })

        $("input[id ^= 'radioMeter']").change(function () {
            var pick = $(this).prop("value");
            console.log(pick)
            if ($(this).prop("checked")) {
                var otherPick = -pick + 1
                $('.pickList' + pick).slideDown()
                $('.pickList' + otherPick).slideUp()

            }
            else {
                $('.pickList' + pick).slideUp()
                $('.pickList' + otherPick).slideDown()

            }
        })

    </script>

    <script type="text/javascript">
        $(function () {
            $('div[data-target-input="nearest"]').datetimepicker({
                format: 'L'
            });
        });
    </script>

    <script>
        $('#selAq').change(function () {
            var adqId = $(this).val();
            console.log(adqId);
            if (adqId != '0') {
                $.ajax({
                    type: "GET",
                    url: "@Url.Content("~")Acquisition_Item/GetAcquisition_Items",
                    contentType: "application/json; charset=utf-8",
                    data: { id: adqId },
                    UpdateTargetId: "aqList",
                    success: function (data) {
                        console.log('inside');
                        $("#aqList").empty();
                        $("#aqList").html(data);
                        // $list.empty()
                        // $.each(data, function (key, item) {
                        //     $list.append($("<li/>").text(item.Quantity.name + " - " + item.Tag_Line.name))
                        //    });
                        //}
                    }
                 })
            }
            else {
                $("#aqList").empty();
            }
        })
        $('#selFil').change(function () {
            var filId = $(this).val();
            console.log(filId);
            if (filId != '0') {
                $.ajax({
                    type: "GET",
                    url: "@Url.Content("~")Filtros/GetFilters",
                    contentType: "application/json; charset=utf-8",
                    data: { id: filId },
                    UpdateTargetId: "filList",
                    success: function (data) {
                        $("#filList").empty();
                        $("#filList").html(data);
                    }
                 })
            }
            else {
                $("#filList").empty()
            }
         })

    </script>
}

@section styles{
    <link href="~/Content/vendor/tempusdominus/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/daterangepicker-master/daterangepicker.css" rel="stylesheet" />

}
