﻿@model List<CGM.Areas.Telemetry.Models.MeteadingViewModel

@{
    ViewBag.Title = "Lectura";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";

}
<header>
    <div class="row">
        <div>
            <h1 class="display">Lectura rápida</h1>
        </div>
    </div>
</header>

@Html.Partial("_TempResult")
    <div class="row">
        <div class="col-lg-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="card">
                <div class="card-header mb-2 text-center"><h2>Lectura</h2></div>

                <div class="card-body">
                    <div id="IdFiltroBlock" class="form-group row">
                        <div class="col-lg-3">
                            <label>Elementos</label>
                        </div>
                        <div class="col-lg-8">
                            <select id="item" required name="item" class="form-control"></select>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-lg-3"><label>Fecha de consulta</label></div>
                        <div class="col-lg-3">
                            <div class="i-checks">
                                <input id="chkRangoFecha" type="checkbox" class="form-control-custom chkOptRango" name="chkRangoFecha" value="0">
                                <label for="chkRangoFecha">Rango</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label>Fecha inicio</label>
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input type="text" required class="datetimepicker-input form-control" name="datetimepicker" data-target="#datetimepicker1" />
                                <div class="input-group-append " data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6"></div>
                        <div id="finalDate" class="col-lg-6">
                            <label>Fecha final</label>
                            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                <input type="text" class="datetimepicker-input form-control" name="datetimepicker" data-target="#datetimepicker2" />
                                <div class="input-group-append " data-target="#datetimepicker2" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label>Elementos de adquisición</label>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-12"><select id="acquisition_id" name="acquisition_id" class="form-control" required></select></div>
                            </div>
                            <div class="row">
                                <div class="col-12 boxNoScrollBar">
                                    <div class="table-responsive"><div id="aqList"></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
}
<button id="btnConsultar" type="submit" class="btn btn-primary">Consultar</button>
</div>
        <div class="col-lg-6">
            <div><div id="loader" style="display:none" class="lds-ellipsis p-4"><div></div><div></div><div></div><div></div></div></div>
            <div id="elementsWrapper" class="scroll200"></div>
        </div>
    </div>


<div class="row">
    <div class="col-12 text-center">
        <div id="resultWrapper">
            <div><div id="loaderResults" style="display:none" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
        </div>
    </div>
</div>

@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")

    <script src="@Url.Content("~")Content/vendor/tempusdominus/moment-with-locales.min.js"></script>
    <script src="@Url.Content("~")Content/vendor/tempusdominus/tether.min.js"></script>
    <script src="@Url.Content("~")Content/vendor/tempusdominus/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.date').datetimepicker({
                locale: 'es',
                format: 'l', //Sólamente la fecha.
                maxDate: new Date()
            });
        });
    </script>
    <script>
        $(function init() {
            $('.pickTime').hide()
            $("#finalDate").hide()
            $(".pickList1").hide()

            var adqId = $(this).val();
            $.ajax({
                type: "GET",
                url: "@Url.Content("~")api/Acquisitions/GetAcquisitionByType",
                contentType: "application/json; charset=utf-8",
                data: { type: 0 },//Solamente Perfil de carga
                success: function (data) {
                    var $dropdown = $("#acquisition_id");
                    $dropdown.empty()
                    $dropdown.append($("<option value='' />").text("------ Seleccione grupo ------"))
                    $.each(data, function (key, item) {
                        $dropdown.append($("<option value/>").val(item.id).text(item.Name))
                    })
                }
            })
        })

        $(".chkOptRango").change(function () {
            if (!$(this).prop("checked")) { $("#finalDate").slideUp() }
            else { $("#finalDate").slideDown() }
        })


    </script>

    <script>
        $('#IdFiltro').change(function () {
            var filId = $("#IdFiltro option:selected").val();
            $('#loader').show();
            if (filId != 0) {
                $.ajax({
                    type: 'GET',
                    url: "@Url.Content("~")Filtros/Details",
                    data: { id: filId },
                    success: function (data) {
                        $("#elementsWrapper").html(data);
                        $('#elementsWrapper').css({ "max-height": "550px","overflow-y":"scroll"})
                        $('#loader').hide();
                    }
                })
            }
            else {
                $("#elementsWrapper").empty()
            }
        })

    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script>
        $('#acquisition_id').change(function () {
            var adqId = $(this).val();
            console.log(adqId);
            if (adqId != '0') {
                $.ajax({
                    type: "GET",
                    url: "@Url.Content("~")Acquisition_Item/GetAcquisition_Items",
                    contentType: "application/json; charset=utf-8",
                    data: { id: adqId },
                    UpdateTargetId: "aqList",
                    success: function (data) {
                        $("#aqList").empty();
                        $("#aqList").html(data);
                    }
                 })
            }
            else {
                $("#aqList").empty();
            }
        })
    </script>
    <script>
        document.getElementById('btnConsultar').addEventListener('click', function () {
            if (form[0].checkValidity()) {
                submitForm();
            }
            else {
                $('#submitbtn').click()
                console.log('not a valid submission')
            }
        }, false)
    </script>

    <script>
        $(function () {
            metersWithBoundaries = getListParameters(2); //In custom
            form = $("#form1");
        })

        $(function () {
            var $dropdown = $("#item");

            $dropdown.append($("<option value='' />").text("------ Seleccione ------"))
            $.each(metersWithBoundaries, function (key, item) {
                 $dropdown.append($("<option value/>").val(item.Key).text(item.Value))
            })
        })
    </script>

}

@section styles{
    @Styles.Render("~/bundles/dataTablesStyle")
    <link href="@Url.Content("~")Content/vendor/tempusdominus/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
}
