﻿@model CGM.Models.MyModels.ReportViewModel
@using CGM.Models.CGMModels
@{
    int cont = 0; int contcol = 0; string buffer = "";
    var vCurvaMeasuresByBoundary = Model.listCurvaTips.OrderBy(v => v.datetime).GroupBy(v => v.code).ToList();
    var curvaTipsBoundariesCodes = vCurvaMeasuresByBoundary.Select(v => v.Key).ToList();
    bool boundaryInCurvaTip = false;
    List<VCurvaTipMeasure> curvaTipMeasures = new List<VCurvaTipMeasure>();
    System.Globalization.CultureInfo GlobalCultureInfo = new System.Globalization.CultureInfo("en-US", false);
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <h2 class="h2 display col">
                <a data-toggle="collapse" data-parent="#multiPrograms" href="#reportepreliminar" aria-expanded="true" aria-controls="program-box" class="">
                    Reporte preliminar
                </a>
            </h2>
            <a data-toggle="collapse" data-parent="#multiPrograms" href="#reportepreliminar" aria-expanded="true" aria-controls="program-box" class=""><i class="fa fa-2x fa-angle-down mr-4"></i></a>
        </div>
        <div id="reportepreliminar" class="row justify-content-md-center collapse show">
            <div class="col col-lg-4 border p-4 pr-5">
                @if (Model.listNoActive.Count == 0)
                {
                    <div class="alert alert-success"><i class="fa fa-check"></i>  Todas las fronteras para este reporte se encuentran activas.</div>
                }
                else
                {
                    <div class="alert alert-warning"><i class="fa fa-warning"></i>  Tenga en cuenta que las siguientes fronteras no se encuentran activas.</div>
                    <table class="table table-responsive tablestats small table-sm display" style="width:50%">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Frontera</th>
                                <th>Activa</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.listNoActive)
                            {
                                <tr>
                                    <td>@item.code</td>
                                    <td>@item.name</td>
                                    <td>@ViewHelpers.IsActive(item.is_active)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div class="col col-lg-4 border p-4">
                @if (Model.listNoData.Count == 0)
                {
                    <div class="alert alert-success"><i class="fa fa-check"></i>  Todas las fronteras para este reporte contienen datos.</div>
                }
                else
                {
                    <div class="alert alert-danger"><i class="fa fa-warning"></i> Las siguientes fronteras no contienen datos para esta fecha, o fueron deshabilitadas manualmente.</div>
                    <table class="table table-responsive tablestats small table-sm" style="width:50%">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Frontera</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.listNoData)
                            {
                                <tr>
                                    <td>@item.code</td>
                                    <td>@item.name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
    <div class="card-header">
        <div class="row">
            <h2 class="h2 display col-lg">
                <a data-toggle="collapse" data-parent="#multiPrograms" href="#criticamedidas" aria-expanded="true" aria-controls="program-box" class="">
                    Crítica de medidas
                </a>
            </h2>
            <a data-toggle="collapse" data-parent="#multiPrograms" href="#criticamedidas" aria-expanded="true" aria-controls="program-box" class=""><i class="fa fa-2x fa-angle-down mr-4"></i></a>
        </div>
        <div id="criticamedidas" class="row collapse">
            <br />
            <div class="col-xl-4">
                <form id="criticParametersForm" class="p-4">
                    @ViewSnippets.alarm1Parameters()
                </form>
            </div>
            <div class="col-lg-4 p-4">
                <div class="row">
                    <div class="col-9">@Html.DropDownList("curvaTipSelector", null, "---- Seleccionar curva típica ----", htmlAttributes: new { @class = "form-control curvaTip", @style = "width: 100%" })</div>
                    <div class="col"> <a class="small" target="_blank" href="@Url.Content("~")CurvaTips/Index">Ir a Curvas típicas</a> </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-3"><button id="btnEjecutarCritica" class="btn btn-secondary mb-5 mr-4" type="button"> Ejecutar </button></div>
                    <div class="col-4"><button id="btnSetDefaultCriticConfig" class="btn btn-light mb-5" type="button" title="Presione para mantener la selección de parámetros en próximas ejecuciones."> Definir config. por defecto <span id="okConfig" class="ml-3 text-success"></span></button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">

        @if (Model.listToReport.Count != 0)
        {
            <div id="prereport_data">
                <table id="tblBoundaries" class="table small table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Código</th>
                            <th style="padding-right: 180px">Frontera</th>
                            <th>P/R</th>
                            <th>H0</th>
                            @for (int i = 1; i <= 24; i++)
                            {
                                <th>H@(i)</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var boundary in Model.listToReport.GroupBy(m => new Tuple<string, string, bool?>(m.name, m.code, m.is_backup)).OrderBy(g => g.Key.Item1))
                        {
                            if (boundary.Key.Item1 != buffer) { cont++; contcol = 0; buffer = boundary.Key.Item1; } //Added to count the actual number of boundaries

                            if (curvaTipsBoundariesCodes.Contains(boundary.Key.Item2)) // If the value of the boundary is on the list
                            {
                                curvaTipMeasures = vCurvaMeasuresByBoundary.Where(c => c.Key == boundary.Key.Item2).FirstOrDefault().OrderBy(vc => vc.datetime).ToList();
                                boundaryInCurvaTip = true;
                            }

                            <tr>
                                <td>@cont</td>
                                <td>@Html.DisplayFor(model => boundary.Key.Item2)</td> @*Code*@
                                <td>@Html.DisplayFor(model => boundary.Key.Item1)</td> @*Name*@
                                <td>
                                    @ViewHelpers.backupHelperSimple(boundary.Key.Item3) @*Backup*@
                                    <span class="text-gray curvaTip displaynone">C. Típ.</span>
                                </td>
                                <td>0</td>

                                @foreach (var measure in boundary.OrderBy(m => m.hour))
                                {
                                    <td class="text-center">
                                        <span>@Math.Round(@measure.measure, 3).ToString("0.00", GlobalCultureInfo)</span>
                                        @if (boundaryInCurvaTip) // Shows values only for the boundaries included in the Curva típica
                                        {
                                            <span class="curvaTip text-gray displaynone">@Math.Round(curvaTipMeasures[contcol].measure, 3)</span>
                                        }
                                    </td>
                                    { contcol++; }
                                }
                            </tr>
                            boundaryInCurvaTip = false;
                        }
                    </tbody>
                </table>
            </div>
            <hr />

            if (cont == 1)
            {<p><strong>Total: @cont Frontera</strong></p>}
        else
        {<p><strong>Total: @cont Fronteras</strong></p>}

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Enviar reporte
    </button>
    <script>
         renderReportTable(@ViewBag.min.ToString().Replace(',','.'),@ViewBag.max.ToString().Replace(',', '.'), "@Url.Content("~")Scripts/es-CO.txt", "@ViewBag.fileName")
    </script>
}
else
{
    @ViewHelpers.NoElements()
}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalCenterTitle">Confirmación</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Confirma enviar la información de este reporte?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                @Html.ActionLink("Aceptar", "SendReport", "Reports", null, new { @class = "btn btn-block btn-warning", id = "btnSend" })
            </div>
        </div>
    </div>
</div>

<script>
    $('#btnSend').click(function myfunction() {
            $(this).attr('disable', 'disable')
    })
    
    $(function () {
         $('.tablestats').DataTable(
            {
                "language": {
                    "url": "@Url.Content("~")Scripts/es-CO.txt"
                 },
                 scrollY: '30vh',
                 scrollCollapse: true,
                 paging: false
            })
        //table.columns.adjust().draw()
    })


    $("[name='compareTo']").change(function () {
        var compareTo = $("[name='compareTo']:checked").val()

        if (compareTo == 0) { // Max value in boundary
            $("#curvaTipSelector").css("visibility","hidden")
        }
        if (compareTo == 1) { // CurvaTip
            $("#curvaTipSelector").css("visibility", "visible")
        }
    })

    $("#btnEjecutarCritica").on('click', function (e) {
        e.preventDefault();
        var curvaTipId = $("#curvaTipSelector option:selected").val();
        if (curvaTipId == "") {
            alert("Favor seleccione un elemento del listado de Curvas típicas.");
            return;
        }
        $("#criticParameters").val(JSON.stringify($("#criticParametersForm").serializeArray())) // This elements are contained in _Prereport partial view

        var ids = tableAllBoundaries.column(0).checkboxes.selected().join(',')
        $.ajax({
            url: ROOT + 'Reports/GetCurvaTipCriticTable',
            method: 'GET',
            data: {
                ids: ids,
                opday: $("#opday").val(),
                curvaTipId: $("#curvaTipSelector option:selected").val(),
                report_type: $("#report_type option:selected").val(),
                quantity_id: $("#quantity_id option:selected").val(), // 1 = Energía activa
                criticParameters: $("#criticParameters").val()
            },
            success: function (data) {
                $("#loader").hide();
                $("#prereport_data").html(data)
            }
        })
        //$("#btn_previs").click()
    })

    $("#btnSetDefaultCriticConfig").on('click', function (e) {
        e.preventDefault();
        $.ajax({
            url: ROOT + 'Critic/SetDefaultParametersConfig',
            method: 'POST',
            data: {
                criticParameters: JSON.stringify($("#criticParametersForm").serializeArray())
            },
            success: function (data) {
                // Writes 'OK' in the set button, and disappears after 3 seconds.
                $("#okConfig").text(data)
                setTimeout(function () { $("#okConfig").text("") }, 3000)
            },
            error: function (data) {
                alert(data);
            }
        })
    })

    // ==================== Initialization =======================

    // Load default configruation for the critic form
    var defFormConf = JSON.parse("@ViewBag.defaultFormConfig".replace(/&quot;/g, '"'))
    var configDict = {}
    defFormConf.forEach(function (item, i) { configDict[item.name] = item.value }) // Create a dictionary out of the name/value pairs

    $(function () {
        // Radio buttons
        $("input[name='compareTo'][value=" + configDict['compareTo'] + "]").prop("checked", true)
        $("input[name='excessValuePick'][value=" + configDict['excessValuePick'] + "]").prop("checked", true)

        // Text field
        $("input[name='excessValue']").val(configDict['excessValue'])
    })


    $(function () {
        if ("@ViewBag.CurvaTipsSelection" != "0") {
            $(".curvaTip").show()
            $("#showCurvaTip").prop('checked', 'true')
            $("#curvaTipSelector").val("@ViewBag.CurvaTipsSelection");
        }
        else {
            //$("#curvaTipSelector").prepend("<option value='' selected='selected'>---- Seleccionar curva típica ----</option>");
        }
    })

    $(function () {
        // Execute critic automatically with the default configuration
        $("#criticamedidas").collapse('show')

        $("#btnEjecutarCritica").click();
    })
    

</script>
