﻿@model IEnumerable<CGM.Models.CGMModels.VMeasure>
@{ int cont = 0; string buffer = "";}

@if (Model != null)
{
    <div class="card">
        <div class="card-body">
            @if (Model.Count() != 0)
            {
                <div class="table-responsive">
                    <table id="tblBoundaries" class="table small">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Código</th>
                                <th style="padding-right: 180px">Frontera</th>
                                <th>P/R</th>
                                <th>H0</th>
                                @for (int i = 1; i <= 24; i++)
                                {
                                    <th>H@(i)</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var boundary in Model.GroupBy(m => new Tuple<string, string, bool?>(m.name, m.code, m.is_backup)).OrderBy(g => g.Key.Item1))
                            {
                                if (boundary.Key.Item1 != buffer) { cont++; buffer = boundary.Key.Item1; }

                                <tr>
                                    <td>@cont</td>
                                    <td>@Html.DisplayFor(model => boundary.Key.Item2)</td>
                                    <td>@Html.DisplayFor(model => boundary.Key.Item1)</td>
                                    <td>@ViewHelpers.backupHelperSimple(boundary.Key.Item3)</td>
                                    <td>0</td>
                                    @foreach (var measure in boundary.OrderBy(m => m.hour))
                                    {
                                        <td class="text-center">@Math.Round(@measure.measure, 3).ToString().Replace(',', '.')</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <hr />

                if (cont == 1)
                {<p><strong>Total: @cont Frontera</strong></p>}
            else
            {<p><strong>Total: @cont Fronteras</strong></p>}

        <span style="width:100%">
            @*<button class="btn btn-success" onclick="cargarMedidas()" style="margin:20px;"><i class="fa fa-upload"></i> Cargar medidas </button>*@
            <button id="btnLoad" class="btn btn-success ladda-button" data-style="zoom-in" style="margin:20px;"><i class="fa fa-upload"></i> Cargar medidas </button>

        </span>
        <script>

            //renderReportTable(@ViewBag.min.ToString().Replace(',','.'),@ViewBag.max.ToString().Replace(',', '.'), "@Url.Content("~")Scripts/es-CO.txt", "@ViewBag.fileName")

        </script>

    }
    else
    {
        @ViewHelpers.NoElements()
    }
        </div>
    </div>
}
else
{
    <div class="row"><h4>Validación fallida.</h4></div>
    @Html.Partial("_TempResult")
}
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalCenterTitle">Confirmación</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Confirma enviar la información de este reporte?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                @Html.ActionLink("Aceptar", "SendReport", "Reports", null, new { @class = "btn btn-block btn-warning", id = "btnSend" })
            </div>
        </div>
    </div>
</div>

<script>
    $('#btnSend').click(function myfunction() {
            $(this).attr('disable', 'disable')
    })

    $("#btnLoad").click(function () {
        console.log("qué pasa che!")
        location.href = "@Url.Action("UploadDataFromFile","Reports",null)";
    })


</script>
