﻿@model IEnumerable<CGM.Models.CGMModels.Report>

@{
    String ctrl = ViewBag.ControllerName;
    var modelName = "tbl_" + ctrl;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}


<header>
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display">
                Index
            </h1>
        </div>
        <div class="col-lg-6 text-right">
            <div class="btn-group">
                @Html.ActionLink("+ Añadir nuevo elemento", "Create", null, new { @class = "btn btn-primary", data_toggle = "tooltip", data_placement = "top", title = "Agregar elemento" })
            </div>
        </div>
    </div>
</header>


<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div>
                <div class="card-header">
                    <h2> Listado</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="@modelName" class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Acquisition.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.AspNetUsers.Email)</th>
                                <th>@Html.DisplayNameFor(model => model.Destination.name)</th>
                                <th>@Html.DisplayNameFor(model => model.Program.name)</th>
                                <th>@Html.DisplayNameFor(model => model.Report_Type.report_type1)</th>
                                <th>@Html.DisplayNameFor(model => model.Status.name)</th>
                                <th>@Html.DisplayNameFor(model => model.date_and_time_to_report)</th>
                                <th>@Html.DisplayNameFor(model => model.date_and_time_to_report_end)</th>
                                <th>@Html.DisplayNameFor(model => model.date_and_time_report)</th>
                                <th>@Html.DisplayNameFor(model => model.is_active)</th>
                                <th>@Html.DisplayNameFor(model => model.time_elapsed)</th>
                                <th>@Html.DisplayNameFor(model => model.is_auto)</th>
                                <th>@Html.DisplayNameFor(model => model.external_report_id)</th>
                                <th>@Html.DisplayNameFor(model => model.operation_date)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Acquisition.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AspNetUsers.Email)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Destination.name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Program.name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.operation_date)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Report_Type.report_type1)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Status.name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.date_and_time_to_report)</td>
                                    <td>@Html.DisplayFor(modelItem => item.date_and_time_to_report_end)</td>
                                    <td>@Html.DisplayFor(modelItem => item.date_and_time_report)</td>
                                    <td>@Html.DisplayFor(modelItem => item.is_active)</td>
                                    <td>@Html.DisplayFor(modelItem => item.time_elapsed)</td>
                                    <td>@Html.DisplayFor(modelItem => item.is_auto)</td>
                                    <td>@Html.DisplayFor(modelItem => item.external_report_id)</td>
                                    <td>@Html.ActionLink(" ", "Details", new { id = item.id, }, new { @class = "fa fa-list", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Detalles" }) &nbsp;</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")
    <script>
        $(document).ready(function () {
            $('#@modelName').DataTable(
                    {
                    "language": {
                        "url": "../Scripts/es-CO.txt"
                    }
                }
            );
        });
    </script>
}

@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}


