﻿@model CGM.Areas.SurveyApp.Models.SurveyTemplate

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>
@Html.ActionLink("Preguntas", "Index", "Questions", Model.Id, null)
@Html.DisplayFor(model => model)
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Encuestas", "Index", "Map", new { id = Model.Id }, null)|
    @Html.ActionLink("Regresar", "Index")
</p>
@section scriptsbody{
    <script src="~/Scripts/qr/jquery.qrcode.js"></script>
    <script src="~/Scripts/qr/qrcode.js"></script>
    <script>
        $('#qrcodeCanvas').qrcode({
            text: "@string.Format("{0}-{1}-{2}",Model.Name,Model.Id,Model.Is_Active)"
        });
    </script>
}