﻿@model IEnumerable<CGM.Areas.SurveyApp.Models.SurveyTemplate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";

}

<header>
    <div class="row">
        <div class="col-sm-6">
            <h1>
                Plantillas de encuesta
            </h1>
        </div>
        <div class="col-sm-6 text-right">
            @Html.ActionLink("+ Nueva plantilla de encuesta", "Create", null, new { @class = "btn btn-primary", id = "nuevoElemento"})
        </div>
    </div>
</header>

<div class="card">
    <table class="table">
        <tr>
            <th>
                Creador
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is_Active)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Is_Active)
                </td>
                <td>

                    @Html.ActionLink("Preguntas", "Index", "Questions", new { id = item.Id }, null) |
                    @*@Html.ActionLink("Encuestas", "Index", "Map", new { id = item.Id }, null) |*@
                    @Html.ActionLink("Consolidado", "DownloadCSV", "SurveyManager", new { id = item.Id }, null) |
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id })
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>